[2014-10-28 11:14] myroslav opened #1 "Difference from RFC 6902"
It would be great to have highlights of the difference the library offers comparing to https://tools.ietf.org/html/rfc6902 standard and its python implementations.

[2015-07-05 21:11] vinittt opened #3 "DeepDiff has a bug when comparing repeated child elements."
Comparing the following
{u'root': {u'a': [{u'a1': u'a2'}, {u'a1': u'a1', u'a2': u'a2'}], u'b': u'b1'}}
with
{u'root': {u'a': [{u'a1': u'0'}, {u'a1': u'1'}, {u'a1': u'a2'}, {u'a1': u'a1', u'a2': u'a2'}], u'b': u'b1'}}
gives the following result, which is incorrect. It should only have added elements.
{'dic_item_removed': [u"root['root']['a'][1][u'a2']"],
 'list_added': [u"root['root']['a']: [{u'a1'

[2015-07-06 07:57] vinittt commented on #3
root cause is that zip creates a tuple forcing comparisons only at the same index and not across the list...

 elif isinstance(t1, Iterable):

            try:
                t1_set = set(t1)
                t2_set = set(t2)
            # When we can't make a set since the iterable has unhashable items
            except TypeError:

                for i, (x, y) in enumerate(zip(t1, t2)): <<<---

[2015-07-06 08:12] seperman commented on #3
Interesting. Thanks for pointing that out. I will fix it asap.

[2015-07-20 04:09] seperman commented on #3
@vinittt
I just looked at your bug report and DeepDiff is returning the correct result. For an additional test, I put your example in a json diff page and it gave the same results as deepdiff. You have value changes in your example, not just addition of items.

[2015-07-20 04:09] #3 closed

[2015-07-22 16:36] muikrad opened #4 "String comparison uses identity testing - it should use equality testing"
deepdiff.py ln:291

"elif t1 is not t2" should be rewritten into "elif t1 != t2"

http://stackoverflow.com/questions/1504717/why-does-comparing-strings-in-python-using-either-or-is-sometimes-produce

[2015-07-22 18:13] seperman commented on #4
good point!

[2015-07-22 18:14] #4 closed

[2015-07-22 18:18] seperman opened #5 "Take order into consideration for iterables"

[2015-07-22 19:46] #5 closed

[2015-07-24 01:52] muikrad opened #6 "Support recursion in custom objects"
I have this scenario trying to inspect some items from the boto package:

[code]

[2015-07-24 05:27] seperman commented on #6
What are you exactly trying to inspect in boto? I don't remember a self.loop in boto.
The test class you have made has a loop to itself so DeepDiff gets stuck in that loop since it tries to get to the bottom depth of your object,

[2015-07-24 11:11] muikrad commented on #6
I have seen this sort of design multiple times - i know pytest has it as well. Of course there's no explicit "loop", that's for the bug's purpose; the point is that Python supports such circular references but DeepDiff doesn't.

The boto class I'm trying to compare is the ElasticLoadBalancer attributes. The "Health Check" attribute has an access point attribute that also lists the health checks, a

[2015-07-24 17:48] seperman commented on #6
Great point. I'm adding loop detection.

[2015-07-26 08:01] seperman commented on #6
I just added recursion detection and added some tests. Please let me know if you again run into issues with boto.

[2015-07-26 08:01] #6 closed

[2015-07-26 14:50] muikrad commented on #6
Bingo :) Thank you so much!

[2015-08-05 18:27] muikrad opened #7 "Implement index-agnostic list comparison"
Sometimes, I want to ensure that a value is in a list but I don't care if the object is at a different index in the list.

I'd like to be able to pass a flag so that [1, 2, 3, 4] returns no difference against [3, 4, 2, 1].

However, [1,2,3,4] compared to [3,2,1,4,1] should be able to tell me that an extra '1' is present in the 2nd list.

[2015-08-05 18:32] seperman commented on #7
Ok, do you think it should be a flag that you set and it makes all the iterables comparison index agnostic, or should it be a new key in the returned dictionary that is like "index_agnostic_iterable_item_added" ?

[2015-08-05 19:25] muikrad commented on #7
I guess it depends on the scenario. For my specific case, I just want DeepDiff to completely stop reporting a difference if the index is the only difference.

[2015-08-11 23:32] seperman commented on #7
I added the `ignore_order` flag. v0.5.7
Example:

    List difference ignoring order or duplicates: (with the same dictionaries as above)

        {}

[2015-08-11 23:32] #7 closed

[2015-08-12 00:23] muikrad commented on #7
That's useful, thank you :)

[2015-10-28 20:42] GMali opened #8 "Request: Support Lists of Dicts"
Thanks for working on this library @seperman ! A real time saver, love it!

I have a small request that I would like to make: Can it support lists of dicts as well? So something like this for example:

[code]
The expected output (as a user) would be:
[code]
But the actual output is:
[code]

Which makes sense looking at the source code, because `ignore_order` is supported only for unhashable iterat

[2015-10-31 01:54] seperman commented on #8
@GMali Thanks for the feedback!
That is an interesting case. I will look into it asap.

[2015-11-02 03:35] seperman commented on #8
@GMali  I just added this feature but I'm not 100% happy with the implementation. Let me know what you think before I publish it on pypi.

[2015-11-02 05:49] GMali commented on #8
Sweet, thanks for working on this! I think the clarification in README is useful. I wouldn't expect myself (or anyone else) to use `deepDiff` for very large amounts of data.

If you're concerned with performance, then you could set up some benchmarks and compare this solution vs any other that you may think of (for eg: recursively checking for inner data sets in the dict vs JSONifying the dict).

[2015-11-02 20:33] seperman commented on #8
Ok cool. :)

[2015-11-02 20:33] #8 closed

[2016-01-18 23:11] rct opened #11 "Document minimum python version >= 2.7 due to set literals"
I believe this won't work on Python < 2.7 because of the use of the set literal which wasn't introduced until 2.7.  On 2.6 and earlier import will generate a syntax error:  The documentation should indicate that it requires 2.7 or later.

[code]

[2016-01-19 21:52] seperman commented on #11
@rct Thanks for the note. I just updated the docs.

[2016-01-19 21:52] #11 closed

[2016-02-04 17:25] rh0dium opened #13 "Comparing types fail when string ends with "%""
Hi there,

This is a pretty easy one!  Yup this fails - You probably want to quote or escape it.  The line numbers are off as I was trying to figure out what it was :)

[code]

[2016-02-09 20:27] k2xl opened #15 "Confused about output"
`
json.dumps(ddiff)
`

`
  "dic_item_added": [
        "root[u'dont', u'stop', u'believing']"
    ],
`

dic_item_added is an array of only one element, even though there are three keys that were added. Wouldn't it make more sense if there were three elements representing each item? I'm trying to fail a test if specific fields are in the dic_item_added array, and the format makes it very difficult

[2016-02-17 02:54] seperman commented on #15
@k2xl are you saying it should be `"dic_item_added": [ "root[u'dont'], root[u'stop'], root[u'believing']" ], ` ?

[2016-02-17 15:50] k2xl commented on #15
[code]
or
[code]
or
[code]

[2016-02-17 15:53] k2xl commented on #15
FYI - I'm trying to write a test and compare if a dictionary has added, removed, or changed from another dictionary. I did end up using another library to do this, https://github.com/inveniosoftware/dictdiffer/blob/master/docs/index.rst , but thought you may want to add the feature for future users. Thanks for your hard work!

[2016-02-27 05:42] seperman commented on #13
This issue is addressed by restructuring the output.

[2016-02-27 05:42] #13 closed

[2016-02-27 05:44] seperman commented on #15
@k2xl I restructured the output so it is way easier to extract data from the output now.

Example:

[code]

[2016-02-27 05:44] #15 closed

[2016-02-27 05:58] seperman opened #17 "Make it work with pypy"

[2016-02-29 15:40] k2xl commented on #15
Great stuff. Cheers

[2016-03-15 15:09] timoilya opened #19 "Error when comparing lists of sets if ignore_order=True"
Error when comparing lists of sets if ignore_order=True.
For example,
`DeepDiff([{1}, {2}, {3}], [{1}, {2}, {3}, {4}], ignore_order=True)`
printed
`
Warning: Can not produce a hash for set([1]) item in root and                        thus not counting this object.
Warning: Can not produce a hash for set([2]) item in root and                        thus not counting this object.
Warning: Can not pr

[2016-03-15 21:02] seperman commented on #19
@timoilya I changed the line from serializing Json to pickle and it solved the problem.
I really liked your solution but it was creating the same hash for dictionaries that had the same keys but different values. DeepDiff 1.0.1 is pushed to Pypi. :)

[2016-03-15 21:02] #19 closed

[2016-03-23 20:39] cupcakeboy opened #21 "Recursion into dictionaries is limited to type dict"
Recursion into dictionaries is currently limited to just those objects of (or inheriting from) type dict, as per deepdiff.py line 441

`elif isinstance(t1, dict):
            self.__diff_dict(t1, t2, parent, parents_ids)`

This causes a problem for my intended use of your excellent package, because other than my top-most dictionary, all of my nested dictionaries are subclassed from collections.Mut

[2016-03-23 23:44] seperman commented on #21
@cupcakeboy funny you bring it up. I thought I had fixed it but apparently I had fixed it in another library but not DeepDiff. Thanks for the comments! I will fix it today.

[2016-03-25 21:36] seperman commented on #21
@cupcakeboy I just published 1.0.2. It should work now.

[2016-03-25 21:36] #21 closed

[2016-03-25 21:54] seperman commented on #1
It took a while, but finally I addressed this in the readme and docs.

[2016-03-25 21:54] #1 closed

[2016-05-26 22:09] seperman commented on #17
Resolved

[2016-05-26 22:09] #17 closed

[2016-06-17 20:09] inoks opened #22 "Can't properly compare dictionaries if specific key used"
Hi!

I'm trying to compare xml documents converted to dict and here issue:

[code]
I expected result should be the same - empty dictionaries.

[2016-06-17 23:49] seperman commented on #22
@inoks Thanks for reporting this. This is caused by pickle caring about dictionary order which I was not aware of:

[code]

I will fix it as soon as I can.

[2016-06-18 01:21] seperman commented on #22
Testing further, it works correctly 90% of times in python3. I'm gonna be refactoring some code to make this work.

[2016-06-18 15:19] inoks opened #23 "Can't compare dict if it contains list of dicts with different order"
Hi.
Here one more example of wrong comparison. Maybe here same root as in #22, but in that case it give wrong results, does not matter, which value `ignore_order` was passed.
[code]

[2016-06-18 17:28] seperman commented on #23
Yes this is the same as #22

[2016-06-18 17:28] #23 closed

[2016-06-24 11:38] WangFenjin opened #25 "Add ignore fields support"
Hi,

There are occasions we need to ignore some fields even if there are diff, like timestamp or some auto increment count.

I'd like to implement this feature and send you a PR. What do you think?

[2016-06-24 11:39] WangFenjin commented on #25
Code samples as bellow:

         ignore_list = [u"root['Base']['LogID']", u"root['BaseReq']['StreamCount']"]
         for k, v in getattr(self, items)():
             for k1 in v.keys():
                 if k1 in ignore_list:
                     del v[k1]

[2016-06-29 13:36] ThriceGood commented on #22
Hey,

I'm wondering if this is related to the issue I'm having:

<pre><code>
d1 = {
	'key1': 'val1',
	'key2': [
		{
			'key3': 'val3',
			'key4': 'val4',
		},
		{
			'key5': 'val5',
			'key6': 'val6',
		},
	],
}

d2 = {
	'key1': 'val1',
	'key2': [
		{
			'key3': 'val3',
			'key4': 'val4',
		},
		{
			'key5': 'CHANGE',
			'key6': 'val6',
		},
	],
}

{'values_changed': {"root['key2'][1]['key5']": {'

[2016-06-29 18:31] seperman commented on #25
@WangFenjin Sounds great!!

[2016-06-29 18:34] seperman commented on #22
@ThriceGood Yep, I need to fork Pickle and make it sort data while serializing. I will do that this weekend.

[2016-07-01 01:32] seperman commented on #22
@ThriceGood I looked at your notes again and you are correct, that is a whole different issue and it is currently by design. I will open a ticket and add you there so we can discuss.

[2016-07-01 02:16] seperman commented on #22
This issue is fixed in 1.5.0 release. I will put it on pypi today.

[2016-07-01 02:16] #22 closed

[2016-07-05 17:03] inoks commented on #22
Unfortunately that update does not helps with my case, I will put more complex example later.

[2016-07-05 17:18] seperman opened #29 "Comparing similar objects when ignoring order"
[code]

works as expected. What seems to cause a problem it when
I re-order the list and have a changed value in one of the lists dicts.

**Using with ignore_order=True.**

[code]

It looks like it sees it as a new dict instead of a changed value in a current dict.

[2016-07-05 17:20] seperman commented on #29
@ThriceGood I copied your comment into a new ticket. I have to think about a solution for this.

[2016-07-05 17:22] seperman commented on #22
@inoks Yes, please post an example that fails and reopen the ticket then. Thanks!

[2016-07-13 05:47] ilium007 opened #31 "Output is not as per docs"
I am not sure if I am dong something wrong but the output I get is a set within a dict:

`>>> pprint (ddiff)
{'dic_item_added': set(["root['base_path/someapp/app_ids/android']",
                        "root['base_path/someapp/app_ids/ios']")}`

[2016-07-13 18:33] seperman commented on #31
@ilium007 You are on Python2. The docs are in Python3.
So in python2:

[code]

And in Python3:

[code]

`dic_item_added` is a set of keys added to the dictionary.

[2016-07-13 18:33] #31 closed

[2016-07-14 22:20] ilium007 commented on #31
Cool - thanks for that.

[2016-07-16 01:03] seperman commented on #31
sure!

[2016-07-25 22:40] asyschikov opened #33 "Support dates"
For some reason datetimes are supported but not dates...

[2016-07-26 09:14] liuweichu opened #34 "Print out value when dictionary Item added and/or removed"
For example, it will be nice to have:

[code]

[2016-07-31 06:40] seperman commented on #33
@asyschikov good point. I always used datetime instead of date so didn't add it. Will add it soon.

[2016-07-31 06:45] seperman commented on #34
Interesting. I will add an option to make output more verbose.

[2016-07-31 06:46] seperman commented on #25
@WangFenjin I think the ignore should happen as it is parsing the data instead of filtering the result at the end.

[2016-08-06 01:29] seperman commented on #25
This is being address at https://github.com/seperman/deepdiff/pull/36

[2016-08-06 19:08] #25 closed

[2016-08-06 19:44] seperman commented on #33
Fixed in 1.9.0

[2016-08-06 19:44] #33 closed

[2016-08-07 04:18] seperman commented on #34
This is address at v2.0.0
You can use the flag `verbose_level=2`

[2016-08-07 04:18] #34 closed

[2016-08-07 10:01] WangFenjin commented on #25
Hi @seperman ,
Sorry for late response. #36 is an excellent implementation. Thanks for your great work!

[2016-08-09 13:33] anatoly-kussul opened #38 "Ignore order for nested iterables"
I have a list, that contains lists inside, is there any way to make ignore_order recursive?
Example:
[code]

[2016-08-09 23:13] seperman commented on #38
I made some adjustments and it works with list containing lists but not lists containing dictionaries.
We will have to fork Pickle and make it consistent in order to get the best results.

[2016-08-09 23:13] seperman commented on #38
It is in 2.1.1

[2016-08-10 09:27] anatoly-kussul commented on #38
Thanks for quick fix.
But it doesn't work if i have nested list in nested list:
[code]
Have some another not working example with nested list in dictionary values:
[code]

[2016-08-10 16:55] seperman commented on #38
I'm gonna have to write another serializer instead of Pickle to make this work right. Will keep you posted.

[2016-08-11 12:43] anatoly-kussul commented on #38
Ok, thanks.

[2016-08-11 18:28] seperman commented on #38
I had some time to finally write a custom content hash for this issue. It passes the sample inputs you have mentioned here. https://github.com/seperman/deepdiff/tree/contenthash
Please check it out and let me know if it works fine.

[2016-08-12 07:54] anatoly-kussul commented on #38
For me it looks like it works fine now, thanks.
I found one more case in which it works incorrectly, but I think it's another issue, and I'm not sure how it suppose to work.
[code]
prints
[code]

[2016-08-12 08:30] anatoly-kussul commented on #38
Found another weird case with repetitions:
If repetition is in top level list it's ok:
[code]
[code]
But if repetition in nested list, it works another way:
[code]
For me it's fine, but I think it's weird that logic is different for top-level and nested lists

[2016-08-18 01:45] seperman commented on #38
@anatoly-kussul I merged the PR. It seems it does a great job when ignoring order now. But it does not do it right as far as reporting repetition. The reason is that once it identifies to items as being the same when order is ignored, it won't bother to check what is inside them for repetitions. I have some ideas how to do this properly later.

[2016-08-18 01:45] #38 closed

[2016-08-18 01:45] seperman commented on #38
https://github.com/seperman/deepdiff/pull/39

[2016-08-18 08:29] GuyShaanan opened #41 "no module named helper"
Python 2.7 and virtualenv.
Installed latest 2.5.0.

Getting exception: `no module named helper`.
file: `diff.py`, line: 14 `from deepdiff.helper import py3`.
Same for line 15.
Same for `contenthash.py`, `search.py`.

Removing the `deepdiff.` prefix solved this issue. (i.e. `from helper import py3`).

[2016-08-18 14:17] seperman commented on #41
@GuyShaanan  Thanks for reporting. Fixed it in 2.5.1

[2016-08-18 14:17] #41 closed

[2016-08-19 07:47] anatoly-kussul commented on #38
Thanks a lot. :+1:

[2016-08-20 00:29] seperman commented on #25
sure!

[2016-09-24 19:13] divamgupta opened #44 "Applying diff on an object"
I have two objects O1 and O2.

if `d = diff(O1 , O2)`

can I generate O2 using d and O1?

[2016-09-25 00:49] seperman commented on #44
@divamgupta Right now DeepDiff doesn't provide this feature but if enough people need this feature, we can implement it. I don't personally have a use case for it. Where would you use it?

[2016-09-25 06:16] divamgupta commented on #44
It can be used to log objects which change over time. Rather than logging the complete object we can log the changes of that object. To view the object at any time instance we would have to apply the diff.

[2016-09-30 04:30] kapilt opened #45 "option to ignore type changes (unicode vs string), or (datetime vs string)."
working with comparing previous versions of objects to the api, the revision storage creates some natural deltas from strings to unicode, and from datetime objects to iso strings.

[2016-09-30 12:23] anatoly-kussul commented on #44
Also, if you have to transfer some changes of an object between two processes, this may be useful.

[2016-09-30 17:19] seperman commented on #45
Interesting. I wonder whether this should be done by DeepDiff or it is a use case that should be done outside DeepDiff.

[2016-09-30 17:20] seperman commented on #44
Cool. I will look into it when I have a chance.

[2016-10-07 14:51] giulioungaretti commented on #44
I think it's a great idea too!
@seperman  another use case is with son config files for examples, where you just want to save the diff, instead of the entire updated configuration and the apply it !

[2016-11-02 16:11] anatoly-kussul opened #47 "Regex support in exclude_path"
I have two lists of dictionaries
[code]
and I want to ignore key 'b' in all dictionaries while comparing them.
I think that it would be pretty nice if I could just use
[code]
or something like that.

[2016-11-03 15:28] victorhahncastell commented on #47
@anatoly-kussul I think that's a great idea. It also should be very easy to implement. Probably amending DeepDiff.__skip_this() is sufficient. I'm gonna look into this. Just can't promise when exactly that will be :D

[2016-11-08 12:57] andreas128 opened #48 "Problem with ignore_order and lists"
Following example did not work for me:

    {"a":[[{"b":2,"c":4},{"b":2,"c":3}]]},
    {"a":[[{"b":2,"c":3},{"b":2,"c":4}]]},
    ignore_order=True
)
output:
{'iterable_item_added': {"root['a'][0]": [{'b': 2, 'c': 3}, {'b': 2, 'c': 4}]},
 'iterable_item_removed': {"root['a'][0]": [{'b': 2, 'c': 4},
   {'b': 2, 'c': 3}]}}

[2016-11-08 13:35] Bernhard10 opened #49 "Mappings should be compared with __diff_dict instead of __diff_iterable"
Currently,  `__diff_dict` is used for `MutableMapping` instances, while `__diff_iterable` is used for `Mapping` instances. I think this should be changed to be more consistent.

[2016-11-08 14:32] Bernhard10 opened #50 "Comparing based on hashes does not work with the significant_digits option"
Unfortunately I currently don't know how to best solve this.
The following options seem possible:
-) Change the hashing function to only take n significant digits into account.
-) Use comparison without hashes if the significant_digits option is present
-) Do the comparison with unchanged hashes and postprocess the result.

My current workaround is to postprocess the diff result like this:
[code]

[2016-11-09 10:49] Bernhard10 commented on #50
I added 2 failing tests in [my fork of this repo](https://github.com/Bernhard10/deepdiff/tree/failing_test_sigdig_sets)

[2016-11-19 08:52] seperman commented on #50
@Bernhard10 I think the option you are proposing that is taking into account the `significant_digits` in hashing might be the best option. Otherwise we are scanning over the whole result again as in your example and it feels more like a temporary solution then.

[2016-11-19 08:55] seperman commented on #48
Thanks for reporting the issue @andreas128
It must have to do with the content hash generation. I will look into it.

[2016-11-19 08:58] seperman commented on #49
Thanks @Bernhard10 for reporting the issue and the PR.

[2016-11-22 10:49] Iftahh opened #52 "feature request: comparing dict with strings to dict with regex values"
I'd like to compare a dictionary where some of the expected values are regex to be matched to matching string values.

eg. something along:

[code]

I figure it will be very easy to implement,  a small extension of `type_changes` from string to regex.

[2016-11-30 02:53] seperman commented on #48
@andreas128 This issue is fixed in DeepDiff 3 which is in development. I will close this issue once we release v3.

[2016-11-30 04:10] pouledodue commented on #44
Event Sourcing is gaining momentum and this feature ^^ would be a killer feature.
In Event Sourcing we need to apply tons of diff to object and there is currently no good way to do it.
To see our use case just read pages 9 to 12 of [this thesis](http://www.diva-portal.se/smash/get/diva2:877307/FULLTEXT01.pdf)

[2016-11-30 19:44] seperman commented on #44
Thanks for the great work by @victorhahncastell this shouldn't be difficult to implement. We will try to implement it in V3 release!

[2016-11-30 22:39] pouledodue commented on #44
would be great to have a mode optimized for space as we store millions of diffs

[2016-12-05 03:48] seperman commented on #48
Since v3 still needs some docs to be completed, v2.5.2 is released and it addresses this bug.

[2016-12-05 03:48] #48 closed

[2016-12-05 13:28] darkstarx opened #53 "Mistake in using of logger"
see file deepdiff/diff.py:579
                logger.warning("Can not produce a hash for %s item in %s and "
                               "thus not counting this object: %s" % (item, parent), e)  # << HERE

string formatting, bracket:
                               "thus not counting this object: %s" % (item, parent, e))

[2016-12-05 20:08] seperman commented on #53
@darkstarx Thanks for reporting the issue. It is resolved and 2.5.3 is released.

[2016-12-05 20:08] #53 closed

[2016-12-06 12:26] darkstarx commented on #53
Many thanks, guys!

[2016-12-12 08:10] seperman commented on #50
@Bernhard10 I fixed it by making content hash take significant digits into account. It passes your tests now! The fix will be in v3 which still needs some work and documentation. I will close this ticket once v3 is released.

[2016-12-15 22:49] finnhughes commented on #45
It would have been helpful for me saving me from having to do a bunch of unicode casts and worse some ugly BSON related casts in my tests when a python equality comparison is happy to ignore the type difference as long as the values match. Obviously it would have to be optional since DeepDiff being fussy about type is a great feature at other times.

[2016-12-18 16:23] pouledodue commented on #44
by optimized I mean simply use for example 'vc' instead of 'values_changed' as index...
no need for something ultra-optimized...

[2017-01-16 15:16] dbrrt opened #55 "export in real JSON"
Currently using deepdiff for reporting different between objects versioned, I store the return of this function using pymongo, but some of the attributes values are not JSON compliant and I can't really store them without converting these values, for instance, when I add new dictionaries to my object, the set value added will not be serializable as is (I've to convert these as lists). It'd be nice

[2017-01-17 08:16] seperman commented on #55
@dbrrt Good point. We will make it json serializable.

[2017-01-21 15:31] dbrrt commented on #55
For those who're having the same issue, I bypassed this, by creating a custom encoder Python Class,

[code]

And I'm invoking it, like this :

[code]

[2017-01-27 07:51] seperman commented on #49
V3 is released today!

[2017-01-27 07:51] #49 closed

[2017-01-27 07:51] seperman commented on #50
V3 is released today!

[2017-01-27 07:51] #50 closed

[2017-01-27 07:54] seperman commented on #55
We released the version 3 today. It has a more complex data structure now since we offer the tree view. It is much easier to json dump the text view than tree view. I have to think about how to serialize the tree view.

[2017-01-27 10:18] dbrrt commented on #55
Thanks for the notification, I'll check-up that

[2017-01-27 11:39] MartyHub commented on #47
https://github.com/seperman/deepdiff/pull/56

[2017-01-27 19:07] robertglen commented on #55
Ironic, I had just discovered, coded against, and deployed this to my production fleet yesterday as 2.5.3 probably moments before 3.0 was released.

Today I have run into the non-JSON serializable issues for datetime objects, int types, and bool types.  I can work around the datetime objects by using flask jsonify which handles and converts datetime to a str, but I'm screwed when values are a lite

[2017-01-27 19:18] dbrrt commented on #55
@robertglen To avoid any trouble with Datetime Objects, I only use the ISO String format representation, which is really convenient, because any time manipulation library, native or not, can parse it; and yes you can use a workaround before it'll be plainly supported by DeepDiff, by overriding a JSON encoder as I did above. At least, it works.

[2017-01-28 00:26] robertglen commented on #55
@dbrrt I've implemented your encoder class with an added ability to handle type objects as well as datetime.datetime.  All is well, thanks.

[2017-01-28 00:45] seperman commented on #55
@robertglen Can you please post your implementation here or make a PR?
I will add that to DeepDiff and release `3.0.1` immediately. Thanks.

[2017-01-31 00:35] seperman commented on #55
This issue is resolved: https://github.com/seperman/deepdiff#serialization

[2017-01-31 00:35] #55 closed

[2017-01-31 01:50] seperman commented on #55
Note that `jsonpickle` is not safe and it can cause security issues if you can't trust the serialized data. I will try to add a `deepdiff.from_json_safe` too which will be way more limited but safe.

[2017-03-04 00:28] finnhughes opened #58 "TextDiff incorrectly represents dictionary_item_removed when value is None"
Before 3.0 the following test would pass but now fails:
[code]
with:
`AssertionError: {'dictionary_item_removed': set(['root'])} != {'dictionary_item_removed': set(['root[1]'])}`

I'm not sure where or how to fix it? The closest I've come is by tweaking `auto_generate_child_rel` to remove `if self.down.t1 is not None:` but that causes some other tests to fail.

In `path()` because `level.t1_child_

[2017-03-04 11:37] victorhahncastell commented on #58
@finnhughes, that's an interesting case, thanks for reporting! I guess this is because while generating the change tree we use None to indicate a non-existing object. Which might not be such a smart choice. I'll have a look at it.

[2017-03-04 13:53] victorhahncastell commented on #58
Possible solution in 8ee338b40714921cff91d7019f18c88cc8d528e0
Note this changes TreeView's API as non-existing objects are now represented as an instance of NotPresentHere instead of None.
@seperman, what do you think?

[2017-03-04 19:25] seperman commented on #58
@victorhahncastell Thanks for jumping on this so quick! I really like your implementation. I added a comment in the PR.

[2017-03-04 20:35] finnhughes commented on #58
Awesome!

I laughed out loud at your comment 😀

[2017-03-04 21:35] seperman commented on #58
Thanks @finnhughes for reporting and thanks @victorhahncastell for the quick fix!!

[2017-03-04 21:51] seperman commented on #58
v3.1.1 is published addressing this bug.

[2017-03-04 21:51] #58 closed

[2017-03-07 15:34] victorhahncastell commented on #44
@divamgupta @anatoly-kussul @giulioungaretti  @pouledodue This sounds quite interesting. Could you elaborate a bit on what exactly would you use this feature for? What's the reason for only storing the diff in the first place -- to conserve disk space? A bit of a problem might be that DeepDiff is currently not at all optimized to create small diffs. To the contrary -- since introducing TreeView wi

[2017-03-08 15:31] phoebebright commented on #45
I agree, particularly be able to ignore unicode vs. string optionally.

[2017-03-14 23:13] moloney opened #60 "Issue comparing bytes"
In python 3.5 I get the following error when trying to diff two objects that contain byte strings:

    site-packages/deepdiff/diff.py in __diff_str(self, level)
        904
        905         # do we add a diff for convenience?
    --> 906         if '\n' in level.t1 or '\n' in level.t2:
        907             diff = difflib.unified_diff(
        908                 level.t1.splitlines(), level

[2017-03-15 12:24] proudh0n commented on #45
I also agree. I find necessary to compare dicts without comparing the types of the values

[2017-03-24 12:30] flomotlik commented on #45
Any thoughts on this? Would definitely be helpful, happy to lend a hand if you have an implementation in mind.

[2017-04-03 07:16] viehwegerlib commented on #44
+ 1 to store `(diff, new.json)` as a form of version control that can recover `old.json`, very useful

[2017-05-08 12:21] exarkun opened #64 "set comparison broken sometimes"
[code]

[2017-05-10 22:45] seperman commented on #64
Interesting. I will look into it. Thanks for reporting.

[2017-05-25 11:58] elmarti opened #66 "Identify structural key differences, but ignore values"
I would like to compare 2 objects and identify structural differences to ensure parity, but because these objects will always have different values, I only want to get the differences in the key structure. Is this possible with this module? When performing the checks it appears to ignore structural differences in deep objects and always note value differences.

[2017-05-25 20:09] seperman commented on #66
What do you mean by structural difference? Can you please provide an example? If you have a nested object, all the values except the leaf nodes are part of the structure.

Sep Dehpour

[2017-05-25 21:15] elmarti commented on #66
Hi, like below:
First object
[code]
Second object
[code]
When checking the objects it should only identify that val3 is extra on the second object and val2 is extra on the first.

[2017-05-29 05:42] seperman commented on #64
@exarkun This issue is fixed. v3.2.1 is released.

[2017-05-29 05:42] #64 closed

[2017-05-29 05:44] seperman commented on #66
If you ignore `values_changed` and just look at the other attributes, it is basically giving you the structural changes.

[2017-05-29 05:44] #66 closed

[2017-05-29 05:47] seperman opened #68 "Feature: Add threshold for numerics"
We already have ignore significant digits but what we need to add is a threshold for numerics so that it ignores the diff if it is within the threshold.

For example if threshold is 1% then the diff between 1000 and 1001 should be ignored.

[2017-05-29 05:47] seperman commented on #60
@moloney Thanks for reporting this bug. I will look into it asap.

[2017-05-31 01:35] moloney commented on #60
This was actually fixed in my PR #61

[2017-06-06 12:31] pramodmauryaiiita commented on #68
I was using this enhancement since 1month on prod, but I never got time to push. Now, raised a PR for the same.

[2017-06-06 21:55] maxrothman opened #71 "Feature: Search for types/objects"
Currently when encountering an object, `DeepSearch` examines that object's `__dict__` without testing whether the object is what's being searched for. By example:

[code]

This would also allow global singletons like `None` and functions to be searched for.

This seems like it'd be a fairly small change, just an `if item == obj` check at the top of `DeepSearch.__search_obj`. If you think this a go

[2017-06-07 00:52] seperman commented on #71
I see. I always found that syntax to be confusing too. That's why I added the grep syntax. What do you think about that? https://github.com/seperman/deepdiff#grep

[code]

[2017-06-07 00:53] seperman commented on #60
oh! right. Thanks for the PR!

[2017-06-07 00:53] #60 closed

[2017-06-07 14:43] maxrothman commented on #71
The issue isn't a confusion in `DeepSearch`'s syntax, `grep` produces the same result:

[code]

It's pretty clear where the problem is coming from. If you look at [`DeepSearch.__search_obj()`](https://github.com/seperman/deepdiff/blob/master/deepdiff/search.py#L130), it treats any object it gets as a dict and searches its attributes without checking equality on the object itself.

It might be clea

[2017-06-07 14:54] maxrothman opened #72 "Feature: exclude specific objects"
It's currently possible to exclude types from `DeepDiff` and `DeepSearch` using the `exclude_types` kwarg. However, it's not possible to exclude certain values. Here's an example of what I'm looking for:

[code]

This would be useful for excluding complex objects from a diff or search, such as UUIDs or datetimes. Though not strictly necessary, it might be a good idea to also make it possible to us

[2017-06-07 16:02] maxrothman opened #73 "DeepSearch doesn't search for inherited class attributes"
[code]

The solution to this looks pretty simple: in `DeepSearch.__search_obj()`, change [this line](https://github.com/seperman/deepdiff/blob/master/deepdiff/search.py#L134) to `obj = {getattr(attr) for attr in dir(obj)}`. `dir()` traverses the inheritence tree, finding attributes not in `__dict__`. I'm happy to make a PR if this looks good to you.

[2017-06-13 21:21] seperman commented on #71
Hi @maxrothman
Oh, I see what you mean now! Yes please make a PR if you have time.
Thank you.

[2017-06-13 21:46] seperman commented on #72
I think we should start deprecating `exclude_type` and instead make it so it takes `exclude`.
Then it checks if the item in the exclude list is a class or not. If it is a class it should basically do `exclude_type`, otherwise it should use `is` as you mentioned to exclude exact objects that need to be excluded. Please make a PR if you have time. Also please make the appropriate changes to the `con

[2017-06-13 21:48] seperman commented on #73
@maxrothman Yes please make a PR! Thanks for opening all these tickets.

[2017-06-14 03:35] maxrothman commented on #72
I'm not sure I agree with the approach of magically deciding whether to do `isinstance` vs `==` vs `is` comparison. Classes are also objects, what you want to exclude a class object from a diff? Or what about objects with well-defined `==` operations, like datetimes and uuids? It almost seems like we'd need a more complex API, something like this:
[code]
I'm not terribly fond of this specific API,

[2017-06-14 03:40] maxrothman commented on #73
No problem! PR is up.

[2017-06-19 19:18] maxrothman commented on #72
Thinking about this a little more, being able to match based on ID or `==` would also be useful in `DeepSearch` for matching the thing you're searching for. Additionally, I can imagine users wanting to add more complex matching rules, so maybe this is a good opportunity for a hole-in-the-middle approach, something like this:

[code]

This way, users could specify their own matchers, and existing f

[2017-06-30 21:14] #71 closed

[2017-06-30 21:21] #73 closed

[2017-06-30 21:22] seperman commented on #73
Thanks for the PR @maxrothman
Sorry it took me a while to go over them.

[2017-07-06 18:34] ri0t commented on #44
I'm building a migration system for jsonschema-defined data. I can apply diffs already. Not sure, if it handles special cases exactly right (probably not... ...yet)... Can show that soon, will publish the code @ https://github.com/Hackerfleet/hfos/tree/master/hfos/migration.py

[2017-07-06 18:40] ri0t opened #78 "Handling of renames"
For my migration system, one of the more often applied use cases is a rename of a dictionary key (which in jsonschema often is the name of an object's field), so what i get from that is:
[code]

Where the fieldname "obatzter" was renamed to "apfelsalat". The above syntax is not so nice for migration, so I'd love to rather get a diff that says:
[code]

Might that please be possible?

[2017-07-28 21:00] likern opened #80 "Add support for exclusion of deep paths"
I couldn't find in documentation (and all tries in code to suggest were unsuccessful) how would I exclude exact field in list of objects?
[code]
I want to ignore field `presignedUrl` for one JSON (for all objects in list `files`) (and this field doesn't exist for other JSON object).
But I get `dictionary_item_removed` for `"root['case']['files'][0]['presignedUrl']"` in `ddiff`.
How is it possible

[2017-07-30 17:57] anatoly-kussul commented on #80
@likern possible duplicate of #47

[2017-08-04 21:35] seperman commented on #80
Hi @likern . @anatoly-kussul is right. The regex exclusion will allow you to get to the desired results. Closing this ticket.

[2017-08-04 21:35] #80 closed

[2017-08-04 21:37] seperman commented on #78
Hi @ri0t
That is an interesting idea. Yes it should be doable. Let me think about how to implement it.

[2017-08-04 21:46] seperman commented on #68
This feature has turned out to be tricky to implement when `ignore_order=True`.

Option1: Have some sort of threshold that rounds up numbers the way we are already doing it with significant digits, except do it on the other side of the decimal point too.

Option 2: We can also add 2 other parameters when `ignore_order=False` to basically use Python3's [`math.isclose()`](https://docs.python.org/3/l

[2017-08-06 20:22] jtroup opened #81 "Please add support for diffing datetime.timedelta objects"
[code]

[2017-08-23 10:04] sreecodeslayer opened #83 "Null string DeepSearch bug"
So, I found this bug while I was working on finding empty values inside the complete dictionary (given below)

[code]

Upon `DeepSearch(one,"", verbose_level=2)` , I expect it to show ` "root['long_dict']['empty']": '',` , ` "root['small_list'][0]": '',` and `"root['small_list'][1]": ''` but for some reason, I get the below output.

[code]

Here, we can see that the value `'around'`,`'a'`, and `'b

[2017-09-02 21:52] dbrrt opened #85 "Pretty Difference output mode?"
I was wondering if a pretty output wouldn't be a nice addon to the library.
Something more human readable ?

For instance the below :
`{'type_changes': {"root['a']['b']['c']": {'old_type': <type 'str'>, 'new_value': 42, 'old_value': 'foo', 'new_type': <type 'int'>}}}`

could be replaced with something like :
`type_changes for a.b.c, "foo" (string type) replaced by 42 (integer type)`

Creating a wr

[2017-09-09 16:13] bwest-at-xometry opened #86 "Diffing two floating point numbers"
My definition "significant digits" is different from yours.

t1 = 0.0000584916556452
t2 = 0.0000584936556451

Your definition implies that the 9th significant digit above is different.

Alternative if we look at the above number in scientific notation,

t1 = 5.8491655645217175e-5
t2 = 5.8493655645217175e-5

The 5th significant digit is different. You would get about the same result if you switched

[2017-09-14 01:03] kuamrend opened #87 "Enhancement to add ignore_case"
I have two dictionaries coming from two different data sources one of which unfortunately messes up the case.

I was planning to add an option to ignore_case which applies on string comparison. If its there already doable in current implementation then I can try it out

[2017-09-19 08:35] itaykatz commented on #45
I agree, first I'v thought that the **exclude_type** argument would satisfy this requirement but it totally excludes the validation process for any given item which applies to the given types.

[2017-09-28 14:00] loriab opened #89 "conda package for deepdiff"
Hello @seperman, I'd like to add a deepdiff conda package to the community packaging channel, conda-forge (https://anaconda.org/conda-forge). Presently the submission is [here](https://github.com/conda-forge/staged-recipes/pull/4064). Please let me know if you've any objection to conda packaging in general. In particular, would you like to be listed as a [maintainer](https://github.com/loriab/stag

[2017-09-29 17:59] seperman commented on #89
Hi @loriab
That is a great idea. Yes I would like to be a maintainer of the recipe on Conda too so whenever I publish to Pypi, I updated it everywhere else too. What do I need to exactly do? I have not published to Conda before.

[2017-09-29 21:22] loriab commented on #89
Great, thanks!

Right now the package-checking machinery on conda-forge has a minor problem with windows+py35 builds, hence the failed test at the conda-forge/staged-recipes#4064 . Once that's resolved, I expect the recipe will be approved as-is and will be converted to its own repository conda-forge/deepdiff-feedstock [here](https://github.com/conda-forge) and installable via `conda install deepd

[2017-10-10 07:30] tiwariayush commented on #44
@ri0t : Seems interesting how you are able to apply diffs for `dictionary_items_added` `dictionary_items_removed`. Why not apply a similar approach for `iterable_items_added` and `iterable_items_removed` and then use it for dictionaries ?

[2017-10-10 08:48] odedniv commented on #29
+1

[2017-10-19 16:29] loriab commented on #89
Hi @seperman,

The conda package has been up for a few weeks ([repo](https://github.com/conda-forge/deepdiff-feedstock) and [package](https://anaconda.org/conda-forge/deepdiff)).

Did you receive a GitHub invitation to join the conda-forge organization and/or to indicate willingness to be a recipe maintainer? If so, please accept it/them. If not, let me know, and I'll see that another gets sent. T

[2017-10-25 23:14] seperman commented on #89
Hey @loriab
I just joined the organization. Thank you for reminding me!
I will look into how to update the package recipe. :)

[2017-11-02 05:15] seperman commented on #81
This issue has been resolved in https://github.com/seperman/deepdiff/pull/90 thanks to @mthaddon
The PR has been merged to dev branch an will be released to master very soon.

[2017-11-02 05:16] #81 closed

[2017-11-02 05:23] seperman commented on #45
Hello. Thank you for letting us know about why you need this feature. I am working on a plugin system for DeepDiff to allow easier customization of DeepDiff for such use cases. I will keep you posted. Thank you for your patience.

[2017-11-04 05:58] sreecodeslayer commented on #83
Merged, closing! :tada:

[2017-11-04 05:58] #83 closed

[2017-11-22 01:33] AlexIsOnFire opened #91 "Feature: Similarity instead of difference"
Would be great to be able to compare 2 objects for similar key values, for example:
`d1 = {"keyA": {"value": 10}, "keyB": {"value": 20}}`
`d1 = {"keyA": {"value": 30}, "keyB": {"value": 20}}`

`diff = DeepDIff(d1, d2, reverse_diff=True)`
`>> {"simillar_values": ["[keyB][value]"]}`

I'm working on a tool that needs to compare Python dictionaries and not only find diffs (which this library does perf

[2017-12-05 14:30] abs51295 opened #92 "Tuples with equal content show diff even when ignore_order=True"
[code]

[2017-12-06 06:09] abs51295 commented on #92
@seperman Can you look into this?

[2017-12-06 19:42] seperman commented on #92
@abs51295  Can you please post the original tuples too? Thanks.

[2017-12-12 16:21] kamichal opened #93 "DeepDiff object is not JSON serializable"
Unfortunately although output of `deepdiff.diff.DeepDiff` is a dictionary - there is no possibility to store it as a JSON.

`"dictionary_item_added"`, `"dictionary_item_removed"` values are `set`s (why not `list`?)
Besides that some keys (don't know what caused it, I just get exception) are `None`.

Would it be a problem to make it JSON serializable?

[2017-12-16 00:26] seperman commented on #93
Take a look at this page @kamichal :
https://github.com/seperman/deepdiff#serialization

[2017-12-16 00:27] seperman commented on #93
they are sets because the order doesn't matter.

[2017-12-16 00:27] #93 closed

[2017-12-16 00:28] seperman commented on #92
@abs51295 once you post your original tuples we can investigate. Otherwise I'm closing this ticket.

[2017-12-16 00:28] #92 closed

[2017-12-16 00:30] seperman commented on #91
Once we properly implement the delta operator for DeepDiff then you can get the delta of a DeepDiff result from the original object which should give you what is the same between the 2.

[2017-12-16 09:26] kamichal commented on #93
Ok. If order doesnt matter, why cannot it be a list? Is any reason for that?
Creating list of unique elements is just one extra condition before appending to list.

[2017-12-30 18:36] wobeng opened #94 "Compare two dictionary and output dict with difference only"
Hi

Is it possible to compare two dictionary and output a third dictionary with difference only

[2018-01-03 08:05] MingkaiMa opened #95 "PackageNotFoundError: Package missing in current linux-64 channels:"
I tried to install this package, but there were errors:
PackageNotFoundError: Package missing in current linux-64 channels:

how to fix that?

Thanks.

[2018-01-04 10:41] qsorix opened #96 "Difference in PySpark types is not found when ignore_order=True"
Hi there. I was hoping to use deepdiff to compare schemas of my pyspark dataframes, since pyspark comes with no good utility to do it. I've run into an issue where a difference is not found.

The issue happens when I'm comparing lists with ignore_order. If I compare individual items on that list, the difference is reported properly. If I disable ignore_order (default behavior), the difference is s

[2018-01-22 02:56] kevgliss commented on #29
Any thoughts on how to fix this?

[2018-01-22 23:49] loriab commented on #95
If this is conda, did you `conda install deepdiff -c conda-forge` ?

[2018-01-22 23:51] loriab commented on #89
Conda package has been in good working order for a few months [here](https://anaconda.org/conda-forge/deepdiff), so closing.

[2018-01-23 00:03] loriab opened #97 "numpy integers unrecognized"
Is the below to be expected — that deepdiff can process `np.float` and plain `int` but not `np.int`?

[code]

[2018-01-30 10:51] tiwariayush opened #99 "String Difference diff format (Not unified after formatting)"
Hi,

Thanks a lot for this awesome library. We use it quite a lot. One thing came to notice though is why in string difference `additional['diff']`, we provide the `diff` not in unified format. Wouldn't it be better to return a single string rather than splitting the unified diff to multilines.

Is there some specific reason behind this? Thanks beforehand for reply.

[2018-03-01 08:47] tos-kamiya commented on #97
I found a quick (and dirty) workaround.

It looks deepdiff does not recognize np.int64 as an inter type.

[code]

By editing `deepdiff/helper.py` and make numpy's int64 included in `numbers` types as follows,

[code]

numpy's int values are recognized by deepdiff:

[code]

[2018-03-06 09:26] abs51295 commented on #92
@seperman Sorry for the late response. I thought there was some problem on my end, but I have confirmed that it's not. I am posting the original tuple for reference. Note that tuple is a part of a dictionary with key being `parent_tuple_list`:

Original:
[code]

Compared with:

[code]

[2018-03-17 04:52] sreecodeslayer commented on #94
Yes, you can do this using the `DeepDiff` class

[code]
**Output**
[code]

[2018-03-20 12:59] RafiC92 opened #102 "Trying to compare a list of dictionaries in a nested ditionary"
I'm trying to use the the deepdiff package to compare responses JSONs from server (I convert them to dictionaries) and I ran into a problem.
One of the nested key, value pairs has a list of dictionaries as its value. I can't know in which order the server will return the list in and I can't think of a reliable way to sort the dictionaries in the list to compare.
Is there a way to currently do this

[2018-03-29 02:19] Seersucker commented on #44
Hello folks, git newbie here. I attempted to merge my branch called "Seersucker:compare_objs" that does compare Python objects and JSON but the merge request failed because I do not have unit tests created. Can someone please help me develop these tests? I have my code working just not sure how to proceed. I'm familiar with pytest only for a test framework.

[2018-04-05 19:59] jmccreight opened #103 "DeepDiff pathlib.PosixPath objects"
First off, deepdiff is great. Thanks.

I found the following behavior somewhat surprising. (The failure is on the last line, my expectations are set on the preceeding lines)

[code]
I just verified this with the master branch.

I dug into the code a bit and found the following:
1. deepdiff calls __diff_obj on the pathlib.PosixPath objects
2. these objects have no dunder dict
3. these objects have

[2018-05-10 07:36] msdinit opened #105 "Wildcard support for exclude_paths"
Would it be feasible to have wildcard support for exclude_paths? Or even have a dedicated `exclude_paths_regex` parameter that would hold a set of regex expressions that would be used with re.match to figure out if the current path is excluded

A usecase is ignoring a field for every element of an array, eg ignore all IDs in the following example:
[code]

[2018-05-26 15:44] wisotzky commented on #45
Would like to add another use-case:
In dicts there are several ways to declare a key/value pair is unset. Examples could be: zero-length string, empty dictionary or NoneType. In those cases, I would like to have the option, that just the value change is reported but not the type change. Reasoning is, that during parsing a document and generating the dict - the parser might not know the data-type f

[2018-05-29 12:53] coquero opened #106 "DeepDiff from deepdiff cannot deal with numpy.float32"
**Describe the bug**
DeepDiff from deepdiff cannot deal with numpy.float32

While DeepDiff perfectly works for objects containing numpy.float64 it leaves unproccessed
numpy.float32 objects.

**Expected behavior**

\>>> DeepDiff(np.float32(1.),np.float32(1.))
{}

**To Reproduce**

C:\Users\Mustermann>python
Python 3.6.4 |Anaconda, Inc.| (default, Jan 16 2018, 10:22:32) [MSC v.1900 64 bit (AMD64)] o

[2018-06-22 08:45] krmozejko commented on #47
I saw that the feature was being developed, but work stopped some time ago. Are there any plans to merge it to master? :D

[2018-07-27 08:36] immarvin opened #107 "any documentation on the methods of `DeepDiff` object?"
hi,

I went through the doc but cannot find any description on the public methods of `DeepDiff` object, any place to find this?

thanks

[2018-07-27 08:44] immarvin opened #108 "How to use `deepdiff` as the difftool of git?"
hi,

I have to manage a batch of yaml/json files under git, the default `git diff` shows the text line based diff, which make no sense for object differences in yaml/json files. `deepdiff` provides a wonderful view in this scenario, is it possible to use `deepdiff` as the git's difftool?

thanks

[2018-07-27 08:48] immarvin commented on #107
another question, how to convert `DeepDiff` object to a dict in python? thanks

[2018-08-01 08:35] Mark90 opened #109 "Detecting different message in similar Exception objects"
Hi,

First of all, thanks for writing a great library. I have used it in a lot of testing and it saved me from so many bugs.

I just ran into a small oddity; it seems that when comparing Exception objects the 'message' attribute is not checked for differences. Consider this snippet:

[code]

Tested with DeepDiff 3.3.0, same behavior on Python 2.7 and 3.6

I noticed [this PR ](https://github.com/se

[2018-08-02 19:42] seperman commented on #109
Hi @Mark90
Happy to hear you like DeepDiff!
Thanks for bringing this up. I will investigate.
Sep

[2018-08-02 19:43] seperman commented on #108
Hi @immarvin
I don't think we can replace git diff with deep diff because they act very differently. But perhaps we can add a command line tool for deepdiff that can be used to separately compare files.

[2018-08-03 02:47] immarvin commented on #108
hi @seperman ,thanks for the information. I managed to create a wrapper script(https://github.com/xcat2/xcat-inventory/pull/83) and apply it as the diff tool in git.

Attach the steps here for those who is interested in this:
[code]
after the steps above, we can use `git difftool` instead of `git diff` to show the differences with deepdiff, all the arguments are the same

[2018-08-04 05:25] ruiruige commented on #45
sorry to comment in an old issue.
Is this feature supported?

[2018-08-17 21:22] stevenjackson121 opened #110 "Allow using math.isclose for Python 3.5+"
[Python 3.5](https://docs.python.org/3/whatsnew/3.5.html#pep-485-a-function-for-testing-approximate-equality) introduces
[math.isclose](https://docs.python.org/3.5/library/math.html#math.isclose) and I've found it very useful in several contexts.

I would be happy to contribute a PR for this enhancement if you're open to including this functionality and give guidance on your preferred API.

I woul

[2018-09-25 09:59] mcarans commented on #105
This would be very useful indeed. I have 2 lists of dictionaries and want to exclude a key across all dictionaries.

[2018-10-22 16:43] BBerastegui opened #113 "Access element defined in diff key name"
Hi all, sorry in advance if this was clarified somewhere, but I haven't been able to find it.

I have two dicts like this:

```a = {'ip': '127.0.0.1', 'ports': [{'port': 80, 'proto': 'tcp'}, {'port': 2222, 'proto': 'tcp'}]}```
and
```b = {'ip': '127.0.0.1', 'ports': [{'port': 80, 'proto': 'tcp'}, {'port': 8080, 'proto': 'tcp'}]}```

I would like to extract from them the differences contained in th

[2018-11-01 08:54] brianmaissy opened #114 "cannot compare lists of Enum objects with ignore_order"
Consider the following code:
[code]

It gives the expected output `{}` but prints the following warnings:

The inability to hash seems to be caused by unbounded recursion when traversing the Enum instance's __objclass__, which contains the enum class A, which contains the instance again.

A couple of questions:
1. Should I be concerned with this or just suppress the warnings and go about by busine

[2018-11-01 09:05] brianmaissy commented on #114
Just realized that in fact it doesn't compare. This code also returns `{}`:

[code]

So in fact it isn't just a problem of the warnings, rather that it fails to compare them.

[2018-11-01 10:13] brianmaissy commented on #114
And for good measure,

[2018-11-04 11:35] brianmaissy opened #115 "object with __slots__ and __weakref__ is not compared properly"
If I compare two objects with __slots__, which have __weakref__ in their slots (like ipaddress objects), deepdiff tries to unmangle the __weakref__.  It should probably just ignore it, or at least not try to unmangle the name.

[code]

[2018-11-12 18:06] i25959341 commented on #47
Can we get this merge to master please? This is really useful and it is been stuck in development branch for a year now

[2018-11-13 12:29] david-fliguer-ws opened #118 "Warning when running deepdiff in pytest"
Hi, first of all congratulations for the great library you are developing.

I use it together with pytest and when I run the tests, I get the following warning

c:\python37-32\lib\site-packages\deepdiff\diff.py:19: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  from collections import Mapping

--

[2018-11-15 13:07] anatoly-kussul commented on #105
Duplicate of #47

[2018-11-15 13:47] mcarans commented on #47
This would be very useful indeed. I have 2 lists of dictionaries and want to exclude a key across all dictionaries.

[2018-11-15 17:18] anatoly-kussul commented on #102
@RafiC92, Try using ingnore_order param:
[code]

[2018-11-30 10:48] emocibob commented on #94
Any update on this issue?

[2018-12-10 07:49] seperman commented on #94
Hello,
Yes, it is possible to do that. I will add the `to_dict` since I see too many people having this issue, but technically all you need to do is `dict(DeepDiff(a, b))`

[2018-12-20 17:31] zpl opened #120 "Wrong calculation with ignore_order = True"
Hello. There is example:

[code]

Correct results:

[code]
but with ignore_order=True gives wrong results
[code]

[2018-12-31 19:13] wobeng commented on #94
@seperman any update?

[2019-01-07 17:08] #115 closed

[2019-01-07 17:12] brianmaissy commented on #118
@seperman already fixed this in the dev branch and it will be merged with #119

[2019-01-08 10:33] akshayamaldhure commented on #47
This would be really nice to have! Eagerly waiting for this one. :)

[2019-01-08 10:34] akshayamaldhure commented on #105
This would be really nice to have! Eagerly waiting for this one. :)

[2019-02-04 07:49] brianmaissy opened #122 "comparing classes with properties"
[code]

There are two problems here:

1. We fail to hash the property A.a at contenthash.py line 234 because property object don't have a `__dict__`. This might need special treatment, or it might be reasonable to just ignore it.
2. _prep_obj returns "unprocessed", which does not prevent _hash from calling self.hasher(), raising the AttributeError. This is a "blocking" level bug I think.

[2019-02-04 09:50] brianmaissy commented on #122
On further inspection, I don't think we really need to compare properties. It's fine for them to be in the category of unprocessed. The second problem is really the one which needs to be solved.

[2019-02-04 09:54] brianmaissy commented on #122
The real use case that I originally encountered was comparing EUI objects.

The first was the second problem described above, which happened to be triggered by the fact that properties are (legitimately) unprocessed.

The second was that classes which inherit from classes with slots didn't have all of their slots compared.

Both are fixed in the attached PR

[2019-02-11 07:41] seperman commented on #122
Thanks a lot @brianmaissy . Just merged the PR!

[2019-02-11 07:41] #122 closed

[2019-02-28 14:21] danmilon opened #124 "UnicodeError when dict key is a unicode string"
[code]

Went through the code quickly and I tried switching `quote_str` from `"'{}'"` to `u"'{}'"` but it failed likewise.

[2019-03-19 09:16] seperman commented on #108
Hi @immarvin
I'm releasing a new version of DeepDiff and I was wondering if I can put your script as a part of the DeepDiff package. I don't see a license on https://github.com/xcat2/xcat-inventory
Can you please let me know if I can copy paste the code from the xcat-inventory? Also I have ended Python 2 support but looking at your code, I assume you are using Pythong 2.
Thanks!
Sep

[2019-03-19 09:42] immarvin commented on #108
hi @seperman , our license is supposed to be EPL.  I need to check with the team tomorrow to get the permission.

Which piece of code do you want? what feature would you like to add in the new release with these code pieces?

ps, these 2 files https://github.com/xcat2/xcat-inventory/blob/master/xcat-inventory/xcclient/inventory/inventorydiff.py and https://github.com/xcat2/xcat-inventory/blob/mast

[2019-03-19 10:26] seperman commented on #108
Hi @immarvin
Thanks for the quick response. Yes I was referring to those 2 files. I just released v4.0.0 but would like to add those 2 files and modify them slightly in the next release if possible. Please let me know! I can either copy paste the code or you can open a PR.
Thanks,
Sep

[2019-03-19 10:27] seperman commented on #120
Hi @zpl
I just released the new DeepDiff. Do you still see this problem?

[2019-03-19 10:28] seperman commented on #124
Hi @danmilon
I just released the new DeepDiff. Do you still see this problem?

[2019-03-19 10:29] seperman commented on #118
Thanks @brianmaissy
The new DeepDiff is released. I'm closing this ticket.

[2019-03-19 10:29] #118 closed

[2019-03-19 10:29] seperman commented on #114
Thanks @brianmaissy !
Released!

[2019-03-19 10:29] #114 closed

[2019-03-19 10:41] danmilon commented on #124
You mean version 4.0.0? I forgot to mention that the bug manifests itself only on python 2 (naturally), but I see that python 2 support has been dropped :)

[2019-03-19 10:46] inoks opened #125 "Something wrong with the latest release 4.0.0"
Can't install latest version via pip:
[code]

P.S. I see you currently working on fixing some issue with the latest release. Let me know if you need some help.

[2019-03-19 10:56] inoks commented on #125
I see, there no Py2 support anymore.

[2019-03-19 10:56] #125 closed

[2019-03-19 16:17] zpl commented on #120
Hi. @seperman.

Updated to 4.0.0 and error is still there.

[2019-03-20 10:21] immarvin commented on #108
hi @seperman , checked with the team today,  we are ok to contribute these 2 files. We will create a PR in our working hours(which branch should the PR be targeted  against? "master" ?) in this repo and let you know.

Currently, you may need to polish the files according to the deepdiff code logic by yourself.

Please let us know when this feature is ok, so that `xcat-inventory` can leverage the n

[2019-03-20 14:26] digitronik opened #126 "Update deepdiff 4.0.0 release"

[2019-03-20 14:41] ShaktiKShrivastava commented on #126
Updated dependency upon DeepHash package has an open PR which causes pip install deepdiff failure on MacOS Mojave.
#https://github.com/hajimes/mmh3/pull/22
The pip install failure started upon this release on March 19th, 2019.

[2019-03-20 21:54] seperman commented on #126
@ShaktiKShrivastava @digitronik Are you both getting the mmh3 installation error? Weird, I'm on MacOS  Mojave too and don't have any problem installing mmh3.

[2019-03-20 21:54] seperman commented on #126
What version of Python are you using?

[2019-03-20 21:55] seperman commented on #124
Ok. I'm gonna close this ticket then. Thanks @danmilon

[2019-03-20 21:55] #124 closed

[2019-03-20 22:01] seperman commented on #108
Hi @immarvin
Awesome! Please make the PR against the dev branch: https://github.com/seperman/deepdiff#contribute
Thanks!

[2019-03-20 22:03] seperman commented on #105
@msdinit @akshayamaldhure @anatoly-kussul @mcarans
DeepDiff 4.0.0 was published this week and it has the regex support for path exclusion. :)

[2019-03-20 22:03] #105 closed

[2019-03-20 22:04] seperman commented on #47
DeepDiff 4.0.0 was published this week and it has the regex support for path exclusion. :)

[2019-03-20 22:04] #47 closed

[2019-03-20 22:11] seperman commented on #89
@loriab
I published DeepDiff 4.0.0 this week and I see it is failing on Conda CircleCi.
Looking at the errors, it is trying to install DeepDiff on Python 2.7
The support for Py2 has been dropped. Not sure what I can do since I don't have write access to the https://github.com/conda-forge/deepdiff-feedstock

[2019-03-20 22:20] loriab commented on #89
Hmm, I show that you're on the team: https://github.com/orgs/conda-forge/teams/deepdiff .
The thing to do is to add to the PR the bot created -- "push to the bot's branch to update this PR if needed" -- to discontinue py27 ([example](https://github.com/conda-forge/qcengine-feedstock/blob/master/recipe/meta.yaml#L23)). I'm busy in conference prep, so won't be able to look at it until April.

[2019-03-20 22:23] seperman commented on #86
@bwest-at-xometry I'm finally back and catching up with the tickets.
Interesting point you bring up regarding the definition of the significant digit. I think it might be a good idea to give the user the flexibility to pass their definition of "significant digits". What do you think about that?
The math.isclose is tricky since we don't know how "close" the numbers are during the hashing process. T

[2019-03-20 22:25] seperman commented on #110
@stevenjackson121 This is a very cool idea. I have been thinking about how to use the math.isclose. The main problem is how to do that during the "hashing" phase where numbers are trimmed to their significant digits before getting hashed and at that point we don't know which number value in the future during the diffing part we will be comparing to. The hashing is only used when "ignore_order=True

[2019-03-21 02:56] ShaktiKShrivastava commented on #126
@seperman , python version 3.6.x
the output for reference is,
[code]

[2019-03-21 03:00] ShaktiKShrivastava commented on #126
The build is also failing on certain other platforms, however the solution suggested by
[honnibal](https://github.com/hajimes/mmh3/pull/22) succeeds.

[2019-03-21 04:42] yurivict opened #127 "4.0.0 breaks: No such file or directory: 'requirements.txt'"

[2019-03-21 04:43] yurivict commented on #127
Tarball is from the PyPI site.

[2019-03-21 05:45] digitronik commented on #126
@seperman I intention satisfied... I just open for release tag.
https://github.com/seperman/deepdiff/releases/tag/4.0.0

@ShaktiKShrivastava please create new issue for this If you are still facing problem.

[2019-03-21 05:45] #126 closed

[2019-03-21 05:54] ShaktiKShrivastava commented on #126
Issue persists, but i think it's the dormant PR of mmh3 to blame.

[2019-03-21 06:49] seperman opened #129 "Failed to build mmh3 when installing DeepDiff"
On certain platforms there are problems when installing DeepDiff due to the Murmur3 (mmh3) dependency failing to be installed.

[code]

There is a PR for mmh3 addressing this issue but it is not merged yet: https://github.com/hajimes/mmh3/pull/22

Please comment here if you are experiencing this problem. If too many people are dealing with this problem and mmh3 does not get fixed, we will switch t

[2019-03-21 06:51] seperman commented on #129
This issue was first reported by @ShaktiKShrivastava on MacOS Mojave. However I'm on Mojave too and I don't have any problems installing mmh3.

[2019-03-21 06:54] seperman commented on #127
@yurivict How are you trying to install DeepDiff? I run `pip install deepdiff` and don't run into any issues. It most likely is installing from the wheel file and not the Tarball file though.

[2019-03-21 06:56] seperman commented on #95
Since nobody else has reported this and I have been installing DeepDiff on Ubuntu 64 images, I'm gonna go ahead and close this ticket. If anybody else is running into this issue, please comment with details of the OS, Python version and DeepDiff version and we will re-open it.

[2019-03-21 06:56] #95 closed

[2019-03-21 06:59] ShaktiKShrivastava commented on #129
The same is failing on Dockerfile as well.
This shows that the issue is not specific with MacOS Mojave environment variables,
[code]
PS. The issue has affected all our Jenkins builds
Docker version 18.06.0-ce, build 0ffa825

[2019-03-21 07:02] seperman commented on #113
@BBerastegui

Is this what you need?

[code]

Also you may want to look into the "tree" view:

[code]

[2019-03-21 07:02] #113 closed

[2019-03-21 07:08] ShaktiKShrivastava commented on #129
Update to the issue,
Dockerfile succeeds with g++ dependency.
[code]
I am not sure if this g++ dependency is being broken by any environment variable on our CentOS and MacOS Mojave systems.

[2019-03-21 07:14] ShaktiKShrivastava commented on #129
This appears very likely to be a native g++ issue, rather than deepdiff.

[2019-03-21 07:15] yurivict commented on #127
I install it through the standard FreeBSD ports framework. The file ```requirements.txt``` is referenced in ```setup.py```, but is missing in a tarball.

[2019-03-21 08:54] immarvin commented on #108
hi @seperman , the author of the 2 files @xuweibj has create the PR https://github.com/seperman/deepdiff/pull/128

[2019-03-21 14:07] bwest-at-xometry commented on #86
Flexibility would be great.

[2019-03-21 22:30] balmasi commented on #129
I'm on MacOS Mojave 10.14 and this is failing for me too

[code]

[2019-03-22 16:44] balmasi commented on #129
Resolved my issue by running `xcode-select --install`

[2019-03-22 18:33] jaraco opened #130 "Older Pythons get incompatible versions due to undeclared dependency"
deepdiff should declare `python_requires=">=3.4"` or similar so that the packages uploaded to PyPI will be ignored by older Pythons. Otherwise, you run into issues like this:

[code]

If instead, deepdiff were to declare its dependency, pip (9 or later) would automatically filter out versions not valid on older platforms.

Without this feature, every downstream consumer is required to maintain an

[2019-03-23 00:57] seperman commented on #130
Hi @jaraco
Good call. Do you have a chance to make a PR for this against the dev branch? If not, I will make one whenever I can.
Thanks!

[2019-03-23 00:59] seperman commented on #129
@balmasi Now that makes sense. I wonder if I should make `mmh3` optional and change to a Python built-in hash system. I'm gonna add `xcode-select --install` to the docs.
Thanks!

[2019-03-23 01:00] seperman commented on #127
Ok let me check now. That is weird.

[2019-03-23 20:42] seperman commented on #127
@yurivict Surprisingly the requirements.txt is not in the tarball but it is the "wheel". Can you install from the wheel instead? I wonder if I should not publish tarballs anymore.

[2019-03-23 20:48] seperman commented on #108
Hi @immarvin Thank you very much. Merged the PR. Will be modifying them and adding some docs soon.

[2019-03-23 20:49] seperman commented on #127
I'm gonna fix the tarball. There are still people out there who prefer tarballs.

[2019-03-23 21:02] yurivict commented on #127
No, the FreeBSD framework can only use tarballs. -(

[2019-03-24 06:52] #130 closed

[2019-03-24 06:55] seperman commented on #129
I added the `xcode-select --install` to the readme and docs. Also made mmh3 optional.

[2019-03-24 06:55] #129 closed

[2019-03-24 06:55] seperman commented on #127
@yurivict I just published 4.0.1
This should be fixed now.

[2019-03-24 06:55] #127 closed

[2019-03-24 06:59] seperman commented on #107
Hi @immarvin

The docs specifically for the DeepDiff object are in the documentation. Here is a link: https://deepdiff.readthedocs.io/en/latest/diff.html

Also for convertion to a normal dict, we have: https://deepdiff.readthedocs.io/en/latest/diff.html#deepdiff.diff.DeepDiff.to_dict

Sorry for the very late response. Hope that helps.

[2019-03-24 06:59] #107 closed

[2019-03-24 07:06] seperman commented on #94
@wobeng @emocibob
Just saw this ticket. Thanks for posting the examples. I see what you mean now. Currently the format we  export the diff does not support showing diffs like that. This can get tricky when diffing objects. If you have a chance to write the transform functionality to generate the output that you need, and make a PR, we can definitely use it.

[2019-03-24 07:12] seperman commented on #97
@tos-kamiya @loriab I will try to address this in the next release.

[2019-03-24 07:17] seperman commented on #96
Hi @qsorix
Thanks for reporting this issue. It took me a whole year to see your ticket. Sorry for that. I have not supported PySpark objects so far. Basically DeepDiff needs to understand what these types are. Then it can properly hash them. When 2 objects have the same hash, the won't be counted as different. Hashing is only used when "ignore_order=True".

[2019-03-24 07:19] seperman commented on #106
Hi @coquero
Thanks for reporting the issue.  I will address this in the next release of DeepDiff. Sorry it took almost a year to respond.

[2019-03-24 07:22] seperman commented on #87
Hi @kuamrend
Sorry it took me more than a year to see this ticket.
I have not added `ignore_case` flag. If you still plan to add it, please add it to both DeepDiff and DeepHash. Otherwise the case differences will still be reported when `ignore_order=True`

[2019-03-24 07:35] seperman commented on #86
I will try to address this in v4.2.0 whenever I can...

Or if you have time, please feel free to make a PR. What I'm imagining is maybe a parameter called: `significant_digits_format` and people can pass their own functions. For example the default one is:

[code]

And then you could pass:

[code]

That gives the full control to the user.
If you make the PR, please have that function passed into t

[2019-03-24 07:36] seperman commented on #86
forgot to tag you! @bwest-at-xometry

[2019-03-24 07:38] seperman commented on #85
Hi @dbrrt
Sorry it took me more than a year to see this ticket. It is a cool idea. Not sure when I will have time to implement it  though.

Would you be interested in making a PR for it?

Basically this is going to be another "view". We have the "text" view and "tree" view already. This can be the "pretty" view.

If you have time to make a PR for it, that would be great!

Thanks

[2019-03-24 08:00] seperman commented on #72
Hi @maxrothman
Sorry for such a long delay in responding to you. I finally found some time to release the v4.0.0 and take a look at the tickets.
Are you still interested in making the PR? That would be great! I like your ideas. Based on what you came up with, the API that I'm imagining could be:

[code]

So the exclude_condition takes `type_` and `condition`.
And then you can pass those conditions

[2019-03-24 08:03] seperman commented on #52
Hi @Iftahh
This is going to be tricky especially with `ignore_order=True` since we create the hash of all objects and won't know what we will be comparing that object to in the future when doing diffing. It is easy to implement it when `ignore_order=False` though. Sorry it took me such a long time to respond. Are you interested in making a PR for it?

[2019-03-24 08:09] seperman commented on #45
Hi @kapilt @ruiruige @nemaniarjun @wisotzky @itaykatz  @flomotlik @aexvir @phoebebright @finnhughes

We have `ignore_type_in_groups` now. I think that should solve most of the problems that are brought up in this ticket.

You can read about it here: https://deepdiff.readthedocs.io/en/latest/diff.html

Closing this ticket finally!

[2019-03-24 08:09] #45 closed

[2019-03-24 08:29] brianmaissy opened #134 "the .rst files don't get installed when installing with pip"
[code]

[code]

[2019-03-24 08:44] jeshan commented on #134
Correct. The PyPI package becomes unusable.

with latest:
`docker run --rm python:3.7-alpine sh -c "pip install deepdiff && python -c 'from deepdiff import DeepDiff'"`

[code]

with 3.3.0:
`docker run --rm python:3.7-alpine sh -c "pip install deepdiff==3.3.0 && python -c 'from deepdiff import DeepDiff'"`

[code]

[2019-03-24 11:42] coldino commented on #134
...and 4.0.0 was removed :(

[2019-03-24 15:11] colincadams commented on #134
we had to work around it by doing an editable install of 4.0.0 from github:
`deepdiff = {ref = "refs/tags/4.0.0",git = "https://github.com/seperman/deepdiff.git",editable = true}  # https://github.com/seperman/deepdiff/issues/134`

[2019-03-24 16:09] seperman commented on #134
Thanks for reporting. Fixing it right now.

[2019-03-24 16:18] seperman commented on #134
https://github.com/seperman/deepdiff/pull/135

[2019-03-24 16:21] seperman commented on #134
DeepDiff 4.0.2 is released and 4.0.1 is removed.
https://pypi.org/project/deepdiff/

[2019-03-24 16:21] #134 closed

[2019-03-25 23:35] seperman opened #136 "DeepDiff to run in multiple passes to diff combinations of results when ignore_order=True"
DeepDiff to run in 2 passes. And diff combinations of results when ignore_order=True.

Example:

Currently:

[code]

But if deepdiff compares the items between the iterable item added and removed, it should be spitting out the following results instead:

[code]

[2019-03-27 07:50] hemskgren opened #138 "pytest issue"
Hi

We still have similar issue with deepdiff 4.0.2 and python 3.7 running pytest as in issue #118.

Now we see warning for deepdiff/deephash.py

Regards
Christer

[2019-03-27 17:50] maxrothman commented on #72
Looking at this design, I think it could be simplified to the following:
[code]
This API supports the use cases of both `exclude_objects` and `exclude_conditions`, makes the `==`/`is` choice a non-issue, and it supports any other use cases anyone could come up with.

Now that you're calling N functions for each object in the diff, performance could become a concern. In that case, you could build s

[2019-04-02 06:26] micahmanquen opened #139 "DeepDiff not working with pyinstaller"
Hello,

After upgrading to 4.0.2, there seems to be an issue with including the DeepDiff library with .exes built with pyinstaller. The error is related to the _doc.rst files (all three). Pyinstaller doesn't recognize the .rst files as necessary, since it only includes .py files. After build, trying to load the package causes as an error as the doc file is attempted to be read.

If the rst files a

[2019-04-02 12:44] coldino opened #141 "Decimal / float comparison"
Comparisons between floats and Decimals don't behave as expected:
[code]

Comparisons only work when `significant_digits` happens to be the same as the precision of the Decimal:
[code]

From what I can tell, string format specifiers don't work on Decimals, hence your approach in `__diff_numbers` is not correct:
[code]

You could probably fix this while sticking with your string comparison scheme u

[2019-04-05 05:23] seperman commented on #138
Hi @hemskgren
Can you please give me an example for what you see? You are probably getting warnings that you don't have Murmur3 (mmh3) installed. If that is the case, installing mmh3 will resolve the issue.

[2019-04-05 05:24] seperman commented on #139
Hi @micahmanquen
Ok I will make those optional.

[2019-04-05 06:56] seperman commented on #139
This should work now. Just released 4.0.4

[2019-04-05 06:56] #139 closed

[2019-04-05 07:00] seperman commented on #141
Hi @coldino
Thanks for reporting this. You are correct. I made it for `Decimal('0.10')` not `Decimal(0.10)` when I was writing the code. Will fix it when I can.

[2019-04-05 23:37] seperman commented on #138
Ok I was able to reproduce this.

[2019-04-06 19:12] simonfontana commented on #85
Hi @seperman,
I'm interested in creating a PR if I get the time. I was looking at the code a bit and noticed that TreeResult and TextResult are dictionaries. I think a pretty format should be returned as string. Do you think it would it be better to create method instead, pretty(), which returns a string?
If we create a "pretty view" as you suggested and return it as string i think it would break

[2019-04-06 19:40] coldino commented on #141
I see you have some work around this, but I thought I'd share my fix: 25ae56b0ce55e5e83ddf19ecd4c100ddbdc49c66.

[2019-04-07 07:56] seperman commented on #141
@coldino I copied some of your tests. Had a workaround already as you noticed. Published a new version. Closing this ticket since the new version should work!

[2019-04-07 07:56] #141 closed

[2019-04-07 07:57] seperman commented on #138
@hemskgren A new version is published that should have resolved this issue. Thanks.

[2019-04-07 07:57] #138 closed

[2019-04-07 08:00] seperman commented on #120
Yep, it is still there. I will need to redesign the ignore_order feature. Will keep you posted.

[2019-04-07 08:06] seperman commented on #85
Hi @simonfontana
Great points. You are right. We shouldn't make it as another view then. I like your idea. Maybe we can use the `helper.short_repr` function and the `verbose` parameter to have different variations of the pretty output. Sometimes what has changed is a big object and the pretty view probably just wants to show partial objects then.

[2019-04-07 08:11] seperman commented on #86
@bwest-at-xometry This feature is now published. There is the `number_format_notation` now that you can set to `e` for scientific notation. Also for power users the `number_to_string_fun` is introduced.
https://deepdiff.readthedocs.io/en/stable/diff.html

[2019-04-07 08:11] #86 closed

[2019-04-07 20:35] simonfontana commented on #85
@seperman
That's probably better. I'll have a look and try it out.

[2019-04-08 14:19] rgarrigue commented on #94
Here's another example. I'm diff'ing some configuration from an API and a local file. Here's an output

[code]

As you can see, some info are mysterious, because they are IDs. Ok, so I wanna loop at those ldp- and logs- level (the uuid between being irrelevant), call a translate_id_into_label function and output an indented output, and only display those. But that's a string. Best I can think abou

[2019-04-08 14:20] rgarrigue commented on #94
Here's another example. I'm diff'ing some configuration from an API and a local file. Here's an output

[code]

As you can see, some info are mysterious, because they are IDs. Ok, so I wanna loop at those ldp- and logs- level (the uuid between being irrelevant), call a translate_id_into_label function and output an indented output, and only display those. But that's a string. Best I can think abou

[2019-04-11 14:49] loriab commented on #89
FYI, I patched up the recipe at 4.0.4, and 4.0.5 should be building now. https://anaconda.org/conda-forge/deepdiff/files

[2019-04-12 06:36] seperman commented on #89
Thanks a lot @loriab ! Closing this ticket.

[2019-04-12 06:36] #89 closed

[2019-04-12 06:37] seperman commented on #85
👍

[2019-04-12 06:42] seperman commented on #94
@rgarrigue Not sure what you are trying to achieve but have you looked at the "tree view" in DeepDiff? If you want to see what was compared to what, the tree view gives you that: https://deepdiff.readthedocs.io/en/latest/diff.html

[2019-05-06 00:10] Tset-Noitamotua commented on #120
seems to be fixed in version `4.0.6`

[code]

[code]

[2019-05-06 17:46] Tset-Noitamotua opened #144 "Question: How to ignore a diff in this case?"
Can I configure this to be ignored ?
`{'root': {'old_type': <class 'robot.utils.dotdict.DotDict'>, 'new_type': <class 'dict'>,  ... }`

here's the complete diff:
[code]

I have tried `ignore_type_subclasses` without success.
Should I use `ignore_type_in_groups` instead?

[2019-05-06 18:59] Tset-Noitamotua commented on #144
I found a solution --> `ignore_type_in_groups=[(robot.utils.dotdict.DotDict, dict)]`

[code]

[2019-05-06 21:15] #144 closed

[2019-05-07 20:55] zpl commented on #120
Just tested at 4.0.6 and it is still there (my original report)

There is a problem with list that contains objects

[2019-05-10 08:48] Hanaasagi commented on #120
When diff `meterValue`, it will go this condition. Because `list` is `Iterable`.

https://github.com/seperman/deepdiff/blob/a66879190fadc671632f154c1fcb82f5c3cef800/deepdiff/diff.py#L631-L635

And it will compute the element hash
https://github.com/seperman/deepdiff/blob/a66879190fadc671632f154c1fcb82f5c3cef800/deepdiff/diff.py#L491-L500

But the `timestamp` is different, so the hash will be diffe

[2019-05-12 11:08] Tset-Noitamotua commented on #120
i thought of a workaround with excluding timestamp

[code]

but it doesn't help :(

[code]

[2019-05-13 11:27] Scsourav18 opened #145 "ignore order based on specific key of dictionary in list of dictionaries"
Hi,
I have two list of dictionaries and the lists are not in any specific order . I want to use deepdiff to compare the lists .  does deepdiff supports ignore_order based on specific key of a dictionary.

[2019-05-13 21:16] gastric opened #146 "Actual vs Expected instead of Old vs New"
My current use case is implementing DeepDiff to support test automation validation where I have a response from the app under test, and the expected response, and am using DeepDiff to validate they're the same. DeepDiff works great for these validation needs, including complex arrays of data. So thanks for all of your hard work here. :)

It would be preferable to the testers to see 'actual' and 'e

[2019-05-20 19:58] seperman commented on #146
Hi @gastric
It is an interesting idea but DeepDiff is not used only for testing. Changing the key names to expected and actual will be a breaking change. What might work for you is to make a function that calls DeepDiff and renames the key names for your specific use case. I personally use DeepDiff with Pytest all the time. At this point I'm used to associate "old" with "expected" and "new" with t

[2019-05-20 19:58] #146 closed

[2019-05-28 11:27] techdragon opened #147 "Possible enhancement/alternate view? - "Flat tree" mode"
I often find myself doing something like this

1. Diff two objects,
2. Do something if a key has changed. _This may or may not care what has changed about the key_

I've done it so many times I've boiled down to a pattern:
[code]

But each time I do this, I wonder if there is a better way. So I'm asking here, as either a usage question or a feature request.

DeepDiff is fast enough that I wind up

[2019-06-27 13:03] HWiese1980 opened #148 "Ignore nan != nan?"
Hi,

when I try to compare two objects that contain fields with `nan` values, these two objects (obviously because `(nan == nan) == False`) are considered different. I propose an `ignore_nan_inequality` field that allows me to ignore this difference and consider `nan == nan`.

Or is there already something like that?

[2019-06-28 12:55] Necrophagos opened #150 "[Bug] Hashing of the number 1 and True produces inconsistent results"
# Description

I have a weird behaviour with ignore_order=True where it sees a diff of two objects that are equal in my optinion

[code]
produces

[code]
The only difference is the order of the keys inside the dict.

The values also seem to be relevant. If I only assign numbers inside the dict then deepdiff detects that the objects are the same despite the order.

*What do?*

# Environment
[code]

[2019-07-01 11:52] Necrophagos commented on #150
I could kind of narrow it down to a problem where the is a problem with `1` vs `True`.

Here are the hasing values

[code]

See how `1` and `True` get the same hash value. I the first case the hashing for `True` happens first and then `1` gets the value for that. In the second case the order is different.

[2019-07-01 12:12] Necrophagos commented on #150
This is the issue

[code]
the inconsistent behaviour occur at `deephash.py:286` where `result = self[obj]` fetches the hash if it is already computed but there is no difference between `self[1]` and `self[True]`

[2019-07-01 12:57] Necrophagos commented on #150
Here is a possible solution

[0001-Fix-inconsistent-handling-of-bool-and-number.patch.txt](https://github.com/seperman/deepdiff/files/3345637/0001-Fix-inconsistent-handling-of-bool-and-number.patch.txt)

[2019-07-12 09:24] Anshik opened #151 "Seems to be equal empty list and list with comma"
c1 = []
c2 = [],
print(deepdiff.DeepDiff(c1, c2))

[2019-07-12 21:05] seperman commented on #150
Thanks  @Necrophagos! Looking into the issue now.

[2019-07-12 22:25] seperman commented on #148
Hi @HWiese1980
I'm not sure if I'm following. Where does the nan come from? Python has `None`:

[code]

[2019-07-12 22:27] seperman commented on #151
Hi @Anshik
Those are 2 different things. Your first item is an empty list, the second item is a tuple containing an empty list:

[code]

[2019-07-12 22:27] #151 closed

[2019-07-12 23:01] seperman commented on #147
Hi @techdragon
Let me see if I understand what you want. You care about some key i.e. ('root['x'][1]). And you want to know whenever that key appears in the diff results?

[2019-07-12 23:04] seperman commented on #145
`ignore_order` is set globally not for specific keys of a dictionary. Having said that, it has issues with nested lists of dictionaries so you might not get what you need. I have some plans to improve it but not the time to do it yet. I'm gonna close this ticket since it seems like it was a question that is answered now.

[2019-07-12 23:04] #145 closed

[2019-07-12 23:08] HWiese1980 commented on #148
Hi!

Try float('nan') == float('nan')

NaN is "not-a-number" and in Python it's defined as nan != nan. Don't ask me why. I'm sure there is a reasonable answer, I just don't know it.

[2019-07-15 03:40] techdragon commented on #147
Effectively yes. It the very least it would be useful to have a shortcut/shorthand for "has anything about $keyName changed" Even better would be a more generalised form "has anything about <path to key> changed." Your example `"root['x'][1]"` looks more like you're already thinking in terms of a generalised version so thats good for me :smile:

So yes that is pretty much what I want. Since the di

[2019-07-15 05:03] seperman commented on #150
Closing this ticket since it is resolved.

[2019-07-15 05:03] #150 closed

[2019-07-15 05:11] seperman commented on #148
Ah I see. Ok I will add a new parameter. Of if you have time please feel free to make a PR!

[2019-07-23 08:43] HWiese1980 commented on #148
Awesome! Keep rocking!

[2019-07-26 22:14] Hedgehogues opened #153 "problem with numpy"
Hello. If you do this:

    print(len(deepdiff.DeepDiff(np.array([1]), np.array([0]))))

you can got 0. But it is not truth. Please check this bug

[2019-07-31 13:36] tpaulino7 commented on #44
Any updates on this? It would be a very useful feature. Btw, great work!

[2019-08-01 03:17] jayvdb opened #154 "Adding tests to the PyPI sdist"
Would you mind adding tests to the sdist uploaded to PyPI, so they can be used in distro packaging?

This can be mostly automated by using `check-manifest` which can update `MANIFEST.in` to ensure it is a complete archive.

[2019-08-01 14:46] seperman commented on #154
Hi John,

Im not sure what you are asking for. Can you please make a PR against the dev branch?

Sep Dehpour

[2019-08-05 15:06] chrgraham opened #156 "Q: Where to see full path used when comparing exclude_regex_paths"
I have some complicated nested JSON I'm attempting to compare where I need to enable some exclusions where dates are changing.  exclude_regex_paths seems to be exactly what I'm looking for, however I'm having trouble crafting regex to match the paths of my nested data.

Can someone point me to where in DeepDiff I can set some debug points so I can see the fully qualified path that DeepDiff is usin

[2019-08-07 18:12] seperman commented on #156
Hi @chrgraham
You can find examples here:
https://deepdiff.readthedocs.io/en/latest/diff.html

[code]

And here is where in the code that you can put a breakpoint:
https://github.com/seperman/deepdiff/blob/master/deepdiff/diff.py#L218

[2019-08-07 18:12] #156 closed

[2019-08-11 14:33] chenswissa opened #157 "ignore_regex_paths doesn't work when ignore_order=True"
when comparing lists (or lists inside dictionary), you can't both ignore the list order and ignore regex path.
in this function the regex is ignored as expected:
def compare_jsons(x, y):
   return DeepDiff(x, y, exclude_regex_paths={"root\['features'\]\[\d+\]\['blabla'\]"})

in this function the regex is not effective:
def compare_jsons(x, y):
   return DeepDiff(x, y, ignore_order=True, exclude_re

[2019-08-13 15:48] TomDufall opened #158 "Broken link in package description on pypi"
[https://pypi.org/project/deepdiff/](https://pypi.org/project/deepdiff/)
At the location linked above, under the heading 'Deep Diff' it says 'Please take a look at the Deep Diff docs' and links to [https://pypi.org/project/deepdiff/deepdiff/diff_doc.rst](https://pypi.org/project/deepdiff/deepdiff/diff_doc.rst), which doesn't exist. The link on the line below that to the full documentation on readt

[2019-08-19 13:09] phillipkent opened #159 ""DeepSearch-and-replace" for nested dict values?"
I wondered if there's a way to make it easier to use the outputs of DeepSearch in order to change the contents of a nested dict (e.g., a JSON data structure)?
I couldn't find a way to use the DeepSearch output directly; I had to convert the 'key path' (such as 'root['a']['b']['c']') into a list ['a','b','c'] and then it's possible to do a 'nested set' (for example, see https://stackoverflow.com/a/

[2019-09-02 18:05] kteague opened #160 "Disable deprecation warnings?"
We've just started using deepdiff in our project (https://aim.waterbear.cloud). It works great, but as we have a CLI that depends upon boto, there are a tonne of deprecation warnings we can't do anything about.

We do this when we import deepdiff so that we don't pollute the CLI output:

[code]

In deepdiff there is a "warnings.simplefilter("once")" that enables this warnings, possible to remove t

[2019-09-26 17:43] nkaliape commented on #136
BTW. It may NOT be just two passes but this needs to be addressed at the multiple level hierarchy.
For example consider this dict containing iterable of dictionaries which is again having iterable of dictionaries - may be 2 or 3 level deep further.

[2019-10-18 05:34] seperman commented on #160
Hi @kteague
Ok let me look into that.

[2019-10-18 05:37] seperman commented on #160
What kind of warnings do you get? We only issue deprecation warnings for `from_json` and `json` property. @kteague

[2019-10-18 05:44] seperman commented on #158
Thanks for reporting this. The docs pages have links to each other but apparently Pypi only shows the main page but not the linked pages. So I'm not sure what can be done about this. Basically the same file goes on github homepage and works fine there.

[2019-10-18 05:46] seperman commented on #159
Hi @phillipkent
I think it is easier for deepdiff to have a search_and_replace function than to provide the key path that works with sets and custom objects etc.

[2019-10-18 05:48] seperman commented on #157
Hi @chenswissa
Thanks for reporting the issue. Can you please provide and actual example that I can run to replicate your issue?

[2019-10-18 06:37] #154 closed

[2019-10-18 06:38] seperman commented on #148
@HWiese1980 I added the flag and released a new version of DeepDiff.

[2019-10-18 06:38] #148 closed

[2019-10-18 06:44] seperman commented on #153
Yes DeepDiff needs some dev work for Numpy.

[2019-10-25 00:42] Moult opened #163 "How do I have deepdiff break on first different occurrence?"
Deepdiff currently checks everything recursively. Is there an option to have it terminate with the first difference that it has found? That would make a check for "is this different" very fast without having to delve fully into the details.

[2019-10-25 16:04] seperman commented on #163
Interesting. Are you running into performance issues?

Sep Dehpour

[2019-10-25 21:51] Moult commented on #163
@seperman I am dealing with Python objects that store 3D geometry, parsed from ASCII IFC (based off STEP) format. So if I have two files I want to compare, and each file has say 5,000 to 10,000 objects (or even more!), and each object can have 1,000 or more vertices / edges / faces / extrusions / curves / openings / other geometric feature, it ends up taking a while. In my tests to check everythin

[2019-11-05 13:14] pierrecdn opened #164 "Regression on objects list diff when using ignore_order=True"
**Describe the bug**
It sounds to me that there is a regression following 13fbd37cd3078b1722a19f901ac6cca2bde151f7 (#150), object lists deepdiffs are now producing warnings and diffs are actually not checked, *if ignore_order=True*.

**To Reproduce**
Steps to reproduce the behavior, in 4.0.8:
[code]

Will output
[code]

And produce:
[code]
Which is false.

**Expected behavior**
The same program ru

[2019-11-06 10:18] kteague commented on #160
Since our app is using a number of other libraries, once warnings is on, we get the deprecation warnings for those libraries output on our apps CLI. Something like this:

[code]

(some of these we can fix, others are deprecation warnings of libraries that are dependencies of a libraries dependencies)

[2019-11-06 20:02] wyattshapiro commented on #94
@wobeng I am interested in something similar, but I am comparing one "old" dict to a "new" dict. As a result, I transform the deepdiff only to get the changes to values or types found in the new dict.

This would obviously ignore any addition/removal of fields, because it assumes a directionality between the two dicts (the "new" dict is replacing the "old" dict). Effectively, this library is used

[2019-11-08 23:53] seperman commented on #164
Thanks for reporting the issue @pierrecdn . It is resolved now. https://github.com/seperman/deepdiff/pull/165

[2019-11-08 23:53] #164 closed

[2020-01-08 16:51] fi-do opened #166 "Problem with comparing lists, with an boolean as element"
Hey guys,

thanks for this usefull library.
I got some problems when I compare two list. Each of them has one boolean as element. Using DeepDiff with ignore_order=False works like a charm. But forced with ignore_order=True doesn't work anymore.

Code to reproduce:
[code]
Expected results:
[code]
Real results:
[code]

I need the ignore_order to be true, for other objects.
deepdiff 4.0.7, Python 3.6

[2020-01-13 16:44] fi-do commented on #166
[code]
After some little trial and error, I got some findings in context with the problem. Interesting part is in file diff.py, line 479. The value of "item" is an element(type bool) of the list. But the dictionary hashes_all contains "only" an object of type "BoolObj".
With a different kind of types(e.g strings), these two objetcs "matches". It looks like the object needs to be converted from the

[2020-01-13 18:48] netllama opened #167 "exclude_regex_paths not working"
**Describe the bug**
The regex provided exclude_regex_paths parameter doesn't seem to work, and the results from performing a diff continue to treat the values matching the regex as different.

**To Reproduce**
[code]

Even setting ignore_order=False doesn't help:
[code]

**Expected behavior**
There should be zero differences, as only the 'destination' field differs, and that field should match th

[2020-01-15 20:28] seperman commented on #163
Hi @Moult
Thanks for the feedback. Interesting use case. I will add the options. If you have a chance, can you please do some profiling and let me know what the bottlenecks are you experiencing in DeepDiff? I wonder if I should add some concurrency control.

[2020-01-16 21:07] Moult commented on #163
Thank you! I'd be more than happy to help profile this. Looking forward to when I can try out the new features :)

[2020-01-17 18:37] seperman commented on #166
Hi @fi-do
Thanks for reporting this bug. I'm working on a patch.

[2020-01-21 20:11] pfbrousseau commented on #167
The problem seems to be with the regex. I'll improve the documentation for this feature to explain how it works. Basically: The easiest is to base your regex on the key returned in the diff "root[0]['destination'][0]".

[code]

[2020-01-21 20:14] netllama commented on #167
ah thanks.  It was indeed unclear that the regex was applicable to the results, rather than the original data.

[2020-01-21 20:14] #167 closed

[2020-01-30 21:25] seperman commented on #166
This issue is addressed in https://github.com/seperman/deepdiff/pull/173
DeepDiff 4.2.0

[2020-01-30 21:27] #166 closed

[2020-02-05 17:32] bbushnell95 opened #174 "DeepDiff not excluding paths when ignore_order is True"
**Describe the bug**
When attempting to do a diff between two lists of dictionaries, if ignore_order is defined as True, and exclude_paths is provided, the exclude_paths appears to not be accounted for.

**To Reproduce**
Steps to reproduce the behavior:
1. Here is the following code snippet I have been using to reproduce the error:
[code]
2. Run the above script
3. Result will show be:
[code]
4. I

[2020-02-17 17:07] benediktbrandt commented on #174
We are seeing the same issue with DeepDiff 4.0.9

[2020-02-26 13:22] van-ess0 commented on #160
Well I spent hours before figured out who is breaking my 'ignore' filters for third-party libs.
Changing global settings from the package you supposed to import is a _really_ bad idea.

If you don't want to remove it, please specify less broad conditions to avoid overlapping of the user's filters

[2020-03-03 11:14] daaain commented on #174
Just ran into this, still happening with 4.2.0

[2020-03-10 18:12] seperman commented on #174
Hi @bbushnell95
Thanks for reporting the issue.
Let me take a look at it.

[2020-03-11 21:51] seperman commented on #174
This issue is resolved. [v4.3.1](https://pypi.org/project/deepdiff/4.3.1/) is released.
The `exclude_path` in your example needs the list index in it though.

An example can be found in the tests: https://github.com/seperman/deepdiff/blob/master/tests/test_diff_text.py#L1612

The underlying issue was in DeepHash and is fixed in this commit: https://github.com/seperman/deepdiff/commit/eb3973af209e1

[2020-03-11 21:51] #174 closed

[2020-03-11 21:56] seperman commented on #160
Hello @kteague @van-ess0 ,
Sorry to hear the warnings are causing issues. Do you mind creating a PR that addresses the issue?

This is the line that is setting some warning settings:
https://github.com/seperman/deepdiff/blob/master/deepdiff/diff.py#L32

Thanks

[2020-03-12 07:25] van-ess0 commented on #160
Hello @seperman,
Thank you for your response.

Could you please explain the purpose of this line, what exactly you wanted to achieve? Because my PR gonna be like "remove this single line". Are you ok with that?

[2020-03-12 22:50] seperman commented on #160
Thanks for making the PR @van-ess0
I left some comments in the PR.

[2020-03-13 13:43] eremmel opened #178 "Compare int with float values fail with number_format_notation='e' and ignore_nummeric_type_changes=True"
**Describe the bug**
Comparing values of type int and float based on the settings:
           number_format_notation='e'
           ignore_numeric_type_changes=True
fail on compares like. key=41 with key=41.0. Does not happen with settings:
           number_format_notation='f'
           ignore_numeric_type_changes=True

**To Reproduce**
Steps to reproduce the behavior:
1. Run the code:

2. Resul

[2020-03-19 01:45] seperman commented on #178
Hi @eremmel
Thanks for reporting the issue. I will look into it asap.

[2020-03-19 01:55] #160 closed

[2020-03-19 01:58] seperman commented on #160
DeepDiff 4.3.2 is released.

[2020-03-21 15:11] NathalieS-59 opened #180 "HOW TO COMPARE STR WITH FLOAT OR INT ?"
I compare two dictionaries..
The first comes from a excel file and the second from an application.

In the first, all number (int, float) are some string.

Example :
d1 = {'a': '41'}
d2 = {'a': 41}
DeepDiff(d1, d2)

gives
{'type_changes': {"root['a']": {'old_type': <class 'str'>, 'new_type': <class 'int'>, 'old_value': '41', 'new_value': 41}}}

instead of
{}

ignore_numeric_type_changes=True doesn

[2020-03-25 01:34] seperman commented on #180
Hi, you are comparing a string to an integer. Currently DeepDiff doesn’t support what you are looking for. I will add some type conversation capabilities later.

Sep Dehpour

[2020-03-25 14:04] nathanielobrown opened #181 "datetime.time objects are being ignored"
**Describe the bug**
`datetime.time` objects are ignored, even though they are hashable.

**To Reproduce**
[code]

**Expected behavior**
No output, the assertion should pass as the hashes should be different.

**Actual behaviour**
[code]

**OS, DeepDiff version and Python version (please complete the following information):**
 - OS: MacOS 10.15.3
 - Python: 3.7.6
 - DeepDiff: 4.3.2

[2020-03-27 17:38] alexeyc-lohika-tix commented on #157
@seperman there you go

[sample.zip](https://github.com/seperman/deepdiff/files/4395102/sample.zip)
exclude_regex_paths=[r"root\['externalIdentifiers'\]\[\d+\]\['id'\]"]

[2020-03-29 22:03] laike9m opened #183 "Is there a way I can apply diffs to objects?"
Hi Sep, first thanks for making this fantastic lib. This is a question about a potential use case. Consider this example

[code]
I want to track the changes of `foo`, and DeepDiff can generate a diff object each time. This is all good. Beyond that, what if I also want to record the exact value of `foo` in each iteration? I could, say, do a recursive deep copy, but that would cost an **unpredicable

[2020-04-09 08:26] testautomation opened #184 "Typo in exclude_regex_path example(?)"
![image](https://user-images.githubusercontent.com/38438046/78874124-3005a180-7a4c-11ea-8692-c007021febe3.png)

**Describe the bug**
This is more a question than a bug report. Is there possibly a typo in the example?

example 1 uses `r"...."` string
example 2 uses a plain string w/o `r`

[2020-04-09 12:16] testautomation commented on #157
@alexeyc-lohika-tix are you sure your regex is correct? I'm not an expert on that matter but looking at some examples in [Deepdiff reference](https://deepdiff.readthedocs.io/en/latest/diff.html) (do a brower search there for `exclude paths`) you may have to escape square brakets (`[` and `]`) as shown in examples.

i.e. `r"root\['externalIdentifiers'\]\[\d+\]\['id'\]"`

[2020-04-09 16:31] testautomation commented on #157
I can reproduce this issue w/ my test data as well

[testdata.zip](https://github.com/seperman/deepdiff/files/4457437/testdata.zip)

[code]

[2020-04-09 17:04] testautomation commented on #136
@seperman do you need some "real" test-data to play around with?

[2020-04-10 08:58] MKaras93 commented on #85
Hi @seperman is this still open?

[2020-04-10 09:53] MKaras93 opened #185 "How to align objects in lists properly?"
Hi. Sorry, I don't know whether it's a bug/feature or just a question. I've asked it some time ago on StackOverflow, but didn't receive any answer, so I decided to try here.

I'm trying to compare two lists of objects (dicts in this case) with deepdiff:

[code]

The problem is that I need a different way of aligning objects. In my project a particular state (for example `war`) have a strict life c

[2020-04-10 11:05] dbrrt commented on #85
@MKaras93 seems to be. Still a very desirable feature :)

[2020-04-10 21:02] testautomation commented on #185
you may have to nest you objects(?)

what about this
[code]

or

[code]

[2020-04-11 20:35] seperman commented on #185
Hi @MKaras93 and @testautomation .
Thanks @testautomation for posting a solution.
I'm also going to add a parameter to allow object transformations. That way you can have the full control to do the transformations easily especially useful on deeply nested objects.

[2020-04-12 16:50] seperman commented on #184
Hi @testautomation
It works either way.
See https://docs.python.org/3/library/re.html#raw-string-notation

[2020-04-12 16:50] #184 closed

[2020-04-12 16:56] seperman commented on #183
Hello @laike9m
This feature has been requested a few times. I have not had the time to implement it yet.

[2020-04-12 17:07] laike9m commented on #183
Thanks Sep, could you point me to previous issues? Also, I would be insterested to know if you have any thought on how to implement it, as it may help potential contributors.

[2020-04-12 20:22] seperman commented on #183
@laike9m https://github.com/seperman/deepdiff/issues/44
Moving this conversation to that ticket and closing this ticket.

[2020-04-12 20:22] #183 closed

[2020-04-12 20:22] seperman commented on #44
What I have in mind if to use the [to_json](https://github.com/seperman/deepdiff/blob/master/deepdiff/diff.py#L682) output which is basically the text view result as the delta object. The tricky part is dealing with custom objects. Perhaps we can expect the custom object to be present in the `locals()` when using the delta.

As far as the interface, I had plans to use Python's magic methods. So on

[2020-04-12 20:55] laike9m commented on #44
Thanks for the information. I might not have time to implement it now, but I can definitely take a closer look.

[2020-04-13 10:34] testautomation commented on #157
tested w/ Deepdiff 4.3.2 on sample from @chenswissa . Seems to work properly.

regex: `r"root\['externalIdentifiers'\]\[\d+]\['id'\]`

{}

[2020-04-13 16:17] seperman commented on #157
Thanks @testautomation for looking into the issue. I'm gonna close this ticket unless @chenswissa is still experiencing issues.
Also in future please provide a small input sample that can be used in unit tests instead of a zip file.
Thanks

[2020-04-13 19:32] #157 closed

[2020-04-16 07:04] seperman commented on #44
Heads up I'm working on a major release that adds the Delta object to DeepDiff. The goal is for any DeepDiff object to be able to be converted to a Delta object. Then the Delta object can be applied to any object with a similar structure. I will cut a beta release soon. If anybody is interested in helping with beta testing, please let me know.

[2020-04-16 07:18] laike9m commented on #44
So excited to hear things moving. I'm willing to help testing. Please let me know what to do, or what part need help with.

[2020-04-16 07:37] seperman commented on #44
Cool! The TreeView is great but contains the entire objects that are being diffed. The delta object on the other hand is compact and only includes what the difference is. It is closer to the Text View than the Tree View. I'm planning to include different detail levels for the deltas corresponding to different "verbose_level" parameters that were used to make the diff object. That way there can be

[2020-04-16 15:49] ri0t commented on #44
Oooweee! I am very willing to assist :-)

[2020-04-16 22:12] laike9m commented on #44
Nice

[2020-04-17 07:36] MKaras93 commented on #185
Thanks, I'm currently busy with other projects but I will get back to it when I have some time and let you know if it worked ;)

[2020-04-17 11:09] MKaras93 commented on #85
Reserved then, I will try to post a PR by the end of the weekend (maybe even today) :)

[2020-04-17 17:56] seperman commented on #85
:+1:

[2020-04-29 08:13] JeffXue opened #189 "Wrong calculation with ignore_order = True"
**To Reproduce**

[code]

return {}， but __ref value have changed， if not using ignore_order，found diff value

**OS, DeepDiff version and Python version (please complete the following information):**
 - DeepDiff Version：4.3.2
 - Python Version：3.7.6

[2020-04-29 08:26] seperman commented on #44
Hello @divamgupta @ri0t , @laike9m and everybody.
The Delta object is ready for beta testing finally!
You can see the changes in this PR: https://github.com/seperman/deepdiff/pull/188

In order to test it, please pull down the dev branch.

2 example usages:

[code]

or you could dump the delta:

[code]

There are many more examples in the tests.
Please let me know the results of your tests when yo

[2020-04-29 08:28] seperman commented on #44
Also tagging @victorhahncastell in case.

[2020-04-29 08:34] seperman commented on #153
Hi @Hedgehogues
This is addressed in v5 that is due to release. I just ran your input and it looks fine to me. You can pull the dev branch and do a beta test too before v5 is released. Here are the changes:
https://github.com/seperman/deepdiff/pull/188/files

[2020-04-29 08:36] seperman commented on #189
Hi @JeffXue
Private variables that start with `__` are ignored.

[2020-04-29 08:37] seperman commented on #136
Hi @testautomation
This is addressed in v5 that is due to release. I just ran your input and it looks fine to me. You can pull the dev branch and do a beta test too before v5 is released. Here are the changes:
https://github.com/seperman/deepdiff/pull/188/files
Thanks

[2020-04-29 08:38] seperman commented on #136
tagging @nkaliape too.

[2020-04-29 08:39] seperman commented on #106
Hi @coquero
This is addressed in v5 that is due to be released. I just ran your input and it looks fine to me. You can pull the dev branch and do a beta test too before v5 is released. Here are the changes:
https://github.com/seperman/deepdiff/pull/188/files
Thanks

[2020-04-29 08:41] seperman commented on #120
Hi @zpl @Tset-Noitamotua @Hanaasagi @mellon85
This is addressed in v5 that is due to be released. I just ran your input and it looks fine to me. You can pull the dev branch and do a beta test too before v5 is released. Here are the changes:
https://github.com/seperman/deepdiff/pull/188/files
Thanks

[2020-04-29 08:43] seperman commented on #97
Hi @loriab @tos-kamiya
This is addressed in v5 that is due to be released. I just ran your input and it looks fine to me. You can pull the dev branch and do a beta test too before v5 is released. Here are the changes:
https://github.com/seperman/deepdiff/pull/188/files
Thanks

[2020-04-29 08:44] seperman commented on #29
Hi @odedniv @kevgliss
This is addressed in v5 that is due to be released. I just ran your input and it looks fine to me. You can pull the dev branch and do a beta test too before v5 is released. Here are the changes:
https://github.com/seperman/deepdiff/pull/188/files
Thanks

[2020-04-29 17:30] laike9m commented on #44
This is great news, thank you for the fantastic work! I'll give it a try.

[2020-04-30 06:39] seperman commented on #167
Never thought to have it the other way. I wonder if anybody else has ever had a need for regex checking in the original data. Not sure what the usage will be.

[2020-04-30 08:41] testautomation commented on #136
@seperman first thing I notice is

[code]

solved by `pip install numpy`

May be should be added as dependency so that is install automatically when doing `pip install deepdiff` ?

[2020-04-30 09:16] testautomation commented on #136
looks definitely better than before (where I just had a big "iterable added" + another big "iterable removed")

[code]

## data and settings used
[actual.txt](https://github.com/seperman/deepdiff/files/4557259/actual.txt)
[expected.txt](https://github.com/seperman/deepdiff/files/4557260/expected.txt)

[code]

[code]

[2020-04-30 11:25] testautomation commented on #136
@seperman  I may have found an issue, not 100% sure yet but seems like my tests ~got stuck in an infinite loop or at least~ got exceptionally slow. I have them running right now locally for almost 1 h and they have still not finished nor failed. FYI I have a test suite that finishes within ~16 minutes on CircleCI pipeline, and a bit faster when executed locally (~10 minutes), approx. 100 data-sets

[2020-04-30 11:54] testautomation commented on #136
here are the test results: [test_report_and_log.zip](https://github.com/seperman/deepdiff/files/4557973/test_report_and_log.zip)  but don't care much about them yet. I'll have to repeat the whole procedure bc my VM could have been the root cause - it was running out of disk space :see_no_evil:

[2020-04-30 14:30] testautomation commented on #136
Repeated test w/ more RAM and disk space. Same result. But I think the slow down is reasonable cause there is much more going on under the hood now. So it's not an issue of the changes in v5 but simple due to the fact that the diff is HUGE - btw. [Robot's](https://robotframework.org/) XML file (which is written during test execution) grew to over 1 GB. Also the way I wrapped Deepdiff in Robot and

[2020-04-30 15:12] seperman commented on #136
Thanks for the very useful information.
Deepdiff is running recursively now between any diffs it finds to see if it can pin point the actual difference. so it is way slower than before.

Numpy shouldn’t be required. Thanks for reporting it.

I will look into some optimizations.

We can have add a parameter for max passes to run. Currently that is the max recursion depth allowed.

Have you installe

[2020-04-30 15:35] testautomation commented on #136
Here is the part I identified to have the most impact in my tests
![image](https://user-images.githubusercontent.com/38438046/80725388-4b237880-8b03-11ea-805c-d377034f1c0b.png)

I've extracted relevant data from that. Here as .txt for a quick look

[huge_actual.txt](https://github.com/seperman/deepdiff/files/4559107/huge_actual.txt)
[huge_expected.txt](https://github.com/seperman/deepdiff/files/45

[2020-04-30 15:36] testautomation commented on #136
That would be really great!

Not yet. I can give it  a shot but I have to make sure that it also works on CI. Same w/ pypy3. I'll let you know if I can report something interesting about that.

Cheers

[2020-04-30 21:44] testautomation commented on #185
@seperman  I have a question which is related or similar to original post.

Let's assume I have some data like in example below where rows is a **list of lists each with one object** (that can have more and deeper nested elements than in below example). Each object is identifiable by it's **uid.value**.

**How can we make sure that Deepdiff compares the correct objects with each other when we comp

[2020-05-01 03:16] seperman commented on #185
Hi @testautomation
DeepDiff won't know what uid field means. It won't know that it should use uid to compare objects with the same uid. When ignore_order=True, DeepDiff compares all objects in the iterable with every other single object that is not in the first iterable to find the closest matches.

Assuming the 2 iterables contain exactly the same uids, The best thing to do is , sort the 2 iterab

[2020-05-01 03:32] seperman commented on #189
Actually you are right. It is a bug @JeffXue

[2020-05-01 03:34] seperman commented on #189
It is still for the same reason I mentioned above though. The DeepHash module ignores private variables. But that manifests only in DeepDiff when ignore_order=True. I need to either make DeepHash include private variables or make DeepDiff ignore private variables when ignore_order=False.

[2020-05-02 17:30] ri0t commented on #44
From a first glance, everything seems to work as intended with my objects.

Now my next todo item is how to get this to interop with the javascript deep diff library i found: https://github.com/flitbit/diff
Probably just needs a translation of the deltas.

[2020-05-02 17:57] laike9m commented on #44
I met a question about dependencies. It seems 5.0 relies on numpy, but it's not in `requirements.txt` thus not collected by `setup.py` and not installed. I haven't looked at code in detail, but `numpy` is a pretty heavey dependency, I wonder if it's always needed.

[2020-05-02 22:08] seperman commented on #44
@laike9m The numpy being a dependency is a mistake. Numpy is not technically required. Working on that.

[2020-05-02 23:40] seperman commented on #44
@laike9m If you pull the dev branch again, Numpy shouldn't be required anymore.

[2020-05-03 01:29] laike9m commented on #44
@seperman Thanks for the quick fix! Confirmed.

[2020-05-03 22:26] laike9m commented on #44
Another question: do we have some optimization for applying a series (>1) of `Delta` to an object?

[2020-05-04 00:04] seperman commented on #44
@laike9m
There is no specific optimization. It applies the deltas one after the other. They need to be applied in the correct order though.

[code]

[2020-05-04 00:10] laike9m commented on #44
Got it. Just asking.

[2020-05-04 00:16] seperman commented on #44
Also I pushed more changes to the dev branch last night so please pull again.

[2020-05-05 10:13] simonhkhan opened #190 "When will the report_repetition feature be production ready?"
**Feature Requested**
This README states that the `report_repetition` feature is experimental only and not production ready. This comment was made four years ago and I was wondering what the status is of making this production ready?
 - [README Line](https://github.com/seperman/deepdiff/blame/master/README.md#L68)
 - [Link to commit](https://github.com/seperman/deepdiff/commit/da3333f27043fb690635

[2020-05-05 13:50] seperman commented on #190
Hi @simonhkhan
Thanks for your comments. This feature is production ready and I have updated the docs for the next release. If you wait a day or two, DeepDiff 5 is due to be released and has significant improvements for ignore_order algorithm.

[2020-05-05 20:11] Kilo59 opened #191 "Allow Deepsearch to return glom compatible paths"
The python package `glom` is very useful for operating on and extracting data from nested objects with a KNOWN path.
https://github.com/mahmoud/glom

`DeepSearch/grep` is incredibly useful for finding objects at UNKNOWN paths and could incredibly powerful when combined with tools like `glom`.
For example, it would easily allow for search and replace on nested dicts #159 with [`glom.Assign`](https:

[2020-05-06 00:48] simonhkhan commented on #190
Oh wow that's great to hear. Sounds like I can start using it sometime this week.

Thank you for your quick response! I'll look out for the new release on pypi!

[2020-05-06 03:36] seperman commented on #191
Cool. We do have a new “path” Module in DeepDiff 5 that does what you are asking for. DeepDiff 5 is being beta tested if you are interested in beta testing and is due to be released in a few days.

Sep Dehpour

[2020-05-10 04:27] laike9m commented on #44
One suggestion, can we have a way to easily create an empty `Delta`, and it means "identical".

[2020-05-10 05:08] laike9m commented on #44
When using delta, I was kind of expecting an API like `DeepDiff.to_delta`. It's kind of weird to have to initiate a `Delta` from `DeepDiff.to_detla_dump/dict`.

[2020-05-10 05:37] seperman commented on #44
@laike9m So there is right now `to_delta_dict()` which one can then store the delta in any wau they want to. However when loading the Delta from that dictionary, it needs to use the Delta object. Originally I was gonna just keep it in DeepDiff. So it was gonna be `DeepDiff.to_delta()` and `DeepDiff.from_delta()` and then you would apply the DeepDiff object to anything. However the DeepDiff object

[2020-05-10 05:51] laike9m commented on #44
How about making `DeepDiff.to_delta()` have the same effect as `Delta(DeepDiff.to_detla_dump)`, just wraps the Delta creation to make it more intuitive, other things keep intact.

[2020-05-10 05:51] seperman commented on #44
@laike9m
I'm adding the identical Delta. Basically it will be `Delta({})`
Instead of `DeepDiff == {}` you can do `not DeepDiff`.

[2020-05-10 05:52] laike9m commented on #44
SG. Thanks.

[2020-05-10 05:53] seperman commented on #44
@laike9m
Do you prefer to get the delta dictionary and serialize it yourself or you prefer the dump format which is some header + pickle of that dictionary?

[2020-05-10 05:57] seperman commented on #44
basically `Delta.to_detla_dump` gives you a pickle object + headers. `DeepDiff.to_delta_dict` is the same object but a python dictionary before it is serialized.
I'm adding to the docs but to make sure you are in the loop, the pickle loader that I'm using is safe and only loads a whitelisted list of items. So there is no security concern unlike the normal pickle.

[2020-05-10 05:59] laike9m commented on #44
In my use case everything is in memory, and I want to keep `Delta` objects directly if possible. Is the descision of creating `Delta` objects a consideration for memory usage, or? I can imagine the pickled data consumes less memory, but dict version should roughly be the same?

[2020-05-10 06:01] laike9m commented on #44
Anyway, if you don't plan to change it, current API is fine as well.

[2020-05-10 06:11] seperman commented on #44
If you plan to keep a lot of the delta objects in memory, the pickled bytes take the least space. And you can load them back to Delta whenever needed. Regarding the API, thanks for giving the feedback. I am trying to make it more Pythonic.

[2020-05-10 06:19] laike9m commented on #44
Yeah, I'll store dumped delta anyway so it's fine.

[2020-05-10 21:05] laike9m commented on #44
I've added Delta to my program. For most test cases it works fine, except one. I created a self-contained script to reproduce:

[code]

Gives:
[code]

[2020-05-10 21:17] laike9m commented on #44
As an experiment, I replace stdlib's pickle with dill, and it actually works...

Step 1. modify `serialization.py` like this
[code]

Step 1. my test program
[code]

Run
[code]

[2020-05-10 21:29] laike9m commented on #44
Interesting enough, I find that if using pytest, `dill` doesn't work either. I'm not sure why, but it seems pytest does some magic behind the scenes which conflicts with the pickling process.

Same program, test with `pytest --assert=plain -k "test/test_diff.py"`, gives
[code]

[2020-05-10 21:48] laike9m commented on #44
Another bug found (not related to the previous): when initializing `Delta` from `DeepDiff` object, if the `DeepDiff` object evaluates to `False`, initialization will fail.

[code]

Clearly this is due to this line:
https://github.com/seperman/deepdiff/blob/dev/deepdiff/delta.py#L93
and an empty diff should be taken care of properly.

[2020-05-11 07:44] seperman commented on #44
Cool I merged your PR..
Just curious, do you use dill? I have not had any usage for it. It seems slower than cPickle too
Also I'm doing some refactoring of the ignore_order=True algorithm to use dynamic programming. There are way too many re-calculations happening right now.

[2020-05-11 08:42] laike9m commented on #44
I don't have much experience with it, just know it exists. According to this [answer](https://stackoverflow.com/a/38478024/2142577), dill is indeed slower.

In the delta use case, I think being able to pickle more types of objects is more important than performance, and this [file](https://github.com/uqfoundation/dill/blob/master/dill/_objects.py) shows dill can pickle more stuff than cPickle. Wit

[2020-05-13 11:50] wlad commented on #185
fyi: I'm back w/ a new Github handle @wlad. @testautomation is now an org.

[2020-05-13 13:36] seperman commented on #185
Cool! I will have a new beta release today. I will ping you. It should be way faster than before.

Sep Dehpour

[2020-05-15 03:48] laike9m commented on #44
Any thoughts? @seperman

[2020-05-15 04:56] seperman commented on #44
@laike9m You brought up very good points. I have never had a need to use dill but I agree with you that the interface should easily allow one to switch pickle with any other serializer.
I followed your suggestion of moving the delta dump functions to Delta class itself.

The mode parameter is an interesting idea. I have to think a little more about it. What do you think about following the overall

[2020-05-15 05:01] seperman commented on #185
@wlad Please pull the new changes on the dev branch and test with your data. It should be exponentially faster (I hope). I have also added logging so you get some insights while DeepDiff is running. Pass `log_frequency_in_sec=20` or number other than zero to get some status updates while DeepDiff is running. Once the calculations finish, please run the new `get_stats()` method to get more details

[2020-05-16 04:35] laike9m commented on #44
I like the current implementation and the idea to specify different serializers/deserializers. Originally I was thinking about storing the serialized object inside Delta, but now I realized it doesn't make much sense.

[2020-05-16 04:37] laike9m commented on #44
Meanwhile, I have a use case that I'd like to share and know what you think. Code is not opensourced yet so I use a screenshot.

![image](https://user-images.githubusercontent.com/2592205/82110565-32ff4c00-96f4-11ea-8c8b-0bc9221e2579.png)

[2020-05-16 06:21] seperman commented on #44
Interesting. The DeepDiff object is way heavier than Delta so I wouldn't deepcopy the diff object. Instead the `DeepDiff._to_delta_dict` should deepcopy its output which ends up the delta object not having any objects in common with diff. In fact I just pushed a commit that does that: https://github.com/seperman/deepdiff/commit/3a91682be795a222863d2db841b173259812bb44

That doesn't really make the

[2020-05-16 06:27] seperman commented on #185
Update: The delta module has 100% test coverage now. The tricky part is now that DeepDiff itself should run with or without Numpy. But I want to make sure in one run of pytest, the coverage report reaches 100%. That means some tests should make DeepDiff think Numpy doesn't exist. And the rest should use the Numpy module. Any ideas how to do that?

I have not tried it but if I can mutate the `sys.m

[2020-05-16 07:13] laike9m commented on #44
Cool, this will solve my problem and I can remove `deepcopy` from my code. Thanks. For me, it is not the diff object gets modified, but the object it references, like this:

[code]

[2020-05-16 15:50] wlad opened #193 "AttributeError: 'bytes' object has no attribute 'encode"
Hi @seperman, I open this one to not spam #185 which I wanted to reply to initially.

**Describe the bug**
I started testing with v 5.0 from dev branch and ran into this issue:

[code]

## Steps to reproduce the behavior:

test data: [huge_JSONs.zip](https://github.com/seperman/deepdiff/files/4559238/huge_JSONs.zip)

[code]

### Additional Information
Same issue when running my Robot test:

![imag

[2020-05-16 16:21] wlad commented on #185
@seperman  We have to solve #193 for me to continue testing

I have no idea how to achieve that in one run but just found that pytest has an option `--cov-append` which would allow to have two separate runs an then merge the cov results. That can be implemented relatively easy on a CI pipeline (w/ CircleCI or Github Actions)

[2020-05-16 18:15] seperman commented on #193
Ok let me check what's going on.

[2020-05-17 07:01] seperman commented on #193
@wlad Please pull the new dev branch and try again. It should work now. Also please run `diff = DeepDiff(actual, expected, ignore_order=True, log_frequency_in_sec=20)` so you get some logs when running the diff.

[2020-05-17 07:01] #193 closed

[2020-05-18 16:52] wlad commented on #193
Now it works. Here are some results:

### Python 3.8
[code]

### Python 3.8 w/ Murmur (mmh3) installed
[code]

### Pypy 7.1.1
[code]

[2020-05-18 20:04] David-Herman opened #194 "Delta + Numpy structure throws ambiguous true value"
**Describe the bug**
I am using the delta of the diff to generate the other input again. When using numpy arrays as input (or dictionaries of lists of arrays, etc.) it throws an exception, ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all().

**To Reproduce**
Steps to reproduce the behavior:
1. Input Code

[code]

2. Error Trace
[code]

**Expecte

[2020-05-18 21:28] seperman commented on #193
Awesome! Seems like murmur3 doesn’t introduce a noticeable performance Improvement but going with pypy does.

Sep Dehpour

[2020-05-19 01:06] seperman commented on #194
@David-Herman Thanks for reporting the issue. This is happening because the shape of the 2 arrays are different. I'm fixing it now.

[2020-05-19 12:57] David-Herman commented on #194
thanks

[2020-05-20 05:10] seperman commented on #194
@David-Herman This is fixed in the dev branch now. I added your example as a test case.

[2020-05-20 05:10] #194 closed

[2020-05-20 16:12] David-Herman commented on #194
Hello,

Thanks for the quick commit. I believe the code is causing a regression somewhere that is leading to poor performance (infinite loop?). I have two HDF5 (.Mat) files around 15-20 MB in size that unpack into python objects via scipy.io.loadmat(). I cannot provide the raw data as it is confidential. Please let me know if I can assist further in the debugging.

When I install the prior dev com

[2020-05-21 00:01] seperman commented on #194
Hi @David-Herman
It is hard to debug just based on these logs. The reason the previous branch never got to 20GB memory usage might have been that the crash didn't let it continue.
You are not even using ignore_order=True which exponentially will increase the resource usage.
Can you please also pass: `log_frequency_in_sec=20` and limit the number of diffs so it won't get an accurate diff but gives

[2020-05-21 06:46] seperman commented on #194
Also this is probably happening because we cache almost everything now in order to increase the performance. Sounds like your data basically makes it grow the cache size without enough cache hits to justify the cache. I'm gonna put some limits on the cache size.

[2020-05-21 08:32] seperman commented on #194
Hi @David-Herman
Please pull the latest from dev branch. And rerun your data. The cache size is now limited. You can play with it though and see if you get any performance benefits. You can set it via `cache_size=number`. I set the default as 5000 items. It really depends on your dataset how useful is caching. You can reduce the cache size to reduce the memory usage.

[2020-05-21 15:20] David-Herman commented on #194
Here are some of my results. Thanks for the help.

Here is the install
[code]

[code]

without ignore order the memory usage balloons.
[code]

the memory size is reasonable but the speed is slow.
[code]
Here is the output
[code]

How do I set the chache_size?
[code]

[2020-05-21 17:17] David-Herman commented on #194
Ok, I have been troubleshooting further with sub-structures of my data structure. I am not encountering issues with memory size presently. What I have noticed is that when ignore_order=True is used in function call it runs slightly slower (e.g. 0.0119 vs 0.0139 seconds) for most  of the data. Then on some data the ignore_order= True increase in time to 51 seconds compared to the DeepDiff(,) call o

[2020-05-22 00:14] seperman commented on #194
Hi @David-Herman
Thanks for posting sample date. The cache_size is a new parameter. Please pull the latest dev branch to be able to set it.

[2020-05-22 00:27] seperman commented on #194
Very interesting how long it takes to run this. Let's open a new ticket and continue there since this ticket was about the delta + numpy error.

[2020-05-22 00:30] seperman opened #196 "Numpy performance issues when ignore_order=True"
**Describe the bug**
As reported by @David-Herman there are performance issues with Numpy arrays when ignore_order=True.

**To Reproduce**
Steps to reproduce the behavior:
https://github.com/seperman/deepdiff/issues/194#issuecomment-632233888

**Expected behavior**
It should be faster.

[2020-05-22 00:40] seperman commented on #196
So fyi, when ignore_order=True all the common items are removed. Then a Cartesian product of the 2 arrays will take palce and the distance between all the items are measured to decide what has changed to what. In your case @David-Herman you have an array with 800 items and only 4 shared items with the other array which is 555 items. That is (800-4)*(555-4) = 438596 diffs that need to take place. A

[2020-05-24 19:42] laike9m commented on #44
Seems all features are stabled. May I ask when do you plan to release 5.0?

[2020-05-25 02:06] seperman commented on #44
That's a great question. What is remaining is now getting to 100% test coverage. It is at 99%. And believe it or not that last 1% coverage always takes a little longer than it sounds like.
Also updating the docs.
Last but not least, there is a huge performance issue when it comes to Numpy since I'm not doing Numpy calculations efficiently and I'm working on it right now.
So I would say probably re

[2020-05-25 02:08] laike9m commented on #44
No worries, performance is indeed important and worth spending time on.

[2020-05-27 12:24] seperman commented on #196
@David-Herman Please pull the latest dev branch and test again.
I did some optimizations for diffing numbers with ignore_order=True that dramatically improves diffing the arrays you have posted.

[2020-05-27 16:30] David-Herman commented on #196
The latest dev branch was pulled via,
[code]
the default call,
[code]
and output,
[code]
now with `ignore_order = True`,
[code]
results in the following output,
[code]

so a ~10X improvement.

[2020-05-27 18:32] David-Herman opened #197 "High memory usage performing diffs of scipy.io.matlab.mio5_params.mat_struct"
Creating a new issue from, https://github.com/seperman/deepdiff/issues/194#issuecomment-631799918

using the current dev branch as of today other than adding a wrapper on the __init__ method.
[code]

[code]

[2020-05-27 18:34] David-Herman commented on #197
which other class methods should I add the decorator, besides the __init__?

[2020-05-27 20:06] seperman commented on #197
Interesting. I should run some memory profiler too. Yes we should add the decorator to a bunch of other places but it has been a while since I ran the memory profiler so I don't remember if you can add the decorator to more than one place. What I'm curious about is what percentage of the memory usages is in the DeepDiff object's `self.hashes` vs. `self.tree`. There is a ton of overhead that can be

[2020-05-28 18:05] DClabaut opened #198 "Regression: ignore_paths works in 4.0.7, not in 4.3.1"
**Describe the bug**
ignore_paths does not actually ignore pathes in recent versions

**To Reproduce**
This script (diff.py):
[code]
$ pip3 install deepdiff==4.0.7
$ ./diff.py
{}
$ pip3 uninstall deepdiff && pip3 install deepdiff==4.3.1
$ ./diff.py
{'iterable_item_added': {'root[0]': {'name': 'Test User', 'email': 'tuser@example.com'}}, 'iterable_item_removed': {'root[0]': {'cn': 'tuser', 'first_n

[2020-05-31 07:35] seperman commented on #198
Hi @DClabaut Thanks for reporting the issue. Working on a fix.

[2020-06-01 00:48] seperman commented on #198
Hi @DClabaut
This is not a bug. In fact the behavior in 4.0.7 is wrong.
With `exclude_paths` you need to pass the exact path that needs to be excluded. In your case the object is a dictionary inside a list.
Try:

[code]

If you don't want to pass exact path's then you should use `exclude_regex_paths`

[2020-06-01 00:48] #198 closed

[2020-06-01 14:23] David-Herman commented on #197
To give further background. My data structure in the above trace example is composed of a scipy.io.matlab.mio5_params.mat_struct, which is highly nested, that is composed by about ~250 data objects which include strings, ints, floats, and primarily numpy arrays. The data structure typically does not change but may (data streams of different compositions). Is deepdiff the right tool to enable effic

[2020-06-02 15:33] DClabaut commented on #198
I confirm this works on 4.3.1:
[code]
Thank you!

[2020-06-14 05:57] ntkathole opened #199 "Allow ignore some expected differences"
**Is your feature request related to a problem? Please describe.**

I have certain expected changes in 2 dicts but deepdiff throws error for such changes. Is their any way to ignore some expected changes?

[code]

**Describe the solution you'd like**

I expect some features such as
`diff = deepdiff.DeepDiff(x, y, ignore_expected_in_groups=[(0, "no data")]) `

**Describe alternatives you've conside

[2020-06-20 04:29] seperman commented on #199
Hi @ntkathole
Have you looked into `exclude_paths` ? You can tell DeepDiff to ignore any changes for those variables via this parameter.

[2020-06-20 04:40] ntkathole commented on #199
Thanks @seperman for looking into this. `exclude_paths` completely remove that variable from comparison. I am looking for ignoring particular value of the key.

`In [1]: x = [{'date': 'June 14', 'data': {'fedora': '4', 'centos': '0'}}]                                                                        `

`In [2]: y = [{'date': 'June 14', 'data': {'fedora': '0', 'centos': '0'}}]

[2020-06-20 04:43] seperman commented on #199
I see. DeepDiff currently doesn't expose such a capability.

[2020-06-23 03:55] #44 closed

[2020-06-23 18:47] seperman commented on #197
Hi @David-Herman
Please pip install the latest DeepDiff that I just released and let me know how it goes. There has been many performance improvements. Please also checkout https://zepworks.com/deepdiff/5.0.0/optimizations.html

[2020-06-23 18:47] seperman commented on #196
Closing this ticket since there has been major improvements: https://zepworks.com/deepdiff/5.0.0/optimizations.html

[2020-06-23 18:47] #196 closed

[2020-06-23 18:48] seperman commented on #191
Hello @Kilo59
Please checkout https://zepworks.com/deepdiff/5.0.0/extract.html
A new DeepDiff is released!
Closing this ticket.
Thanks

[2020-06-23 18:48] #191 closed

[2020-06-23 18:49] seperman commented on #189
Hi @JeffXue
DeepDiff 5 is finally here!
And it has a new parameter that you can use:
https://zepworks.com/deepdiff/5.0.0/ignore_types_or_values.html#ignore-private-variables

Closing this ticket.
Thanks

[2020-06-23 18:49] #189 closed

[2020-06-23 18:50] seperman commented on #190
Hi @simonhkhan
DeepDiff 5 is finally here!
And report repetitions is production ready!
https://zepworks.com/deepdiff/5.0.0/ignore_order.html#reporting-repetitions

Closing this ticket.
Thanks

[2020-06-23 18:50] #190 closed

[2020-06-23 18:51] seperman commented on #181
Hi @nathanielobrown
DeepDiff 5 is finally here. Thanks for your PR.

[2020-06-23 18:51] #181 closed

[2020-06-23 18:54] seperman commented on #163
Hi @Moult
DeepDiff 5 is finally here. And it has a few parameters to control the results granularity so it can speed things up. The closest thing to what you are asking for is https://zepworks.com/deepdiff/5.0.0/optimizations.html?highlight=max_diffs#max-diffs but it can give you empty results if the number is too low.

[2020-06-23 18:56] seperman commented on #153
Hello @Hedgehogues
DeepDiff 5 is finally here and it comes with much better Numpy support: https://zepworks.com/deepdiff/5.0.0/optimizations.html

[2020-06-23 18:56] #153 closed

[2020-06-23 18:56] seperman commented on #136
DeepDiff 5 is finally here and it comes with multiple passes option!
https://zepworks.com/deepdiff/5.0.0/ignore_order.html#max-passes

[2020-06-23 18:56] #136 closed

[2020-06-23 18:59] seperman commented on #120
Hi @zpl @Tset-Noitamotua @Hanaasagi @mellon85
DeepDiff 5 is finally here and this issue is resolved.
https://zepworks.com/deepdiff/5.0.0/ignore_order.html

[2020-06-23 18:59] #120 closed

[2020-06-23 19:00] seperman commented on #110
Hi @stevenjackson121
Have you checked the combination of significant_digits and scientific format notation? https://zepworks.com/deepdiff/5.0.0/numbers.html#number-format-notation

[2020-06-23 19:02] seperman commented on #106
Hi @coquero
This issue is resolved in DeepDiff 5 since we have much better numpy support now.
https://zepworks.com/posts/deepdiff-5-released/

[2020-06-23 19:02] #106 closed

[2020-06-23 19:02] seperman commented on #29
Hi @odedniv @kevgliss
This issue is resolved in DeepDiff 5.
https://zepworks.com/posts/deepdiff-5-released/

[2020-06-23 19:02] #29 closed

[2020-06-23 19:04] seperman commented on #97
Hi @loriab @tos-kamiya
DeepDiff 5 is released and this issue is resolved: https://zepworks.com/posts/deepdiff-5-released/

[2020-06-23 19:04] #97 closed

[2020-06-23 19:04] seperman commented on #85
Hi @dbrrt @MKaras93
DeepDiff 5 is released. Thanks to @MKaras93  for the PR.
https://zepworks.com/posts/deepdiff-5-released/

[2020-06-23 19:04] #85 closed

[2020-06-23 19:08] seperman commented on #102
Hello, This seems to be working fine.
Also DeepDiff 5 is finally here which comes with many improvements.
https://zepworks.com/posts/deepdiff-5-released/

[2020-06-23 19:08] #102 closed

[2020-06-24 14:38] d0b3rm4n opened #200 "Unknown format code 'f' for object of type 'str' ... if bool with str is compared"
**Describe the bug**
Since `isinstance(True, int)` is true, and `int` is in the list of `numbers` in https://github.com/seperman/deepdiff/blob/4662faea2cf4982e6f1974fd5abf18216ebc7aaa/deepdiff/diff.py#L1155-L1156 it runs the "number" diff code if in the first dict the value is of type `bool`, but if the 2nd compared value is not a number type or `bool`, e.g. `str` it fails later on, when trying to

[2020-06-24 19:04] David-Herman commented on #197
This is the pip install at the latest commit (used hash to be explicit on what I was installing)

`>pip install git+git://github.com/seperman/deepdiff.git@4662faea2cf4982e6f1974fd5abf18216ebc7aaa`

and confirming via ` .__version__`.
[code]

[code]

When I pre-flatten the data structure I do save some considerable amount of space. Here is the code I used to flatten,

[code]

and the memory consump

[2020-06-25 12:06] MyrikLD opened #201 "TypeError when compared to None"
**Describe the bug**
Rises exception when tries to compare None with any another type:
[code]

**To Reproduce**
[code]

**OS, DeepDiff version and Python version:**
    OS: Manjaro Linux
    Version:
        Python: 3.8.3
        Deepdiff: 5.0.0

[2020-06-30 16:11] simonhkhan commented on #190
Thank you! Looks like zepworks is the official source of docs for DeepDiff. I believe the docs on the GitHub README is a bit out-dated https://github.com/seperman/deepdiff#report-repetitions . It states here that report-repetitions is experimental.

Thanks again for the new release, i'm excited to try it out!

[2020-06-30 17:46] sneko opened #203 "How to only look for change at the root level?"
Hi,

(sorry if it's not the right place to post, there is no indication in the `README.md` for support)

I don't succeed to do kind of a "deepdiff" with this library, I will explain with examples.

I'm storing entities as follow:
[code]

And I would like to compare the previous dict to another dict:
[code]

The ideal for me would be to same some kind of answer:
[code]

I tried
[code]

But if a sub

[2020-07-01 17:19] seperman commented on #190
@simonhkhan Thanks for letting me know about that one. I just updated it.

[2020-07-02 11:08] tommilligan opened #204 "Documentation link in readme is broken"
**Describe the bug**
The documentation link appears to be broken, or the webserver is offline.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://zepworks.com/deepdiff/5.0.1/
4. See error

![image](https://user-images.githubusercontent.com/12255914/86351698-9ae60380-bc5c-11ea-9e91-18988051b12c.png)

[2020-07-02 16:16] seperman commented on #204
Thanks for reporting it @tommilligan
It is fixed now!

[2020-07-02 16:16] #204 closed

[2020-07-02 16:25] seperman commented on #203
Hi @sneko
What about comparing only the keys?

[code]

[2020-07-05 20:11] Bracy2020 opened #205 "list differs"
Hi,

When I am trying to use deepdiff for comparing the attached two jsons(using with ignore_order=True and report_repetition=True)

I am getting the changes as ‘iterable_item_added\removed’’ I don’t understand why I don’t get it as 'value_changed', because only the values of the attributes were changed .(Attached the output)

When I disable report_repetition flag I get another result - 'value_cha

[2020-07-05 22:00] sneko commented on #203
Hi @seperman,

Sorry if I misunderstood, but comparing keys would not give me those 4 distinctions for each object:
* ADDED
* REMOVED
* MODIFIED
* UNCHANGED

At least I could know which one is deleted, and those added. But I would never know about modified ones right?

[2020-07-06 20:22] sneko commented on #203
Just to follow up, here is the code to extract the 4 kinds I was refering to:
[code]

Hope it can help someone.

Thanks for the library @seperman (wondering maybe I could have use just basic Python to do that, but anyway... ^^).

[2020-07-06 20:22] #203 closed

[2020-07-07 17:59] seperman commented on #205
Hi @Bracy2020

Please checkout:
https://zepworks.com/deepdiff/current/ignore_order.html#cutoff-distance-for-pairs
and
https://zepworks.com/deepdiff/current/ignore_order.html#cutoff-intersection-for-pairs

[code]

I'm closing the ticket since I think this is what you were looking for.
Sep

[2020-07-07 17:59] #205 closed

[2020-07-07 18:01] seperman commented on #205
Also I don't see any repetitions in your jsons. So I didn't do `report_repetition=True`

[2020-07-07 18:03] seperman commented on #201
Hi @MyrikLD
Thanks for reporting this bug. I will fix it when I have a chance.
Thanks,
Sep

[2020-07-07 18:04] seperman commented on #200
Hi @d0b3rm4n
Thanks for the PR. It is released in DeepDiff 5.0.1

[2020-07-07 18:04] #200 closed

[2020-07-07 19:12] Bracy2020 commented on #205
It is a great library!!!!
thanks a lot!

‫בתאריך יום ג׳, 7 ביולי 2020 ב-21:01 מאת ‪Sep Dehpour‬‏ <‪
notifications@github.com‬‏>:‬

[2020-07-10 01:42] ns-zsyed opened #206 "Using exclude_regex_paths giving incorrect results when comparing dictionaries"
I m trying to deepdiff two nested dictionaries.I was looking for a way to compare only certain paths. In the below example Im trying to compare only a particular key in the dicts. I was not able to do this directly. So I m using exclude_regex_paths with a regex that matches all paths except the key that Im interested in.

**To Reproduce**
[code]

**Expected behavior**
I was expecting the differenc

[2020-07-23 18:00] seperman commented on #201
Thanks @MyrikLD
[DeepDiff 5.0.2](https://zepworks.com/deepdiff/current/) is released with your bugfix.

[2020-07-23 18:00] #201 closed

[2020-07-28 02:30] fantamiracle opened #209 "Show deepest diff when using ignore_order=True"
Let me explain with an example:

[code]
problem:
`DeepDiff([t1], [t2], ignore_order=True) !=  DeepDiff(t1, t2, ignore_order=True)`

The feature request is a flag so that it shows the deepest diff, so that the above statement is true. Something like:
`DeepDiff([t1], [t2], ignore_order=True) ==  DeepDiff(t1, t2, ignore_order=True, <shallow_diff=False>
)`

I hope it makes sense.

[2020-07-28 02:39] fantamiracle commented on #209
Oh I just saw that in Project section you are already working on this. So I guess, never mind.

[2020-07-28 17:32] seperman commented on #209
Hi @fantamiracle

I don't think we have such a feature in our plans. As you know the reason the 2 diffs are different is the path to the items are different.

[code]

If you really want to ignore the paths, you can do

[code]

[2020-07-28 17:32] #209 closed

[2020-08-02 03:01] fantamiracle opened #210 "ignore_order=True throws TypeError exception"
**Describe the bug**
Deepdiff throws an exception with ignore_order=True flag for 5.0.2

**To Reproduce**
Running the example in the docs:

[code]
**Expected behavior**
no exception.

**OS, DeepDiff version and Python version (please complete the following information):**
 - OS: linux - python 3.5
 - Version 5.0.2

[2020-08-02 14:56] seperman commented on #210
Hi Amir,

Thanks for reporting this bug. I will take a look at it asap.

[2020-08-14 22:59] fantamiracle commented on #210
Is that a confirmed bug? is there anyway I can get around the bug somehow, until the new release comes out?

[2020-08-16 17:30] seperman commented on #210
I will look at it today!

Sep Dehpour

[2020-08-17 03:35] seperman commented on #210
@fantamiracle What version of OrderedSet is installed on your machine? I'm not able to reproduce this bug. I tried both on Python .5 and 3.8.

[2020-08-17 18:41] fantamiracle commented on #210
That above error was with orderd-set 4.0.2. But then I tried 4.0.1, and I got a totally different errors. Thats's kinda odd.

[code]

[2020-08-17 19:55] seperman commented on #210
I have tested it on Python 3.5.9. Yours is 3.5.2. Do you have to use 3.5 or you have the option to use a newer version of Python? I can't reproduce this issue.

[2020-08-17 20:38] fantamiracle commented on #210
I tried to reproduce it in a virtualenv, I couldn't. I guess it is all good. My python setup was kinda messed. I still do not understand the core issue here. But I think it is all good. Thank you very much.

[2020-08-18 17:27] seperman commented on #210
Sure! Happy to help.

[2020-08-18 17:27] #210 closed

[2020-09-04 09:29] lyz-code opened #211 "Modify parent of a DeepSearch result"
I want to be able to do operations on the parent of a DeepSearch result.

I've tried with the `extract` function, but it returns the value of the matched path.

It would be awesome to be able to run `.up()` in the path result, much like the tree view in DeepDiff, so you obtain the parent object.

A solution I can think of is converting the path returned by DeepSearch in a `Path` object insetad of

[2020-09-04 20:08] seperman commented on #211
Interesting. This is gonna be tricky though since when traversing an object you can have multiple children so .down() won’t know know which one to go to. Technically an object can have multiple parents too. So I think modifying the path and using extract might be the way to go.
Thanks,

Sep Dehpour

[2020-10-02 00:35] dwasyl commented on #94
@wyattshapiro Is there a chance you ever got anywhere with a PR? I'm trying to do something fairly similar (i.e. create a 'diff' dict that has new keys/values, changed keys (with the value), and then deleted ones represented. Even if only as a starting point what you built might be helpful!

[2020-10-02 18:43] wyattshapiro commented on #94
@dwasyl never made the PR, but did complete a CDC using ddiff (assuming a flat dict comparison in my case).

General steps:
1. Create ddiff `ddiff = DeepDiff(destination_data, source_data, ignore_order=True)`
2. search the ddiff top level for the change_sections of interest (ie. 'values_changed')
3. iterate through that ddiff dict value (where ddiff key='values_changed') and reconstruct a dict so

[2020-10-06 17:18] wyattshapiro commented on #94
After briefly reviewing the code, it looks like a feature such as this one could be implemented as a type of View and an associated model (Ex. https://github.com/seperman/deepdiff/blob/c78395c3a0ced0cadea569c3df3e64aa50531ad6/deepdiff/model.py#L88). Obviously, this means the diff is still computed as usual and the result would be transformed at the end.

I think what I struggle with the most is th

[2020-10-08 19:34] seperman commented on #94
Hi @wyattshapiro
Interesting. The reason I decided originally not to move forward with this feature was that there are so many possibilities in what to include or not as you noted. Everyone's use case is different. Most users could run a transformation on top of the DeepDiff results to get what they want. And any of these "views" will essentially produce a subset of what the "text" view already pr

[2020-10-13 20:10] wyattshapiro commented on #94
Hey @seperman
No doubt any user can run a transformation themselves, that's what I did for using the Text view model as a result. On the other hand, if there are many users running this specific transformation themselves, then it seems like a sweet feature to extend to all.

What I am imagining at a high level is an API that allows users to select this new view when calling DeepDiff(). Then, there

[2020-10-19 20:24] johnsynnott opened #215 "Including values for "dictionary_items_added""
Hi folks, I'm wondering if there's a way to include the value that was added when a dictionary item is added rather than just the path of the key that was added?

Code will probably make what I'm asking clearer:
[code]
Returns:
[code]

It makes sense that `dictionary_item_removed` would be a list of paths of what has been removed, but is there any way to include what value was added when an item w

[2020-10-19 22:40] seperman commented on #215
Hi @johnsynnott
You can achieve it by passing `verbose_level=2`
https://zepworks.com/deepdiff/current/diff.html

[2020-10-19 22:40] #215 closed

[2020-10-19 23:08] johnsynnott commented on #215
Ah perfect, that's exactly what I was after!
I think I must have misread the docs by accident, sorry about that.

Thanks again for the help and for all of your work on this project!

[2020-10-19 23:34] seperman commented on #215
Sure!
Thanks

Sep Dehpour

[2020-10-27 10:46] andormarkus opened #216 "Enhancement: Adding multiprocessing to DeepDiff"
**Is your feature request related to a problem? Please describe.**
Im running DeepDiff on list of dict which has 500k element. The runtime is quite time-sensitive. It would be great if I could improve the performance with multiprocessing.

**Describe the solution you'd like**
Faster processing time.

**Describe alternatives you've considered**
I tried the following solution: Split the list into sm

[2020-10-27 17:32] seperman commented on #216
Hello,

Are you using ignore_order=True ?
Have you seen the optimizations page:

https://zepworks.com/deepdiff/current/optimizations.html#

Yes multi processing is not supported yet.

Sep Dehpour

[2020-10-27 20:39] andormarkus commented on #216
Hi Sep,

Most of my data looks like this and the difference between of two list of dict are low. I would say less than 10% is different. Im only looking for the "iterable_item_removed" output of ddiff.
`[
{"contact_id": 1, "launch_id": 1, "domain": "gmx.de", "email_sent_at": "2020-10-22T07:18:22.000Z", "campaign_type": "batch", "bounce_type": "block", "campaign_id": 1, "message_id": 1, "event_time

[2020-11-02 08:56] JPFrancoia opened #217 "DeepDiff can't compare dict of numpy types"
I would like to use DeepDiff to compare two dictionnaries of numpy types. This is mainly to make sure the column I have in a pandas dataframe have the expected types.

**To Reproduce**

[code]

**Expected behavior**

I expect the `diff` object above to NOT be empty. However, it's empty in practice. No assertion is raised with the code above.

I use deepdiff 5.0.2.

[2020-11-03 00:44] seperman commented on #217
Hi JPFrancoia,

Thanks for reporting the issue. I will take a look at it when I have a
chance.

Sep

On 11/2/20 12:57 AM, JPFrancoia wrote:

[2020-11-16 16:11] RoySegall opened #218 "Return the diff without the root"
When creating a diff between dictionaries which are only one level we still get:
[code]

it seems pretty odd that we get the field name wrapped with the `root` instead of just the field name itself. Is it by design or do I feel this could be a nice PR?

Thanks!

[2020-11-16 16:21] seperman commented on #218
Hi,
Yes this is by design so it is consistent with results from nested objects.

[2020-11-16 16:23] RoySegall commented on #218
Is there any way to pass "return_fields_for_flat_object" or something like this?

[2020-11-16 17:51] seperman commented on #218
Sorry there is no feature like what you are asking. The consistency of the results between nested and flat objects is crucial.

[2020-11-16 17:51] #218 closed

[2020-11-24 17:04] daniel-wer opened #219 "DeepDiff doesn't consider order when comparing OrderedDicts"
**Describe the bug**
DeepDiff ignores the order of keys when comparing two OrderedDicts.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
According to the [Python OrderedDict docs](https://docs.python.org/3/library/collections.html#collections.OrderedDict):

I would have expected DeepDiff to return a diff when comparing two OrderedDicts which are not equal.

For exa

[2020-12-02 18:38] johnthagen opened #220 "mmh3 project seems to be dead"
The [`mmh3`](https://pypi.org/project/mmh3/) has not had a release in 3 years and it's documentation site is also dead: https://pythonhosted.org/mmh3/

- https://github.com/hajimes/mmh3

Should this project considering finding a maintained package for the murmur algorithm?

[2020-12-02 19:00] seperman commented on #220
Hi @johnthagen
Great question. Honestly we didn't gain that much from using MMH3 since hashing has not been the bottleneck I imagined it would be. We can just use SHA256. I will take care of it in the next release.

[2020-12-02 19:14] seperman commented on #219
Hi @daniel-wer
Interesting. Now that Python's dictionaries have been ordered by default since 3.6, I imagined people were gonna stop using OrderedDict altogether. What do you propose for the output format in addition to the one you posted?
Thanks

[2020-12-09 18:02] daniel-wer commented on #219
Hi @seperman

One could say using OrderedDict instead of dict post 3.6/7 would express explicitly that the ordering is important even though this is probably by no means a convention. A library like deepdiff could use this distinction to consider order only for OrderedDicts but not for dicts. However, an argument to DeepDiff expressing whether the user is interested in dict item order would likely

[2020-12-14 21:17] danbergelt opened #222 ""Negative" exclusion not working"
**Describe the bug**
I'm trying to exclude paths with negative exclusion, i.e. all regex paths that **don't** match the provided pattern. I've confirmed that the pattern listed below works with `re.search` (which is what DeepDiff, according to the docs, uses under the hood), but I'm unable to get it working when calling `DeepDiff(...)`.

**To Reproduce**
Consider the following paths:
`a = "root['f

[2020-12-14 23:46] danbergelt commented on #222
I believe this is resolved. I cloned down the repo, and found that when `level.path()` is called on the outset of performing a diff, the initial path is `root`. A negative lookahead will match this, and then the entire path is skipped. This causes an empty dict to always be returned.

By changing the regex to `r"^(?!.*\['foo'\]|^root$).*"` I was able to get it working.

[2020-12-14 23:46] #222 closed

[2021-01-04 02:51] seperman commented on #220
Hi @johnthagen
Just wanted to keep you posted that DeepDiff 5.2.1 is released and MMH3 is deorecated.
Thanks!

[2021-01-04 02:51] #220 closed

[2021-01-04 02:54] seperman commented on #219
Hi @daniel-wer
Thanks for the note. If this issue is reported in future by more people we can certainly take care of it. Personally I was surprised when I learnt from you how OrderedDict comparison works. Didn't expect it to take order into consideration when running `__eq__`.

[2021-01-04 02:54] #219 closed

[2021-01-04 03:03] seperman commented on #206
Hi @ns-zsyed
This is certainly a bug. Not sure how I missed this ticket.
Will take a look at it asap.
Thanks!

[2021-01-04 03:09] seperman commented on #206
@ns-zsyed Ok I ran your code and the problem is that your regex matches "root" which is the first path we check.

[code]
`Regex matched root`

[2021-01-04 03:09] #206 closed

[2021-01-04 03:12] seperman commented on #158
Hi @TomDufall
I'm not sure how to automatically fix this issue on the links on Pypi. I'm closing this issue for now. If later someone has time to fix the issue, that is very appreciated. Thank you.
Sep

[2021-01-04 03:12] #158 closed

[2021-01-04 22:33] TomDufall commented on #158
I think it's fine now - all the links seem to point to the Zepworks page.

[2021-01-08 03:03] mgd722 opened #223 "Diffing two arrays of objects can make it look like an object was modified when really one was added and one was deleted"
I'm not sure I'd call this a bug, but it is not the behavior I expected?

**Describe the bug**
For simplicity, let's imagine I have an app where people input their pets.
[code]

**To Reproduce**
Code above.

**Expected behavior**
I'd expect the `iterable_item_added` and `iterable_item_removed` keys with the associated added/removed objects. I know this is getting kind of philosophical about the na

[2021-01-08 21:57] seperman commented on #223
Hi @mgd722 ,
You can reduce [cutoff-distance-for-pairs](https://zepworks.com/deepdiff/current/ignore_order.html#cutoff-distance-for-pairs) from the default of 0.3 to get what you want:

Example:

[code]

[2021-01-08 21:57] #223 closed

[2021-01-08 22:13] mgd722 commented on #223
Boy I really didn't understand that the first time I read it, but I'll go back and give it another go and figure it out. Thanks for the quick response!

[2021-01-08 22:14] seperman commented on #223
Sure. Honestly I think that parameter is confusing. I wonder how to make it less confusing though.

[2021-01-12 17:48] Annakan opened #224 "Any None value make Delta non safely serializable"
**Describe the bug**
If a data structure contains a None value the serialize/deserialize roundtrip breaks

**To Reproduce**
[code]
Although there is `builtins.None` in `SAFE_TO_IMPORT`, pickle need to use builtin.type for reason I did not figure yet

This works :
```Delta(Delta(DeepDiff({"a":None}, {"a":1})).dumps(), safe_to_import={'builtins.type'})```
=>
<Delta: {'type_changes': {"root['a']": {'

[2021-01-14 07:38] seperman commented on #224
@Annakan Haha thanks. Happy to hear you like DeepDiff and Delta.
Yep the safe_to_import is just for the import time. I will update the docs. And I agree that the init does too much magic. I just wanted the user interface as simple as possible which goes against being explicit. We can probably have some factory method exposed for people who want it explicit. What do you think? Since users have alre

[2021-01-15 03:16] #224 closed

[2021-01-19 00:35] Annakan commented on #224
Thanks for your prompt answer.

I think the ClassMethod/Factory method would be an improvement.
And  while you are at tit ... moving the code from the delta.__add__ into a "proper" classical method like apply_to(object, mutate= ...) and having __add__ calling this method would also make the interface more clear especially when mutating in place :).
For instance having :
[code]
looks a bit weird an

[2021-01-21 16:49] joaonc opened #226 "Pass `json.dumps` parameters in `DeepDiff.to_json`"
**Is your feature request related to a problem? Please describe.**
`DeepDiff.json(...)` uses `json.dumps(...)` and `json.dumps` has a few parameters (namely `indent`) that I'd like to use.

**Describe the solution you'd like**
`to_json(...)` could either have arguments used by `dumps` (ex: `skipkeys=False, ensure_ascii=True, check_circular=True, allow_nan=True, cls=None, indent=None, separators=No

[2021-02-11 17:52] see-gshefer opened #227 "RecursionError where using non UTF-8 character"
**Describe the bug**
RecursionError where using non UTF-8 character

**To Reproduce**
[code]

**Expected behavior**
return matched results as usual

**OS, DeepDiff version and Python version (please complete the following information):**
 - OS: MacOS BigSur
 - Python 3.8.6

**Additional context**
Got Recursion error:
RecursionError: maximum recursion depth exceeded in comparison

[2021-02-16 19:49] seperman commented on #227
@see-gshefer
Thanks for reporting this bug. I have made a fix and will post you once that is published. Just one note: grep is not very useful when you are searching for a nested object inside another nested object. The reason is that grep will convert your `{'foo': 'bar'}` into a string of `"{'foo': 'bar'}"` when searching. It works correctly when searching for integers or strings inside a nested

[2021-02-16 20:31] seperman commented on #227
@see-gshefer this feature is released in DeepDiff 5.2.3
https://twitter.com/sep_dehpour/status/1361774255050870789
Thanks.

[2021-02-16 20:31] #227 closed

[2021-02-16 20:33] seperman commented on #226
Hi @joaonc
This feature is covered in DeepDiff 5.2.3: https://zepworks.com/deepdiff/current/serialization.html#to-json
https://twitter.com/sep_dehpour/status/1361774255050870789

[2021-02-16 20:33] #226 closed

[2021-02-17 09:48] see-gshefer commented on #227
Thanks!!!

[2021-03-02 15:30] simon-liebehenschel opened #231 "pathlib.PosixPath dictionary values not supported"
**Describe the bug**
pathlib.PosixPath values are 'unprocessed'

**To Reproduce**
[code]
Result:
[code]

**Expected behavior**

Add support for the pathlib.PosixPath

**Additional context**

- deepdiff 5.2.3
- Python 3.9
- Lubuntu 20.04

[2021-03-03 12:38] jerem0808 opened #232 "list of dictionnaries"
**Describe the bug**
When comparing two list of dictionnaries the elements present in one or the other files aren't present in the output

**To Reproduce**
I first read the two XML files and convert them to JSON with XMLtoDict library

[code]

I then do the diff
[code]
There is only a change in the changes part nothing in the added or removed part
[code]
I also tried with cutoff_distance_for_pairs

[2021-03-04 14:35] jerem0808 commented on #232
I think that i did something wrong with my files. Using the two cutoff variable improved the output

[2021-03-04 14:35] #232 closed

[2021-03-05 06:07] prashant-bansod opened #233 "ignore_order does not work"
**Describe the bug**
I am trying to find the difference in two objects without considering the order of the keys inside the object
Although there is no difference between the two inputs, the output shows some differences.

**Expected behavior**

I am using the following code for comparison purposes.
The objects are in two different files and the comparison is performed line by line.

[code]
I was

[2021-03-05 06:23] seperman commented on #233
Hello, dictionary keys order change shouldn't produce any different results whether you use ignore_order=True or False. The example you have posted gives the empty result:

[code]

Just looking at how you are opening your files, you are reading them line by line and comparing those lines as strings? You will want to deserialize those lines into dictionaries before using DeepDiff.

[2021-03-05 07:03] prashant-bansod commented on #233
Thanks a lot for your reply. It is working well after making the changes you suggested.

[2021-03-05 07:03] #233 closed

[2021-03-12 08:46] rfdinis opened #234 "ignore_order parameter makes DeepDiff ignore repeated values"
Given the following dicts:

[code]

I ran two DeepDiff's and got the following results:

[code]

[code]

I would expect the removed iterable to still be detected as this isn't an order difference

[2021-03-12 09:38] #234 closed

[2021-03-18 11:24] transfluxus opened #235 "not serializable to json"
type changes cannot be serialized:

it throws:
Object of type type is not JSON serializable

[2021-03-18 11:25] transfluxus commented on #235
neither is PrettyOrderedSet

[2021-03-18 14:47] seperman commented on #235
Have you looked at the docs?

https://zepworks.com/deepdiff/current/serialization.html#

Sep Dehpour

[2021-03-18 17:22] #235 closed

[2021-03-24 23:38] Tankanow opened #236 "Return path as a datastructure instead of a string."
**Is your feature request related to a problem? Please describe.**
I would like to programmatically transform diff results without resorting to string parsing.

**Describe the solution you'd like**
Ideally, I could ask `DeepDiff` to return the path in a data structure that I could programmatically transform. A natural data structure would be a list, e.g. `root[4]` would just be `[4]`, `root['key']

[2021-03-26 00:27] soundmaking commented on #236
might `extract` be of help here?
https://zepworks.com/deepdiff/5.2.3/extract.html

[2021-03-29 12:44] adrianog commented on #167
My understanding (possibly wrong) is that currently deepdiff will perform a full diff of the objects in any case, and THEN apply a filter on the returned results.

What I think might be a feature of interest is a regular expression (to be applied to either the source or target object), to exclude certain paths from comparison.

[2021-04-01 14:38] bytinbit commented on #236
I'm working on a project where we're in need of this too: Based on the DeepDiff result update a target data structure.

*Use Case*: The DeepDiff result `dictionary_item_added` has the entry `"root['spine1']['interfaces']['Loopback0']"`, which means I'd like to add `target_structure["spine1"]["interfaces"]["Loopback0"]` and its associated value (which is provided using `verbose_level=2`) to the tar

[2021-04-04 04:32] sathishsms commented on #52
+1 amazing feature to have
Let's use regex based comparison too
[code]

[2021-04-06 12:50] lyz-code opened #238 "Support searching with regular expressions"
I'd like to use regular expressions to find elements of a dictionary with `grep`.

[code]

If you give me some guidance on how to do it, I can make a PR

[2021-04-06 13:05] lyz-code commented on #238
My proposal would be to change [`obj == item`](https://github.com/seperman/deepdiff/blob/master/deepdiff/search.py#L135) with a `re.search` if `isinstance(item, str)`.

[2021-04-07 05:49] seperman commented on #238
Hi @lyz-code
Thanks a lot for the PR. I left a comment. We can continue discussing in the PR. :)

[2021-04-07 05:58] seperman commented on #236
Hi @Tankanow and @bytinbit
Thanks for the comments. The problem with a path style like `['key', 'key2']` is that we don't know if it is `root.key.key2` or `root['key']['key2']` etc. The Treeview does have the functionality that you are looking for but it is not exposed to the user. We should expose it. I recently needed this myself too.

For sharing the diff over the wire in the TreeView form, you

[2021-04-07 05:59] seperman commented on #231
Hi @AIGeneratedUsername
Thanks for reporting the issue. I will look into addressing it when I have a chance.

[2021-04-07 12:53] Tankanow commented on #236
Thanks for the response @seperman!

In this comment, are you referring specifically to the syntax differences? If so, IMHO, DeepDiff does not need to concern itself with `root.key.key2` vs `root['key']['key2']` or any other syntactical differences. With a list, e.g. `['key', 'key2']`, the client of DeepDiff can always transform the data into the associative access it needs (e.g. via [get_in](https

[2021-04-08 13:32] The-Compiler commented on #236
There's a semantic difference between the two, it's not purely syntactical (like e.g. in JavaScript). Doing `obj['item']` calls `obj.__getitem__('item')`, while `obj.attr` calls `obj.__getattr__('attr')`. Or in other words, `music_genres.pop` (on an empty dict) will give you `<built-in method pop of dict object at ...>` (i.e. a reference of the dict's `pop` method, removing an item), while `music_

[2021-04-08 17:29] dtorres-sf commented on #185
I am currently evaluating this library for diffing python dictionaries and we need a way to compare items in a sequence. In our case their our unique IDs such as:
[code]

I would prefer not to preprocess making `id` the key (as described in this thread and what `group_by` does) because I want to be able to use the `Delta` functionality to track and store Deltas.

The above is a contrived example t

[2021-04-09 23:01] seperman commented on #185
Hi @dtorres-sf
Thanks for the feedback. The approach you are suggesting has some overlap with how the `ignore_order=True` works. The hashing part is usually cheap. What is expensive is deciding what items to diff against each other to report as modified. DeepDiff does the [Cartesian product of the items added or removed](https://github.com/seperman/deepdiff/blob/master/deepdiff/diff.py#L791-L794)

[2021-04-10 01:34] dtorres-sf commented on #185
@seperman I just hacked up a version to do what you mentioned for some quick testing. The good news is I was able to get matching to work correctly, but the bad news is that the Delta object can not be used to recreate the original object (because ignore_order is true). Here is the test I was using (note: I did not pass in a `get_most_in_common_pairs_in_iterables_override` because for quick testin

[2021-04-16 08:51] I-mpossible opened #242 "DeepDiff not running passes"
**Describe the bug**
I'm following this example https://zepworks.com/deepdiff/current/ignore_order.html#max-passes. It seems deepdiff doesn't run passes when ignore_order is enabled. The difference is always ```root[0]``` instead of ```root[0]['key3'][0][0][0][0][1]```. I tested on both Ubuntu and windows and the results are the same.

**To Reproduce**
Run the example in the documentation. I added

[2021-04-16 09:17] I-mpossible commented on #242
I tried to change t2[0]['key5'] to 'val5', then it's working:
[code]

output
[code]

[2021-04-16 22:44] seperman commented on #242
Hi @I-mpossible
Please try to increase your [cutoff_intersection_for_pairs](https://zepworks.com/deepdiff/current/ignore_order.html#cutoff-distance-for-pairs) and maybe even [cutoff-distance-for-pairs](https://zepworks.com/deepdiff/current/ignore_order.html#cutoff-distance-for-pairs) and maybe

[code]

[2021-04-16 22:44] #242 closed

[2021-04-19 13:59] lyz-code commented on #238
Hi @seperman, I've added a new [PR](https://github.com/seperman/deepdiff/pull/243) to close this issue, so you can review it when you have time

[2021-04-19 18:09] seperman commented on #238
Hi lyz-code,
Thanks for making the PR. Im not next to my laptop right now so can’t leave a thorough review yet. Im not sure if we should expand regex matches to include numbers. In the current code when the user is searching for numbers it only matches with numbers and not strings. Should we not keep the behavior consistent?

Sep Dehpour

[2021-04-19 19:39] lyz-code commented on #238
It will greatly help me in my use case. I'm developing [repository-orm](https://lyz-code.github.io/repository-orm/) a library to act as an abstraction over persistent storage, allowing the user to decouple the model layer from the data layer.

In one of the implementations I use `grep` to search on the attributes of [pydantic objects](https://pydantic-docs.helpmanual.io/). The library is already b

[2021-04-21 16:34] seperman commented on #238
Thanks for explaining! That makes sense now. Sorry it took me a while to get back to you. Im not next to my laptop this week often. Yes the strict_checking flag would be great! Keeping the libraries outcome consistent between different versions is important. If you could implement that flag with a default of True and have it use the same logic when use_regexp=False, that would be great. Basically

[2021-04-21 21:46] lyz-code commented on #238
Hi, don't worry about the delay, that's the thing with open source, sometimes you have more time, sometimes you have less.

I'll implement the `strict_checking` flag these days. Regarding your question, my first thought is that if `strict_checking == False` and `use_regexp == False` then `1123456` should not match as I would expect only to match `1234`, but if you use `use_regexp == True` then yes

[2021-04-22 03:30] seperman commented on #238
You are right about opensource! I totally agree with what you described regarding the 1234 matching other integers when regexp is True.
Thanks!

Sep Dehpour

[2021-04-22 09:01] lyz-code commented on #238
I've made the changes, they are ready for review in the PR.

[2021-04-27 15:42] lyz-code commented on #238
Thanks for merging the PR, should we close  then this issue when @#245 is merged?

[2021-04-27 17:34] seperman commented on #238
Yep! I will ping you once I cut a release.
Thanks!

Sep Dehpour

[2021-04-29 06:36] seperman commented on #238
Hi @lyz-code
Thanks for contributing to DeepDiff. Your feature is released: https://zepworks.com/deepdiff/current/#new-in-deepdiff-5-3-0

[2021-04-29 06:36] #238 closed

[2021-04-29 06:39] seperman commented on #236
Hello @Tankanow  @The-Compiler @bytinbit
This feature is released in DeepDiff 5.5.0: https://zepworks.com/deepdiff/current/#new-in-deepdiff-5-5-0

[2021-04-29 06:39] #236 closed

[2021-04-29 06:42] seperman commented on #185
Hello @MKaras93 @wlad and @dtorres-sf
Thanks to @dtorres-sf 's PR, this feature is now released in DeepDiff 5.5.0! https://zepworks.com/deepdiff/current/other.html#iterable-compare-func

[2021-04-29 06:42] #185 closed

[2021-05-06 10:13] shibumi commented on #94
I came here for the same reason, but looks like the only nice solution is this one here:

[code]

[2021-05-25 01:26] LeonardoLeano333 commented on #94
If you only want to show something like that you should use pprint function the builtin.
[code]

there is a way using the pprint builtin python library there is an example of this kind in the documentation:
[code]
https://docs.python.org/3/library/pprint.html

If you would not mind I can open a PR, I only need to know where to do it (what file)

[2021-06-16 14:19] bauergeorg opened #251 "Different handling of 'iterable_item_added' and 'values_chaned' in a dict list"
I try to get the diff of these two dict lists as you can see below. I've read a lots the brilliant documentation and tried a lots of examples. But I am frustrated to get the output that I want.
I am not sure if this is a feature request or a bug report.

_Example-Code_
[code]

_The output is:_
[code]

- The handling of 'iterable_item_added' and 'values_chaned' is different. In my opinion there is

[2021-06-17 08:28] eggachecat commented on #167
maybe something like this will work
[code]
i am not sure what exact data structures deepdiff support (may be not enough **isinstance**)..

[2021-06-20 23:17] johnnymetz opened #253 "exclude_paths regex not working for a list of dictionaries"
**Describe the bug**
The `exclude_paths` regex is not working for a list of dictionaries.

**To Reproduce**

[code]

Generates the following output:

[code]

I've tried several other variations of this regex as well but no luck:

[code]

**Expected behavior**
The goal is to generate an empty diff in this case: `{}`

**OS, DeepDiff version and Python version (please complete the following informati

[2021-06-24 09:14] bauergeorg commented on #253
Try this:

[code]

I replaced `exclude_paths` with `exclude_regex_paths`. Of course `b` with `a`, too. ;)

[2021-06-25 05:44] johnnymetz commented on #253
That did it, thanks!

[2021-06-25 05:44] #253 closed

[2021-06-28 09:40] lordofire opened #254 "Bazel integration failure with error "File name too long""
**Describe the bug**
Not a bug for the implementation itself, but a minor one related to the code filename formatting. The current filename for static files like [here](https://github.com/seperman/deepdiff/blob/master/docs/_static/benchmark_array_no_numpy__3.8__ignore_order%3DTrue__cache_size%3D0__cache_tuning_sample_size%3D0__cutoff_intersection_for_pairs%3D1.png) has 127 characters. For Ubuntu e

[2021-06-29 07:52] stevegerrits commented on #45
@seperman `ignore_type_in_groups` will remove the type change from `type_changes` but won't detect is as a value change and won't add it to `values_changed` as @wisotzky stated.

[2021-06-29 08:52] bmwiedemann opened #255 "Tests fail after 2022-05-14"
**Describe the bug**
TestDeepDistance.test_get_numeric_types_distance fails after 2022-05-14 10:00 UTC

**To Reproduce**
Build with a date after 2022-05-14, e.g. in Debian or openSUSE do
[code]

**Expected behavior**
Tests should keep passing for at least 20 years, if possible.

**OS, DeepDiff version and Python version (please complete the following information):**
 - deepdiff-5.2.3-gh
 - OS: ope

[2021-06-29 09:07] bauergeorg commented on #251
I have tried to get familiar with this article. https://zepworks.com/deepdiff/current/ignore_order.html But all these options can not help me.

I have placed my greatest hope in the i have placed my greatest hope in "iterable Compare Func", but this will not work fine, too.

**Code:**
[code]

**Output:**
[code]

It's a little bit weird.

[2021-06-29 16:51] seperman commented on #251
Hi @bauergeorg
Sorry it took me a while to look at your ticket.
You have some repetition in the `id`, otherwise the `group_by` parameter would have been very useful for you:

[code]

With `iterable_compare_func` all you are doing is saying if 2 things are matches or not.

[2021-06-29 16:55] seperman commented on #254
Hi @lordofire
Cool username.
Do you need the docs when you build on Bazel? I think if you install DeepDiff's "wheel" package, no docs are included so it shouldn't cause the issue.

[2021-06-29 16:58] seperman commented on #255
Hi @bmwiedemann
Haha, interesting. I wonder why this is happening. Does that have to do with a leap year? I can use something like Python "freezetime" to change the current time to the future and see what happens.

[2021-06-29 17:47] bmwiedemann commented on #255
2022 is no leap year. Maybe some part of the code uses 365 as number of days in a year, when in reality it is closer to 365.2425

[2021-07-01 10:38] oscar-bardrick-h24 opened #256 "aws sam tool fails when"
**Describe the bug**
Hi, I'm not experienced with python packaging so apologies in advance if I've missed the mark here.

We're using `deepdiff` in a lambda that we're building with the aws sam tool. currently the `sam build` command will fail anytime we're including `deepdiff` in the `requirements.txt` that sam uses to pull and package the lambda deps. an exception is raised in the code here:
htt

[2021-07-01 13:14] bauergeorg commented on #251
Hi @seperman thank you for your answer. I saw `group_by` option but I forgot the `verbose_level` to get more details.

In my case the repetition is a necessary standard in my dictionary. In my case the real `group_by` option is a combinitation of `key='id'` and `key='item'`. Of course I can change my dict structure to generate a key with `id_and_item`. And my problem is solved.

But my questsion i

[2021-07-02 09:27] lordofire commented on #254
Thanks @seperman :)

I do not need the doc during the bazel build process, but it just failed when I use tar.gz [package](https://pypi.org/project/deepdiff/#modal-close) to perform the bazel build process, where it will do the untar and the extended file name length will exceeds 256 bytes...

[2021-07-02 22:12] seperman commented on #254
@lordofire I'm curious why you say wheel is not deterministic. It seems like there is a push to move things towards wheels. The recent versions of `pip` try to install the wheel from pypi first and then fallback to the src.

[2021-07-02 22:18] seperman commented on #254
If you really want to, we can rename that file to `benchmark_big_jsons__3.8__iorder1,cache_size0,cache_tuningsize0,max_diffs300000,max_passes40000,cutoff_int_for_pairs1.png`. That is 121 characters. I can do it later when I have a chance in the next release.

[2021-07-02 22:39] seperman commented on #256
Hi @oscar-bardrick-h24
Thanks for reporting the issue. I have not used SAM before. Is this the same issue? https://github.com/aws/aws-lambda-builders/issues/114

[2021-07-02 22:40] seperman commented on #256
Lol I just saw your comment on the same ticket.

[2021-07-02 22:42] seperman commented on #256
I'm not sure what exactly needs to change on our build. Maybe we wait to see if that ticket on aws-lambda-builders is addressed? I'm not sure when I will have a chance to fix it on our part since I don't use SAM.

[2021-07-03 12:05] oscar-bardrick-h24 commented on #256
Thanks for the quick response. No problem. To be honest yday I managed to find a workaround to the fact that we can't use the --use-container flag for sam build so this is no longer personally an issue for me. We've managed to build our lambda with deepdiff using sam with some circleci magic.  Nonetheless I hope it's at least marginally helpful to you guys to know this issue exists. I guess it'll

[2021-07-04 13:05] eugenegorelik opened #257 "DeepDiff reports wrong changes and removals"
**Describe the bug**
I'm comparing two JSON files using DeepDiff.

[code]

and (where first element was deleted and second was changed)

[code]

with the command
`DeepDiff(dict1, dict2, ignore_order=True, report_repetition=False, log_frequency_in_sec=10, progress_logger=logger.info)
`

DeepDiff reports wrong about 1 removing and 1 changing:

[code]

**Expected behavior**
The report should be as fo

[2021-07-06 08:27] lordofire commented on #254
@seperman My statement above probably is a more generic term. I think whl helped integrated intermediate built binaries or libraries into the package so that it would be faster to download and install in general. However, the idea of whl introduced a compatibility grey zone and less control on how the package is built itself (build flags, etc). I think download from source and build with full cont

[2021-07-06 08:28] #254 closed

[2021-07-06 14:22] bauergeorg commented on #251
In my case I changed the structure of the dict into one key combined 'id' and 'item'. And my problem is solved using `group_by`-option. Thank you @seperman

A request for a enhancement: Is it possible to add more than one keys into the `group_by`-option?
If you think there is an option for integration, we can open a new request. Thanks

[2021-07-06 15:09] seperman commented on #254
Cool. Thanks for digging in.

[2021-07-06 15:10] seperman commented on #251
@bauergeorg Yeah we should allow `group_by` to take a list of keys.

[2021-07-09 08:47] AronWaterAron opened #258 "Depth option"
sometime just want to know the difference for two dict     at most depth of 3 or 2

[2021-07-09 17:14] roi-f commented on #258
+1 for this request, for other motives - comparing complex structures, it'd be nice to compare to some limited depth. max_passes and max_diffs don't seem to be a substitute. Seems like @moult has implemented it in the past, here:
https://github.com/seperman/deepdiff/issues/163

[2021-07-09 18:40] roi-f opened #259 "Suggestion: custom comparison for custom type"
Love this package, super helpful! thanks!

**Is your feature request related to a problem? Please describe.**
Suggesting to add an option for customizable comparison.
Use-example:
-  We use a very complex data type with deep and complex hierarchy.
-  When I tried using DeepDiff out of the box, it "choked". I tried tweaking params, wasn't efficient.
-  Instead I added another case to the "isinstanc

[2021-07-12 06:05] laundmo opened #260 "Datetime dictionary keys cause entire path to be None"
**Describe the bug**
When comparing 2 dictionaries with datetimes as keys, the path becomes None.

**To Reproduce**
[code]
result
[code]

**Expected behavior**
i expected the deepdiff to properly check whether 2 datetimes are the same or not, ans give me the datetime `__repr__` or `__str__` in the path instead of None

**OS, DeepDiff version and Python version (please complete the following inform

[2021-07-13 00:46] seperman commented on #260
@laundmo Thanks for reporting this edge case bug. I will look into it when I have a chance!

[2021-07-13 10:01] Honnegowda opened #262 "Compare Logic(values_changed)"
deepdiff ==> 5.5.0
OS ==> Cent OS 7
python ==> 3.8

We have below two dictionaries to compare.
Dictionary1

[code]

Dictionary2
[code]
and deepdiff will give below output

[code]

but what we are expected is @keyname with 'show_non_billable_codes' should compare between dictionaries i.e values_changed category should have like this

[code]

and  iterable_item_removed should have look like this

[c

[2021-07-13 11:29] laundmo commented on #260
i modified the example to clearly have 2 different datetimes per dict (edited the main post)
one oddity is that .pretty() still shows both diffs, albeit with None, even though printing out the diff itself only shows 1 change.

[2021-07-15 18:02] seperman commented on #262
@Honnegowda The algorithm that decided which items changed to which items had a major upgrade in DeepDiff 5+. The new algorithm takes a deep look into the objects and chooses the objects that are the most as pairs. You can get slightly closer to the response of the DeepDiff 4 by passing `cutoff_distance_for_pairs=0`

[2021-07-15 18:02] #262 closed

[2021-07-15 18:08] seperman commented on #257
@eugenegorelik This is explained in https://zepworks.com/deepdiff/current/ignore_order.html#cutoff-distance-for-pairs

Bump up these 2 parameters to 1 and you get what you want:

[code]

[2021-07-15 18:08] #257 closed

[2021-07-15 18:23] seperman commented on #259
Hi @roi-f
Thanks for making the PR. If you could add tests to the PR, that would be great.

[2021-07-15 21:30] roi-f commented on #259
hi @seperman ,
sure, wasn't sure based on the original comment whether you want to actually add this feature. I totally see the justification despite the  iterable_compare_func existing option, which is more limited.

[2021-07-16 20:07] seperman commented on #259
Hi @roi-f
Yeah I have some hesitation about the current PR. As you said it works for your use case but I almost want to turn ` iterable_compare_func` into a generic ` compare_func` that works with both iterables and non iterables so we don't have multiple of these custom functions.

[2021-07-16 20:25] roi-f commented on #259
Your lead, @seperman; I currently adjusted my local repo and I can continue in this mode. If you think to do add it I'll write some basic tests for approval.

I think my addition of `compare_func` does what you mention; in my use case I compare a complex structure: list of variables, that contain lists, dictionaries etc, and some of the end nodes are of the `custom_type`; only these ones I compare

[2021-07-20 09:00] LeonEricsson opened #263 "DeepDiff fails to identify changed key in array where all dict elements have changed"
**Describe the bug**
If you want to DeepDiff two arrays containing dictionary elements then changing a key/pair in all list elements results in DeepDiff not being able to identify specifically what key/pairs have changed and instead returns old_value and new_value as the entire list element.

**To Reproduce**
[code]

Notice that we changed something in each element of arr1. This results in:

[code

[2021-07-21 01:46] seperman commented on #263
Hi,

This is explained in https://zepworks.com/deepdiff/current/ignore_order.html#cutoff-distance-for-pairs

Please bump up both of the cutoff parameters to 1 and you get what you want.

Sep Dehpour

[2021-07-21 05:32] LeonEricsson commented on #263
@seperman yes this worked, thank you for the quick response. The work on this library is greatly appreciated

[2021-07-21 05:32] #263 closed

[2021-08-16 08:30] nicolocastro89 opened #264 "Incorrect ordered-set req for deepdiff 5.0.2 (Python 3.5)"
**Describe the bug**
When installing deepdiff 5.0.2 (described as the last compatible with python 3.5) upon running a script with DeepDiff imported the script fails due to
```RuntimeError: Overloading is only supported in library stubs```
**To Reproduce**
install deepdiff 5.0.2 on a python 3.5 environment. Import DeepDiff in a python program and launch it.

**Expected behavior**
The import should

[2021-08-16 08:33] nicolocastro89 commented on #264
I just realised the PR was never actually merged, so the new version is still not compatible

[2021-08-16 16:24] seperman commented on #264
Hi @nicolocastro89
Not sure what you mean. What PR?

[2021-08-16 16:26] seperman commented on #264
Ah I see in your additional comments. You probably just need to install a different version of ordered-set then.

[2021-08-16 16:33] nicolocastro89 commented on #264
It was never merged, so even the latest version doesn't have the change. I would probably need to use a very old version of deep diff which uses an old enough version of ordered-set where that part of the code was not yet implemented.
For now I've just decided not to use deep diff until the sys-admins decide to use a newer version of python

[2021-08-27 11:05] Ioda1010 opened #265 "Delta calculation not correct when bracket in Json key"
**Describe the bug**
When a JSON contains a key with bracket in it (json1) and you compare this JSON to another one that is exactly the same except that this key is removed, the delta is well finding this difference. But if you try to do json2 + delta, you should have json1 but in fact the key with bracket is ignored in the processing so is missing. And you get the error message: Unable to get the

[2021-08-31 21:35] seperman commented on #264
@nicolocastro89 ok you could also manually install an older version of orderedset that is compatible with py 3.5.

[2021-08-31 21:35] #264 closed

[2021-08-31 21:36] seperman commented on #265
Hi @Ioda1010
Thanks for reporting this issue. I will take a look at it soon.

[2021-09-01 08:37] glrakeshnair opened #266 "Differences shown as dictionaries for complex data"
**Describe the bug**
Differences are shown as dictionaries for complex data instead of values

**To Reproduce**
Run the sample code:
[code]
**Expected behavior**
{'values_changed': [<root['a']['b'][0]['c'] t1:'1', t2:'2'>, <root['a']['b'][1]['d'] t1:'2', t2:'1'>]}

**OS, DeepDiff version and Python version (please complete the following information):**
 - OS: Windows 10
 - Version: 3.9
 - Deepdiff

[2021-09-01 21:23] seperman commented on #266
Hi @glrakeshnair
This is a very common question that keeps coming up and I need to make a FAQ for it.
Checkout this answer: https://github.com/seperman/deepdiff/issues/257#issuecomment-880907474

[2021-09-01 21:23] #266 closed

[2021-09-23 19:31] KylerWitting opened #268 "`to_json()` exports values that were removed using `.pop()`"
**Describe the bug**
I have a DeepDiff object after comparing 2 dictionaries. I want to remove the "dictionary_item_removed" using `member_details.pop("dictionary_item_removed")`. This works as expected until I go to use `to_json()`.

### Python Code
[code]

### Output
[code]

### Expected Behavior
[code]

**OS, DeepDiff version and Python version (please complete the following information):**
- m

[2021-10-04 13:38] omartawfeeq opened #269 "Getting error when running mypy : found module but no type hints or library stubs"
I'm software developer that is using your library for jsob objects diff
After installing and importing your package, our CI/CD Pipeline runs :
mypy --install-types --non-interactive .

when running it, i've got this error message :

Collecting types-protobuf
  Downloading https://files.pythonhosted.org/packages/44/03/109cbda30887329cc295b42153ffabbada0f641d3d5144a4cf9966b0286d/types_protobuf-3.17.

[2021-10-04 19:25] nkalyvas commented on #52
+1 using regex for values comparison would be great. I work with network configuration and want to verify specific parts of the configuration which is deeply nested. Regexes are a must, for reasons that i cannot make obvious in a few lines.

[2021-10-05 14:03] lucas-av7 opened #270 "Show only the diff for larger texts in diff.pretty() parameter"
I have some keys in my dicts with values coming from larger text files, if I change only one word and use the `diff.pretty()` it shows the whole old text and the whole new text. I would like to have a parameter to show only the diff.

If I just `print(diff)` it shows to me that there is a `diff` parameter inside the `values_changed`. So I guess that is possible to add this new parameter to `diff.p

[2021-10-05 14:26] lucas-av7 commented on #270
I was able to get this doing that:

[code]

[2021-10-06 11:08] fcarpentey75012 opened #271 "DeepDiff on Nested JSON"
Hello,

I would like to find the difference between two JSON but, when I try to use the DeepDiff method it finds nothing.

`from deepdiff import DeepDiff

item1 = {
    '__PythonResult__Modules': {
        'b': {
            'c':
            ['foo']
        }
    }
}
item2 = {
    "__PythonResult__Modules" : {
        "global" : {
            "views" : {
                "from_python" :  {

[2021-10-08 03:41] shane-davidson opened #272 "Feature: only_include_paths"
When comparing extremely large objects sometimes I wish to specify only the paths I wish to diff rather than exclude a very large number of paths. (sometime regex is not helpful if all the keys are different either.)

Suggestion for two new params:

[code]

[code]

include paths + regex paths are combined to generate a list of paths used for checking.

I'm not sure if the fields should be removed

[2021-10-12 17:04] seperman commented on #220
@gaborbernat The docs on readthedocs are the old documentations as mentioned at the top of the page. The docs are moved to https://zepworks.com/deepdiff/current/
I did some benchmarks at the time. Don't have the data anymore.

[2021-10-12 23:14] seperman commented on #270
Ok I think we can introduce the `verbose_level` parameter to the pretty print too.

[2021-10-13 06:34] #265 closed, assigned to seperman

[2021-10-13 06:34] seperman commented on #260
Hi @laundmo
This issue is fixed and DeepDiff 5.6.0 is released.
https://zepworks.com/deepdiff/5.6.0/

[2021-10-13 06:34] #260 closed

[2021-10-13 06:46] seperman commented on #272
Hi @shane-davidson

I just released [DeepDiff 5.6.0](https://zepworks.com/deepdiff/current/)
There is a new parameter called [custom operators](https://zepworks.com/deepdiff/current/custom.html#custom-operators)

You can effectively use it to limit checks to certain paths by subclassing `BaseOperator` and defining your own `match` and `give_up_diffing` functions.

You can see some more examples in