[2021-10-13 08:58] shane-davidson commented on #272
Amazing! I will have a look. thanks :)

[2021-10-13 11:18] shane-davidson commented on #272
For anyone coming here for a solution, this operator will only diff a list of matching paths
[code]
[code]

[2021-10-13 18:07] seperman commented on #272
You don't have to use regex. You can completely modify it. In fact there is no need to subclass the base operator then:

[code]

[2021-10-13 18:54] #258 closed

[2021-10-13 20:49] roi-f commented on #258
Thanks.

What I implemented and need was: if שמ object some place in the hierarchy
is of *custom type,* use *custom comparison* function (that is fed by a
function handle).

Can one do this in the new version? I'll look further at the updated
documentation.

—-—-—-—-—

Sent from my iPhone, BUT NOT WHILE DRIVING!

Please excuse typos and brevity due to touchscreen keyboard.

On Oct 13, 2021, at 2:5

[2021-10-14 15:56] KylerWitting commented on #268
So for anyone in the future trying to do this, you will also have to serialize PrettyOrderedSet.

[code]

[2021-10-17 23:39] jjw24 commented on #272
Thank you @seperman, much appreciated. Great library btw!

[2021-10-18 20:13] tl24 opened #274 "Control diff type based on object type?"
Is it possible to control how a given object type is diffed?  We're using pydantic models in our project.  It looks like pydantic BaseModel implements __iter__ so it ends up falling into _diff_iterable.  We don't get good diff names because of this.  It uses numeric indexes rather than field names.  We can convert them to dict, but would prefer not to if there is a better way.

[2021-10-18 22:47] seperman commented on #274
@tl24 Yes, please take a look at https://zepworks.com/deepdiff/current/custom.html

[2021-10-18 22:47] #274 closed, assigned to nobody

[2021-10-21 20:46] dmitryalferov opened #275 "TypeError is thrown when comparing bool and str"
**Describe the bug**
Encountered strange behavior while comparing boolean and string values.
I was expecting deepdiff to behave in a somewhat symmetric fashion while exchanging first two arguments, but got a TypeError.

**To Reproduce**
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**OS, DeepDiff version and Python version (please complete the follo

[2021-10-21 21:42] seperman commented on #275
Thanks for reporting this bug. I will take a look when I can.

[2021-10-26 06:32] drsasa opened #276 "How to get result if max_diffs used"
Hi,

Is there a way to achive, to know that there is difference but to exit on max_diffs=1 ?

For example:

[code]

and

[code]

will return same result
`{}`
with
`{'PASSES COUNT': 0, 'DIFF COUNT': 2, 'DISTANCE CACHE HIT COUNT': 0, 'MAX PASS LIMIT REACHED': False, 'MAX DIFF LIMIT REACHED': True}`

But they are not same, if we do not use max_diffs only second example is different.

Is there a way t

[2021-11-10 19:16] Ioda1010 opened #277 "DeepDiff issue when doing complex changes in Arrays"
**Describe the bug**
When deleting or adding entries in a middle of an array, next changes are messed up because indexes used by diff are no more relevant.

**To Reproduce**
Create 2 files with content:
cat file1.json
[code]

cat file2.json
[code]

code:
[code]

Result:
[code]

Deepdiff is right but computation using this delta is false because index are no more respected.

**Expected behavior**
I

[2021-11-21 04:27] kmitj opened #278 "Replace<T>' initializer is inaccessible due to 'internal' protection level"
public inits for all types please

[2021-11-21 17:44] seperman commented on #278
Hi,
Not sure what you mean.
Please use the template that is provided when creating tickets to provide the needed context.

Sep Dehpour

[2021-12-01 09:33] havardthom opened #279 "Feature request: Support UUID data type"
Would love support for UUID data type. Current situation:

[code]

This causes problems for me since an unexpected `int` is appended to path, and dumping result as json will crash due to `Integer exceeds 64-bit range`. Would be great if result could rather be something like:

[code]

I've added `exclude_types={UUID}` to work around my problems for now.

Docs mentions support for custom objects, bu

[2021-12-02 12:15] 4l1fe opened #281 "`path` string specification"
As i want to get an entire obj by key from a source dictionary of objects it would be helpful to easily get that key from `path` diff's attribute. To do that i should figure out how to parse that `path` to extract the `key` consistently.

The idea looks like as follow:
[code]

Do you have any specification that describes the `path` structure?

[2021-12-02 17:40] seperman commented on #281
@4l1fe
Please take a look at https://zepworks.com/deepdiff/current/extract.html

[2021-12-02 17:40] #281 closed

[2021-12-02 18:22] 4l1fe commented on #281
It's not what i'm looking for. `extract` returns an end value from a complex object by a long `path`. I need only a root key part of `path` to get an entire object not its particular value, for example `path = "root['rkey'][0]['subkey'][1]['endkey']` in this case `rkey` is the only part i need.

Seems DeepDiff can't do it.

[2021-12-02 20:05] seperman commented on #281
@4l1fe Ok have you looked into using the Tree View then? https://zepworks.com/deepdiff/current/view.html#tree-view
You can use `path(output_format=’list’)`

[2021-12-03 08:13] 4l1fe commented on #281
Yeap, that works. I take a part i need as you mentioned `diff.path(output_format='list')[0]`.

Much obliged.

[2021-12-03 08:23] seperman commented on #281
👍

Sep Dehpour

[2021-12-07 16:36] claudio755 opened #283 "Python 3.9.6 - Import of library not working after fresh install via pip"
**Describe the bug**
A clear and concise description of what the bug is.

Calling "from deepdiff import DeepDiff" in python 3.9.6 keeps working forever,  after abortion this is shown:

`File "<stdin>", line 1, in <module>
  File "/opt/homebrew/lib/python3.9/site-packages/deepdiff/__init__.py", line 10, in <module>
    from .diff import DeepDiff
  File "/opt/homebrew/lib/python3.9/site-packages/dee

[2021-12-13 14:14] uwefladrich opened #285 "Adding Delta to iterable drops items"
**Describe the bug**
Adding a Delta to an iterable (shown below with lists) causes items to be dropped in certain situations, presumably when the list lengths exceeds 10 in the process. An `ELEM_NOT_FOUND_TO_ADD_MSG` is written.

**To Reproduce**
[code]
writes
[code]
and yields
[code]

**Expected behavior**
All three elements of `t2` should be added and the result should be
[code]

**OS, DeepDiff

[2021-12-14 08:16] uwefladrich commented on #285
Hm, looks to me like the way of sorting done in https://github.com/seperman/deepdiff/blob/f3ee1f912bbf7e955b60d08b3dfeafbb4d89dee3/deepdiff/delta.py#L287 is to blame, unless I am misunderstanding things.

For the example given above in the description, the items before sorting are (added print statements before and after above line):
`[('root[9]', 'a'), ('root[10]', 'b'), ('root[11]', 'c')]`
 and

[2021-12-14 08:28] uwefladrich commented on #285
... and just to add to/confirm the previous comment: It would work if the `root[9]` element would be set before `root[10]`, because we have in `Delta._simple_set_elem_value()`:
https://github.com/seperman/deepdiff/blob/f3ee1f912bbf7e955b60d08b3dfeafbb4d89dee3/deepdiff/delta.py#L185-L186
So, as far as I understand, if `iterable_item_added` would be processed in their numerical index order (not alph

[2021-12-16 10:00] germannp opened #286 "Customization of descriptions in the output"
**Is your feature request related to a problem? Please describe.**
We use `DeepDiff`` with great success to compare the states of different systems, thanks a lot! However, the descriptions in the output, e. g. `old_value` or `iterable_item_added` are not particularly intuitive to read, something like `system1_value` or `iterable_item_only_in_system2` would be much easier to interpret.

**Describe

[2021-12-17 18:06] seperman commented on #285
Hi @uwefladrich Thanks for bringing this issue up and digging into the code. I think you are right. I'm gonna take a look now.

[2021-12-17 18:29] seperman commented on #286
Hi @germannp
Thanks for the feedback. I will keep this in mind. No current plans to add this feature in the immediate future but PR's are very welcome!

[2021-12-17 19:00] seperman commented on #285
@uwefladrich This is resolved and will be merged soon: https://github.com/seperman/deepdiff/pull/287/files

[2021-12-17 21:42] uwefladrich commented on #285
Great, thanks a lot for the quick action! Keep up the good work!

[2021-12-22 09:27] JrPeng opened #288 "[Question] Is deepdiff stable across different machines and python versions?"
Thanks for your amazing package.
I just wonder whether `deepdiff`  Is stable across different machines and python versions?

[2021-12-24 19:40] seperman commented on #288
Hi @JrPeng
You can see the testing matrix here: https://github.com/seperman/deepdiff/blob/master/.github/workflows/main.yaml#L14
Thanks

[2021-12-24 19:40] #288 closed

[2021-12-24 19:41] #285 closed

[2021-12-24 19:43] seperman commented on #283
@claudio755 seems like you have a "statistics" module that is interfering with Python's build-in "statistics" module.
We do a `from statistics import mean` but in your logs, it is trying to import from `/Users/claude/Projekte/crypto/statistics.py`

[2021-12-24 19:43] #283 closed

[2021-12-24 19:44] #279 closed

[2021-12-24 20:10] seperman commented on #277
Hi @Ioda1010
Thanks for reporting this bug. Looking into it.

[2021-12-25 00:53] claudio755 commented on #283
Thank you so much!

[2022-01-10 14:19] bmwiedemann commented on #255
The problem is still there with current deepdiff-5.6.0 - is there a chance to get a fix in the next 4 months or should we just disable the test?

[2022-01-10 16:45] seperman commented on #255
Thanks for the reminder.
I will fix it!

Sep Dehpour

[2022-01-12 10:39] fatihsirin commented on #94
Any update ?

Current Result

[code]
What i want
[code]

variables are in string format. I would love to reach all parents of diff

[2022-01-12 19:10] ravi-data-science opened #289 "exclude_regex_paths seem to work only for "values_changed" not for others (ex. iterable_item_added) - expected behaviour?"
Please checkout the [F.A.Q](https://zepworks.com/deepdiff/current/faq.html) page before creating a bug ticket to make sure it is not already addressed.

**Describe the bug**
exclude_regex_paths seem to work only for "values_changed" not for others (ex. iterable_item_added or iterable_item_removed or dictionary_item_added etc) - expected behaviour?

[2022-01-12 20:08] seperman commented on #289
Please provide the code to reproduce your problem. Also please double check your regex.

Sep Dehpour

[2022-01-13 13:33] Martin25699 opened #290 "Correctly mark objects as deleted or added"
How to correctly mark objects as deleted or added?

[code]

Actual result:
[code]

Expected Result:
[code]

[2022-01-20 18:33] martinResearch commented on #110
It looks like it is now using `is_close`  with` abs_tol`  whenever math_epsilon is not none https://github.com/seperman/deepdiff/blob/7e5e9954d635423d691f37194f3d1d93d363a128/deepdiff/diff.py#L1116

However It would be great to add another parameter that would allow to use `is_close` with `rel_tol` instead of `abs_tol `
As a workaround I am currently inheriting from DeepDiff and adding a parameter

[2022-01-21 15:04] martinResearch commented on #110
@seperman I can prepare a pull request to add an argument rel_tol to the DeepDiff constructor if that can help.

[2022-01-21 15:14] seperman commented on #110
Hi Martin,
That would be great!
Thank you,

Sep Dehpour

[2022-01-26 20:40] wfaulk opened #292 "error when comparing non-text byte strings with ignore_order=True"
**Describe the bug**
If a data structure contains a `bytes` object and that object is not valid UTF-8, DeepDiff complains`Can not produce a hash for <object>` and ignores the object if `ignore_order=True` is set

**To Reproduce**
[code]

This produces:

[code]

**Expected behavior**
[code]

**OS, DeepDiff version and Python version (please complete the following information):**
 - OS: MacOS 11.6.1

[2022-01-26 21:03] wfaulk opened #293 "extraneous warning when path excluded and ignore_order=True"
**Describe the bug**
When a path is excluded and ignore_order is True, DeepDiff prints out a warning:

[code]

I don't think that this will ever produce bad results, since the object is being excluded, but I could be wrong.

**To Reproduce**
[code]

This produces:

[code]

**Expected behavior**
Shouldn't produce the warnings. Should just be:

[code]

**OS, DeepDiff version and Python version (plea

[2022-01-28 22:33] wfaulk opened #294 "DeepDiff.to_json() fails with binary data"
**Describe the bug**
If the data being reported by DeepDiff happens to be binary data (or, more specifically, data that cannot be decoded as utf-8), an exception is thrown.

**To Reproduce**
[code]

This produces:

[code]

**Expected behavior**
I'm not sure. JSON doesn't support binary data. If you try to use the native json module and encode binary data, you also just get an exception (but `TypeE

[2022-01-29 05:49] seperman commented on #294
@wfaulk Haha, Thanks for finding all these issues.
We do support the user to pass their own mapping for serialization to json as documented here: https://zepworks.com/deepdiff/current/serialization.html
Also there is a `to_json_pickle` function that needs the jsonpickle package installed: https://zepworks.com/deepdiff/current/serialization.html#to-json-pickle
As far as a better message for the err

[2022-01-29 05:49] #294 closed

[2022-01-29 05:50] seperman commented on #293
@wfaulk Good point. I will take care of removing these warning messages that you brought up.

[2022-01-29 05:52] seperman commented on #292
@wfaulk
Cool, I will look into DeepHash and handling bytes. Thanks for reporting the issue. Btw if you are interested and have time, PR's are always very welcome!
Thanks

[2022-02-04 18:26] gnu-lorien opened #296 "from_json_pickle doesn't return a DeepDiff object"
**Describe the bug**
The documentation for `from_json_pickle` implies that it will return a `DeepDiff` object with similar values to the ones created by `to_json_pickle`. This is not what it does. It returns a dictionary form of the `DeepDiff`. I'm unable to find a way to construct an actual `DeepDiff` object from this dictionary.

**To Reproduce**
[code]

**Expected behavior**
The expectation is

[2022-02-04 20:04] seperman commented on #296
@gnu-lorien Have you tried to use the json_pickle package to unpickle it? I will update the docs.

[2022-02-04 22:13] gnu-lorien commented on #296
The `jsoned` string doesn't have any class information in it, so I don't really know how to tell the `jsonpickle` to treat that dictionary as a `DeepDiff`, or to construct a `DeepDiff` from just one dictionary.

[2022-02-04 22:19] gnu-lorien commented on #296
Digging through the code it looks like I can do this with:
[code]

Based on the documentation something like this is probably what `from_json_pickle` should do.

[2022-02-18 10:37] rssh22 opened #297 "malformed json output in diff cli?"
Please checkout the [F.A.Q](https://zepworks.com/deepdiff/current/faq.html) page before creating a bug ticket to make sure it is not already addressed.

**Describe the bug**
The tool deep diff returns a malformed json output wich can't be processed by other tools like jq.

Example of malformed output:
[code]

**To Reproduce**
deep diff k1.yaml k2.yaml

k1.yaml
[code]

k2.yaml:
[code]

[code]

**Ex

[2022-02-18 15:39] seperman commented on #297
Hi,
It is not returning a json output. It is printing a python dictionary that is a superset of what json can hold.

Sep Dehpour

[2022-02-21 10:30] rssh22 commented on #297
ou! Then, could you consider an enhancement request for a json output option?

[2022-02-28 15:53] behrm opened #298 "AttributeError: Can't pickle local object 'DeepDiff.__init__.<locals>.<lambda>'"
With version 5.5.0 it is perfectly possible to run deepdiff in a multiprocessing context (with ProcessPoolExecutor ....) without any problem. So thank you very much for providing this excellent tool.

Today I built a new python environment  with deepdiff version 5.7.0 and obtain the following error:

[code]

How can I prevent this problem when calling deepdiff?

[2022-03-01 15:45] seperman commented on #298
Hi Bernhard,

Can you please post a reproducible code example including the multiprocessing part?
Thanks!

Sep Dehpour

[2022-03-03 14:01] arekm opened #299 "tree view truncates value changes"
**Describe the bug**

tree view mode truncates value changes:

**To Reproduce**

[code]

**Expected behavior**

Do not truncate values (unless desired).

deepdiff 5.6.0, python 3.9.10

[2022-03-05 19:34] mweinelt opened #300 "Please tag version 5.7.0 on git"
Please checkout the [F.A.Q](https://zepworks.com/deepdiff/current/faq.html) page before creating a bug ticket to make sure it is not already addressed.

**Describe the bug**
Version 5.7.0 was released to PyPi but not tagged on Git.

**To Reproduce**
n/a

**Expected behavior**
A tag 5.7.0 should exist.

**OS, DeepDiff version and Python version (please complete the following information):**
n/a

**

[2022-03-06 17:41] WolverinDEV commented on #277
Hey,
are there any updates on this topic?

[2022-03-18 16:55] seperman commented on #277
I'm gonna try to look at it over the weekend. Sorry it took a while.

[2022-03-31 18:02] bmwiedemann commented on #255
only 6 weeks left...

[2022-04-08 18:35] gnu-lorien commented on #296
Turns out the method I expressed here doesn't actually work. Because t1 and t2 aren't set properly you can't actually use the class properly.

[2022-04-10 00:01] seperman commented on #300
Done! Thanks.

[2022-04-10 00:01] #300 closed

[2022-04-10 00:02] seperman commented on #297
Hi @rssh22
Sorry it took me a while to get back to you. Pull requests are always very welcome!

[2022-04-10 00:03] seperman commented on #296
Hey @gnu-lorien
Sorry I didn't get back to you. So is this still a problem?

[2022-04-10 00:39] seperman commented on #276
Hi @drsasa
Sorry for the very late response. max_diffs in DeepDiff is basically telling it to quit diffing once certain number of comparisons are made. Not necessarily certain number of differences are detected. This question usually comes up because the diff calculation can be heavy. Your best bet to tune DeepDiff to get you some answer quickly is explained here: https://zepworks.com/deepdiff/cur

[2022-04-10 00:39] seperman commented on #255
Ok fixing it now. Thanks for the reminder!

[2022-04-10 06:37] seperman commented on #277
@WolverinDEV [DeepDiff 5.8.0](https://zepworks.com/deepdiff/current/) is published and this issues is resolved.

[2022-04-10 06:37] #277 closed

[2022-04-10 06:38] seperman commented on #293
@wfaulk [DeepDiff 5.8.0](https://zepworks.com/deepdiff/current/) is published and this issues is resolved.

[2022-04-10 06:38] #293 closed

[2022-04-10 06:38] seperman commented on #292
@wfaulk [DeepDiff 5.8.0](https://zepworks.com/deepdiff/current/) is published and this issues is resolved.

[2022-04-10 06:38] #292 closed

[2022-04-10 06:38] seperman commented on #255
@bmwiedemann [DeepDiff 5.8.0](https://zepworks.com/deepdiff/current/) is published and this issues is resolved.

[2022-04-10 06:38] #255 closed

[2022-04-10 06:39] seperman commented on #275
@dmitryalferov  [DeepDiff 5.8.0](https://zepworks.com/deepdiff/current/) is published and this issues is resolved.

[2022-04-10 06:39] #275 closed

[2022-04-10 06:44] seperman commented on #299
@arekm So these are truncated just for display purposes. The objects themselves are not truncated. We do truncate them for display purposes since these objects can get pretty big. The display values out of deepdiff are meant for human consumption only. The underlying output is not truncated when used for non-display purposes.

[code]

[2022-04-10 06:44] #299 closed

[2022-04-11 06:47] Ioda1010 commented on #277
Thanks, will retest it

[2022-04-11 17:59] baldurmen opened #302 "Testsuite failure on 32-bits architecture"
**Describe the bug**
The testsuite fails on 32-bits architecture (i386, armhf) with the following error:

[code]
Here are the complete testsuite logs, ran on the Debian package in unstable:

* i386: https://ci.debian.net/data/autopkgtest/testing/i386/d/deepdiff/20757243/log.gz
* armhf: https://ci.debian.net/data/autopkgtest/testing/armhf/d/deepdiff/20762822/log.gz

As you can see, the testsuite pa

[2022-04-11 18:01] seperman commented on #302
Hi,
Not sure why we should be supporting 32bit systems. Perhaps I'm wrong. But that to me sounds like if DeepDiff is supposed to work on WinXP.

[2022-04-11 18:03] baldurmen commented on #302
There are many systems that are not Windows XP but still run on 32-bits. I think i386 and armhf are good examples of "in the wild 32-bits" archs that are not deprecated and widely used.

[2022-04-11 18:57] baldurmen commented on #302
I have a fix, I'll make a PR :)

[2022-04-12 10:23] WolverinDEV commented on #277
Hello, thanks for notifying.
I used it in one of my analyse projects to reduce data overhead but switched programming language because of another very convenient and reliably library.
But I can test it against the test data I used beforehand as soon as I'm back from holidays in ruffly two weeks.

[2022-04-12 10:50] WolverinDEV commented on #277
Update: I had some time before my flight and checked it right now.
Overall this still not works. I've attached my program as well the data to reproduce.
I don't have time to reduce it to a minimal reproduceable example, but I think there is not too much overhead.

[simplify.py.zip](https://github.com/seperman/deepdiff/files/8472137/simplify.py.zip)
[requests.zip](https://github.com/seperman/deepdi

[2022-04-12 17:24] gnu-lorien commented on #296
Sort of. I wish there was a way to serialize the tree results so I could reload the DeepDiff object at a later time. Instead I've oriented the workflow out of the dictionary returned here, using Deltas, and then loading the previous base data to recreate the DeepDiff object.

[2022-04-12 17:34] seperman commented on #296
I see. So you want to serialize everything including your original objects in the diff object. Can I ask you what the use case is?

[2022-04-20 17:58] sagarkrkv opened #304 "Not able to install DeepDiff 5.8.0 in Python 3.6 environment"
Please checkout the [F.A.Q](https://zepworks.com/deepdiff/current/faq.html) page before creating a bug ticket to make sure it is not already addressed.

**Describe the bug**
While DeepDiff supports Python 3.6, the new version of the dependency, ordered-set 4.1.0 requires Python 3.7+. DeepDiff 5.8.0 introduces a strict requirement on this specific non-compatible version of ordered-set.

**To Reprod

[2022-04-20 18:16] seperman commented on #304
Ah, I wonder how it passed the tests for 3.6
Ok I will loosen up the ordered-set requirements.

[2022-04-21 15:15] matthewvanhoutte opened #305 "Dealing with objects in sets."
**Is your feature request related to a problem? Please describe.**
I am using DeepHash to hash an object with multiple nested objects which I can then compare against at a later date. The nested objects are part of sets - the objects have their own hashing function that is used by python to ensure no duplicate items are added. It seems that when using DeepHash on the same objects in a set I get tw

[2022-04-21 18:37] seperman commented on #305
@matthewvanhoutte This must be a bug. Also DeepHash doesn't use `__hash__`. I wonder if I should change it to use `__hash__` when present.

[2022-04-22 08:54] matthewvanhoutte commented on #305
@seperman I am always skeptical of raising an issue - usually I have made some incorrect assumption or logical error. Adding `__hash__` could be an interesting option. Would this affect the condition of deterministic hashing should the `__hash__` not be deterministic in nature? Not sure if I'll be able to help but do let me know if I can.

Also for reference when raising issue I was running :
Pyth

[2022-04-27 00:01] Alec-Stashevsky opened #306 "Using `ignore_order` and `group_by` simultaneously"
Please checkout the [F.A.Q](https://zepworks.com/deepdiff/current/faq.html) page before creating a bug ticket to make sure it is not already addressed.

**Describe the bug**
I have a list of dictionaries. Within each dictionary is another list, with the following structure:

[code]

When I diff these two lists, I use `group_by="id"` argument. However, I would also like to ignore the order within e

[2022-04-29 13:38] jvacek opened #307 "`iterable_compare_func` does not seem to work on nested lists"
Please checkout the [F.A.Q](https://zepworks.com/deepdiff/current/faq.html) page before creating a bug ticket to make sure it is not already addressed.

**Describe the bug**
I cannot get the compare function to work properly on lists that are not 1st-level.

**To Reproduce**
Define the two following objects. They are identical except that:
- the `version` attribute went `0.0.0`->`0.0.1`
- in the s

[2022-04-30 13:18] matthewvanhoutte commented on #305
@seperman Think I found the issue! Does not look like a bug but the workings of python. Only took an 8 hour flight to figure out that `__hash__` is being called without our knowledge by deepdiff when storing the results in the hashes dictionary (a theory - happy to be disproven). Some further explanation into what I have found.

**TL;DR**
When calling `DeepHash._hash`, depending on the ordering of

[2022-05-02 06:49] seperman commented on #305
@matthewvanhoutte This is brilliant! Thanks for diving into this. Makes me wonder how the `hashes` dictionary in DeepHash should handle hash collisions.

1. One way we could handle the hash collisions is to store the objects by their id in the `hashes` dictionary. In fact we do that for objects that are not hashable but we could extend that to all objects.

2. Despite the goal of DeepHash to "hash

[2022-05-04 07:38] NewUserHa opened #309 "how to access the other data from value changed node easily with deepdiff?"
**Is your feature request related to a problem? Please describe.**
[code]
return
[code]
when using deepdiff to compare the dicts, and want to re-access the 'data2', the current method is to use regex to match the `"root['foo'][2]"` to get the parent path.
is it possible to expose some attributes for the case?

**Describe the solution you'd like**
maybe the `deepdiff.diff.DeepDiff` has a new attrib

[2022-05-04 14:14] seperman commented on #309
Hi,
Have you looked into the tree view?

https://zepworks.com/deepdiff/current/view.html#tree-view

Sep Dehpour

[2022-05-04 14:27] NewUserHa commented on #309
ok, it seems can use:
[code]
to re-access 'data2'.

it was that I wanted to get the 'foo' (instead of 'bar') then re-access manually. and it seems a good method too.
is it possible to get the key/path of the node changed like 'foo' too?

[2022-05-04 21:30] stemwinder opened #310 "DeepDiff uses `group_by` on child iterable"
Please checkout the [F.A.Q](https://zepworks.com/deepdiff/current/faq.html) page before creating a bug ticket to make sure it is not already addressed.

**Describe the bug**
When both `group_by` and `ignore_order=True` is used on a list of dictionaries that contain lists (among other types) DeepDiff raises a `ValueError`:

[code]

**To Reproduce**
[code]

**Expected behavior**
DeepDiff reports lis

[2022-05-04 21:35] stemwinder commented on #310
Sorry, it looks like I have duplicated #306.

[2022-05-05 01:34] seperman commented on #310
Thanks for reporting the issue. I'm gonna close this ticket since as you noted it is a duplicate of the other one. But it provides additional context.
You are right that DeepDiff shouldn't be passing group_by to the child iterables.

[2022-05-05 01:34] #310 closed

[2022-05-05 02:14] seperman commented on #306
Hi @Alec-Stashevsky @stemwinder
Thanks for reporting the issue.
I have pushed the fix on the dev branch.
Please check it with your data and let me know if it is fixed.

[2022-05-05 02:32] stemwinder commented on #306
The updates to dev look good on my end - thanks so much for the fix. I will point out though that the order of dictionaries in the `changed` response seems to be unpredictable.

[code]

This variably fails and passes due to DeepDiff returning its results in different orders between runs.

[2022-05-05 05:27] seperman commented on #306
@stemwinder could you please post `deep_diff_lists` definition too?

[2022-05-05 12:55] stemwinder commented on #306
That's a helper we use to performs some reorginazation on deeply nested item changes. You can observe the behavior by also just running the following with the input I posted:

[code]

[2022-05-08 12:49] yogeveran opened #312 "No comparison of properties."
**Describe the bug**
No comparison of properties.

**To Reproduce**
[code]

**Expected behavior**
Difference of properties.

No difference is reported.

[2022-05-11 06:11] matthewvanhoutte commented on #305
@seperman I think this both are great. Would we need to consider storage for point 1 as the same content could be stored multiple times? To be honest I think it would be negligible anyways. It seems like the safest way to avoid hash collisions.

With regards to point 2 an extra parameter could deal with the need to run `__hash__` if present and if the user does not want to use `__hash__` then the

[2022-05-11 17:36] yaelmi3 opened #313 "DeepHash on 2 identical objects doesn't yield the same hash"
According to [ DeepHash documentation](https://zepworks.com/deepdiff/current/deephash.html#deephash) :

This is slightly confusing, considering the following behaviour:
[code]
In this case, we have 2 identical dicts that actually don't produce the same hash, because DeepHash includes the object's [id](https://github.com/seperman/deepdiff/blob/94860377ae50adb90bb57ca92a2a4109aac14a2c/deepdiff/helpe

[2022-05-11 23:58] seperman commented on #313
So the hash dictionaries is not equal since the keys are the ids of the objects but the hash value for those object are deterministic.

Since we can’t use unhashable objects as dictionary keys, I don’t see any other way in python to create the output that says what the hash of each object is other than by using the id as the key.

The hash dictionary is not the hash of object alone. It is the mapp

[2022-05-12 08:47] yaelmi3 commented on #313
Thanks for the quick reply! I totally understand the limitation of the python `id` in this regard. Maybe it would be worth specifying this little gotcha in the documentation, since DeepHash doesn't behave as regular hash :)

[2022-05-12 08:47] #313 closed

[2022-05-13 02:00] seperman commented on #313
Good point. I will add it to the docs.

[2022-05-13 05:49] seperman commented on #306
@stemwinder I copied your test and ran it for 20 times. It produced the same result every time. If you want to compare the diff's I suggest you go with the default "text" view instead of "tree" view.

[2022-05-13 06:41] #302 closed

[2022-05-13 23:52] seperman commented on #312
This is resolved in the 5.8.1 release: https://zepworks.com/deepdiff/current/#new-in-deepdiff-5-8-1

[2022-05-13 23:52] #312 closed

[2022-05-13 23:54] seperman commented on #306
This is resolved in the 5.8.1 release. So far I don't see a non deterministic behavior. Please feel free to re-open the ticket if you have a reproducible code in text view that is not deterministic.
https://zepworks.com/deepdiff/current/#new-in-deepdiff-5-8-1

[2022-05-13 23:54] #306 closed

[2022-05-14 18:10] mskhviyu opened #315 "exclude_obj_callback excludes when the condition is true for one variable"
[code]
return
`{}`

func returns True only for t2, but exclude_obj_callback excludes objects from the result. Is this a bug or a feature?
Maybe need to use AND instead of OR here: https://github.com/seperman/deepdiff/blob/9b70b2b5f17e345cb00aef74db7169b53f0c22e8/deepdiff/diff.py#L430 ?

[2022-05-14 18:46] seperman commented on #315
If we put AND and the result shows up, I think it is gonna feel more like a bug than the current behavior, no?

We may have to introduce a new parameter that people can define whether it should be AND or OR.

Sep Dehpour

[2022-05-16 08:00] mskhviyu commented on #315
I mean if we have a reference element with which we will compare other elements, then we will not validate other elements, we will always get True because of the reference element

[2022-05-16 12:34] shencar opened #316 "Invalid ordered-set version in requirements.txt"
Please checkout the [F.A.Q](https://zepworks.com/deepdiff/current/faq.html) page before creating a bug ticket to make sure it is not already addressed.

**Describe the bug**
Can't install the latest version of the package because there is no  ordered-set<4.2.0,>=4.1.0 (from versions: 1.0.1, 1.1, 1.2, 1.3, 1.3.1, 1.4.0, 2.0.0, 2.0.1, 2.0.2, 3.0.0, 3.0.1, 3.0.2, 3.1, 3.1.1, 4.0.1, 4.0.2)

**To Repro

[2022-05-17 06:42] seperman commented on #316
@shencar Ok I have cut the 5.8.2 release. You can find it on Github. Please let me know if that works and I will publish it on Pypi.

[2022-05-20 01:11] atah1991 opened #317 "Adding instruction to "helper.literal_eval_extended" for comparing custom object"
Hi! Thanks for this great lib! I happened to get a bug on a custom case when I compare dictionaries where key is the dataclass(simplified example below). The output of the DeepDiff shows the path to fields as None.

`@dataclass(frozen=True)
class ClassA(object):
    a: int = 1

@dataclass(frozen=True)
class ClassB(object):
    b: int = 2

left = {ClassA(): "ClassA"}
right = {ClassB(): "ClassB"}
De

[2022-05-24 02:14] sant527 opened #318 "not bug, but need help"
This is not a bug

I want to know the key.
[code]

[2022-05-24 03:12] seperman commented on #318
Do you mean item.keys() ?

Sep Dehpour

[2022-05-24 03:48] sant527 commented on #318
here

item = diff["values_changed"][0]

print(item)
"<root['admin_fee'] t1:'-0.0', t2:'0.0'>"

print(item.key)
should print `admin_fee`

[2022-05-24 03:52] sant527 opened #319 "Not a bug: How to know all the values and keys which are matching"
This program is really great and saving my day

also i want to know all the keys and their values which are mathching also then its complete

Like we have

type_changes
dictionary_item_added
dictionary_item_removed
values_changed

PLUS if we have
values_matching

then i can see all the keys are covered. Currently i have to show keys whose values are matching.

[2022-05-24 22:10] mskhviyu commented on #315
@seperman Why in deephash exclude_obj_callback use AND instead OR?:
https://github.com/seperman/deepdiff/blob/81341e2827d083429bcdfb4617cd40e1188bbdb7/deepdiff/deephash.py#L335
also create PR with strict exclude_obj_callback https://github.com/seperman/deepdiff/pull/320

[2022-05-25 10:14] sant527 commented on #319
Also can we look the values of dictionary_item_added and dictionary_item_removed

[2022-05-25 15:55] seperman commented on #319
@sant527 yep, you want to set the `verbose_level=2`: https://zepworks.com/deepdiff/current/diff.html

[2022-05-25 16:07] seperman commented on #305
@matthewvanhoutte Custom objects come with the `__hash__` function but that doesn't mean the hash here provides any value:

[code]

So I think we may have to make the user pass an explicit list of objects that their `__hash__` needs to be called because of some custom implementation of the `__hash__` function. Is that really useful? I have difficulty imagining people passing a list of their custom

[2022-05-25 16:12] curtiscook opened #321 "Issue with UUIDs not Matching"
[x] Please checkout the [F.A.Q](https://zepworks.com/deepdiff/current/faq.html) page before creating a bug ticket to make sure it is not already addressed.

**Describe the bug**
UUID appears to be detecting a type change. Validation passes if I exclude UUID types from validation. I could also not figure out what the new type was and validation still failed when I tried to ignore UUID -> int and UU

[2022-05-26 15:08] matthewvanhoutte commented on #305
@seperman Totally forgot that by default custom objects get `__hash__` methods!! If I recall correctly, they do no return the same hash value when instantiated and like you say are not particularly useful DeepHash.

[code]

I also have difficultly in imagining people passing a list of their custom objects to call or skip their custom hash method when hashing using DeepHash. It would make more sens

[2022-05-27 03:14] atah1991 commented on #317
Any comments or suggestions on the above? That would extremely help for my current project!

[2022-05-27 05:54] seperman commented on #317
Hi @atah1991
The problem here is that deepdiff wants to store some string presentation of your paths but also wants to make sure the string representation can be converted to your actual path. Due to security reasons, we don't allow it to "eval" arbitrary code.

Hence right now the eval is limited to very few things in the list you have posted (LITERAL_EVAL_PRE_PROCESS) other than what Python's re

[2022-05-27 07:29] kad-buitea1 opened #322 "RecursionError"
Please checkout the [F.A.Q](https://zepworks.com/deepdiff/current/faq.html) page before creating a bug ticket to make sure it is not already addressed.
Searched FAQ for issues containing word "Recursion" but found none.

**Describe the bug**
RecursionError: maximum recursion depth exceeded while calling a Python object

**To Reproduce**
I use the Robot Framwork library DocTestLibrary to compare PD

[2022-05-27 14:35] seperman commented on #322
Hi, it is difficult to debug it without have reproducible code.

If you can share the portion of data that causes the issue, I can take a look at it.

Sep Dehpour

[2022-05-31 09:22] yurivict opened #323 "Some tests fail on FreeBSD"
[code]

Version: 5.8.1
Python-3.8
FreeBSD 13.1

[2022-06-01 22:52] seperman commented on #323
Hmm, do you have all the dependencies installed?
Have you done a `pip install -r requirements-dev.txt` before running the tests @yurivict  ?

[2022-06-01 22:55] seperman commented on #321
Hi @curtiscook
Can you please provide a piece of code that I can just copy paste and it will reproduce this problem?

[2022-06-09 15:52] stommaso opened #324 "version 5.8.2 not available"
Hi,

sorry if it's not the correct place to post this. But it seems that it's not possible to install the latest version via pip

`
ERROR: Could not find a version that satisfies the requirement deepdiff==5.8.2 (from versions: 0.1, 0.1.1, 0.2.0, 0.5.0, 0.5.1, 0.5.2, 0.5.3, 0.5.4, 0.5.5, 0.5.7, 0.5.8, 0.5.9, 0.6.0, 0.6.1, 1.0.0, 1.0.1, 1.0.2, 1.1.0, 1.2.0, 1.5.0, 1.6.0, 1.7.0, 1.8.0, 2.0.0, 2.1.0,

[2022-06-10 15:45] Argjend-sama opened #325 "Issue of to many"
I want to compare two json test files wich have nested data.

json1:
{"testplan":[
{"object":{"id":"testcaseId1", "config":"testcaseconfig1"}, "result":"ok"},
{"object":{"id":"testcaseId2", "config":"testcaseconfig2"}, "result":"ok"},
{"object":{"id":"testcaseId3", "config":"testcaseconfig3"}, "result":"ok"},
{"object":{"id":"testcaseId4", "config":"testcaseconfig4"}, "result":"ok"},
{"object":{"i

[2022-06-16 14:30] seperman commented on #322
Thanks,
No max depth but you have max diffs for example:

https://zepworks.com/deepdiff/current/optimizations.html#

Sep Dehpour

[2022-06-17 11:18] #325 closed

[2022-06-23 14:17] farhaanshaikh19 commented on #307
@jvacek
I've run into this issue too, took a while for me to figure out how to fix it for my use case.
A solution: specify additional `DeepDiff` instantiation parameters:
[code]

This *should* solve your specific issue. I suppose the documentation could be a bit clearer regarding this.

[2022-06-25 13:36] LizardBlizzard commented on #307
The `iterable_compare_func` function is not called when you set `ignore_order` parameter to `True` from what I know

[2022-06-25 13:57] LizardBlizzard commented on #290
I think this issue extends beyond dictionaries. I am doing something similar with objects and also getting "values_changed" instead of "iterable_item_added" and "iterable_item_removed" entries:

[code]

Results:
[code]

@seperman Do you think it's the same issue?

[2022-06-30 14:18] pablocavalieri opened #328 "Question: custom diff function for an attribute of a dictionary"
I want to compare two dictionaries using the custom `DeepDiff` functionality except for some attributes, that I want to compare using a custom function.
ie: let's say I have these too dictionaries
[code]
and I want `employee.name` not to be consider as a diff in the result because the values are palindromes. I want the result of `DeepDiff(first, second, {my custom employee.name comparator here})`

[2022-06-30 20:25] seperman commented on #328
https://zepworks.com/deepdiff/current/exclude_paths.html

[2022-06-30 20:25] #328 closed

[2022-07-04 16:03] nadavu opened #329 "failed hashing dictionaries which contains 'unprocessed' as a key or a value"
**Describe the bug**
failed hashing dictionaries which  contains  'unprocessed' as a key or a value.
DeepHash which gets a dictionary contains the word 'unprocessed' failed with {ValueError}not enough values to unpack
and prints to STDOUT:
Can not produce a hash for root[0].Not counting this object.
not enough values to unpack (expected 2, got 0)

**To Reproduce**
run DeepDiff([{'value', 'unproces

[2022-07-04 17:53] pablocavalieri commented on #328
`exclude_paths` only excludes a path from the diff, I want to apply a business specific comparator, is that possible?
I was thinking on checking the `DeepDiff` result and applying the business logic there, but if there is a built-in tool in the library it would be more neat to use it.

[2022-07-07 08:49] cgossy commented on #324
Is there any update on this?

[2022-07-11 19:30] jasonrberk commented on #304
also see #316

[2022-07-15 18:04] badunas opened #330 "Does not support decimals in lists when ignore_order=True"
**Describe the bug**
DeepDiff fails with "unsupported operand type(s) for /: 'decimal.Decimal' and 'float'" when input objects have lists with Decimals and ignore_order=True.

**To Reproduce**
`DeepDiff([Decimal('1.52')], [Decimal('1.57')], ignore_order=True)`

**Expected behavior**
`{'values_changed': {'root[0]': {'new_value': Decimal('1.57'), 'old_value': Decimal('1.52')}}}`

**OS, DeepDiff vers

[2022-07-30 13:52] mrxra opened #331 "compare datetime.date as numbers"
Please checkout the [F.A.Q](https://zepworks.com/deepdiff/current/faq.html) page before creating a bug ticket to make sure it is not already addressed.

**Describe the bug**
comparing datastructures that contain numbers and datetime.date objects raise a TypeError when certain flags related to number comparisons are set (e.g. math_epsilon).
it appears some values of the datetime module are treated

[2022-07-30 14:21] mrxra commented on #331
this workaround kind of fixes the issue for now, but I'm not sure about any other side effects I might run into due to this change....not sure what the rationale is/was behind defining the types 'numbers' and 'times' the way they have been defined...
[code]

[2022-08-02 20:49] volkerjaenisch opened #332 "DeepHash fails on 0-d-nparray"
I do like DeepDiff/DeepHash really!

But today I think I found an error:

[code]

[code]

**Expected behavior**
A hash should be created

**OS, DeepDiff version and Python version (please complete the following information):**
 - OS: Debian Bullseye
 - Python: 3.9.2
 - DeepDiff: 5.8.1

**Additional Context**
DeepDiv also behaves weird with 0-d-arrays

[code]
[code]

Cheers,
Volker

[2022-08-09 10:46] su9695 opened #334 "[not a bug,but help]how can i get the compare level path"
EX：
a = [1,2,3, {'c1':1,'b':'2','a':'3'}]
b = [3,4,5,{'a':3,'b':'4','c':'5'}]

d_result = DeepDiff(a,b,ignore_order=True,cutoff_distance_for_pairs=1,cutoff_intersection_for_pairs=0.7)
pprint(d_result)

result is :
{'dictionary_item_added': [root[3]['c']],
 'dictionary_item_removed': [root[3]['c1']],
 'type_changes': {"root[3]['a']": {'new_type': <class 'int'>,
                                   'n

[2022-08-10 17:26] Eric-Vignola opened #335 "Add an ignore_order to DeepHash"
It appears DeepHash ignores the order of the given object by default to compute a combined hash.

[code]

It would be incredibly useful to respect order when computing hash signatures of complex data structures, something like:
`DeepHash(x, ignore_order=False)[x] == DeepHash(z, ignore_order=False)[z] # Returns False`

Allowing dict keys as an exception would also be great to give more flexibility:

[2022-08-11 19:26] cohml opened #336 "Check equality of precompiled regex patterns"
`DeepDiff` does not currently seem able to detect differences between precompiled regex patterns.

    {}

    {}

I'm not sure if this behavior is unintended (then it's a bug) or not (then it's a feature request). [The docs](https://zepworks.com/deepdiff/5.8.1/search.html?q=regex+OR+compil*) don't seem to reference it. Either way, the output above certainly is not what you'd expect.

Note that re

[2022-08-14 02:03] seperman commented on #335
@Eric-Vignola interesting idea. Currently DeepDiff uses DeepHash to figure out identical objects before it starts digging into the ones that are not identical. Then and only then inside DeepDiff we start ignoring order between these nonidentical objects.

What you are asking also needs a rewrite into how we serialize objects. A non-trivial amount of work needs to be done for that to happen.

[2022-08-14 02:04] seperman commented on #334
@su9695 Have you looked into the tree view? https://zepworks.com/deepdiff/current/view.html#tree-view

[2022-08-14 02:04] #334 closed

[2022-08-14 02:06] seperman commented on #324
Hi @stommaso  and @cgossy
I'm waiting for pypi admins to let me publish under deepdiff package name again.
In the meantime, I'm publishing under DeepDiff6: https://zepworks.com/deepdiff/current/index.html

`pip install deepdiff6`

[2022-08-14 02:06] #324 closed

[2022-08-14 02:10] seperman commented on #316
@shencar  @degasus  Since pypi admin have been slow, I went and published DeepDiff6 under a new package name:
https://zepworks.com/deepdiff/current/

`pip install deepdiff6`

The orderset versions are loosened up a bit. Hope that helps. Please let me know if not.

[2022-08-14 02:10] #316 closed

[2022-08-14 02:13] seperman commented on #304
@sagarkrkv @jasonrberk
DeepDiff 6 is released and this issue is resolved.
Note that DeepDiff6 is published under a different package name: https://zepworks.com/deepdiff/current/#installation

`pip install deepdiff6`

[2022-08-14 02:13] #304 closed

[2022-08-14 02:14] #318 closed

[2022-08-14 06:28] seperman commented on #336
@cohml
DeepDiff needs some dev work to detect changes in precompiled regex objects. Thanks for reporting it. If you would like to make a PR to address the issue, you are very welcome to do so. Otherwise I will take a look at it when I have a chance in the next couple of months.

[2022-08-14 06:29] seperman commented on #332
@volkerjaenisch Thanks for reporting the bug. I will take a look at it when I have a chance. Of course PRs are very welcome if you would like to contribute a solution.

[2022-08-14 06:33] seperman commented on #330
Hi @badunas
I just tried your example on DeepDiff 6 and it gave me the correct result.

Note that DeepDiff 6 is installed via `pip install deepdiff6`

[2022-08-14 06:33] #330 closed

[2022-08-14 23:48] volkerjaenisch commented on #332
dear Sep!

Thank you for digging into this bug. I am handycapped by a montainbike
accident and will (typing with left) not come up with a PR soon.

Cheers,

Volker

On 14.08.22 08:29, Sep Dehpour wrote:

[2022-08-14 23:56] seperman commented on #332
oh, sorry to hear that. That sucks. I hope you will heal soon and be back on the bike.

[2022-08-15 00:09] volkerjaenisch commented on #332
Thanks for your wishes!

Your code is crucial for one of our really important customers.
Currently this bug is not surfacing in development, but in one of our
tests. And to be true it was not the test but an error in the test that
triggered the 0-d-array.

So this may be a corner case never surfacing. I thought it a good idea
to mention it - for your completeness.

So keep your hair on and do not

[2022-08-15 17:43] cohml commented on #336
Thanks for the prompt reply @seperman. I will definitely check this issue out in the near future if I too can find the time.

[2022-08-17 10:17] epou opened #338 "ValueError: valid range for prec is [1, MAX_PREC]"
**Describe the bug**
`ValueError` is raised when using "0.x" `Decimal` as value and `significant_digits` is lower than the number of decimal digits used as input.

**To Reproduce**
[code]

**Expected behavior**
* `DeepDiff(dict1, dict2, significant_digits=2)` -> Should return {}, not raise ValueError.
* `DeepDiff(dict1, dict2, significant_digits=3)` -> Should return {}, not raise ValueError.

**OS

[2022-08-18 22:35] Cerberus2012 opened #340 "Ability to get just the key (not including the root part) from a diff'd dictionary where a changed value was found"
**Describe the solution you'd like**
There's probably a way to do what I'd like to do, but the documentation is very confusing, and I'm not seeing a way to do this.

What I'd like to do is diff two dictionaries, and instead of the report telling me "root['key']", I'd like to be able to get JUST the key where the change was found not including the "root" part.

What I'm trying to ultimately do is r

[2022-08-19 16:55] BeebBenjamin commented on #340
I'm not associated with this repository, but I have the same problem.  So I use regex in something like the code below:

[code]

[2022-08-23 10:59] TheAutomationWizard opened #341 ""ignore_string_case" not working while comparing two JSON data."
**Describe the bug**
DeepDiff parameter "ignore_string_case" does not ignore diff which are same but in different case, when set to True.

**To Reproduce**
data_1 = { 'User' : { 'AboutMe' : 1, 'ALIAS' : 1 } }
data_2 = { 'User' : { 'Alias' : 1, 'AboutMe' : 1 } }
DeepDiff(data_1, data_2, ignore_string_case = True)

Buggy Output  =  {'dictionary_item_added': [root['User']['Alias']], 'dictionary_item_

[2022-08-23 11:44] seperman commented on #341
Hi @TheAutomationWizard
Thanks for reporting the bug. I will fix it when I have a chance. PR's are very welcome too.

Also please note that DeepDiff 6 is out and is installed via `pip install deepdiff6`.

[2022-08-29 15:58] patgarz opened #343 "DeepDiff 6.1.0 no longer supports Python 3.6"
**Describe the bug**
A breaking change for Python 3.6 was included in DeepDiff 6.1.0.

[code]

**To Reproduce**
`import deepdiff` in Python 3.6 with Deepdiff 6.1.0 installed

**Expected behavior**
Package imports with no error.

**OS, DeepDiff version and Python version (please complete the following information):**
 - OS: Ubuntu 20LTS and MacOS Monterey 12.5.1
 - Python 3.6.15
 - DeepDiff 6.1.0

[2022-08-29 16:30] seperman commented on #343
Hi @patgarz Thanks for reporting this.
Yeah I had technically dropped the support since the test suite doesn't include py 3.6 anymore. I'm gonna update the docs.

[2022-08-31 02:02] linkhao380 opened #344 "deepdiif works wrong while comparing two list[dict]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
expect_value = [{"id": 1}, {"id": 1}, {"id": 1}]
actual_value = [{"id": 1, "name": 1}]
DeepDiff(
        expect_value,
        actual_value,
        view="tree",
        ignore_order=True,
        report_repetition=True,
        cutoff_intersection_for_pairs=1,
        cutoff_distance_for_pairs=1,
        ve

[2022-08-31 16:21] SimonRubenDrauz opened #345 "Error passing significant digits and two numpy array containing strings"
**Describe the bug**
I have two objects I want to compare with each other. In order to do so I use your package deepdiff. So imagine you have object A and object B. In order to check, if both objects are equal, I did the following:

Doing this in case of a list of strings in \__dict__, I get the following error:

A quickfix that worked for me in self._diff_numy_array:
![grafik](https://user-images

[2022-08-31 21:52] emonsler opened #346 "DeepDiff 6.1.0 raises exception on args with datetime.date and significant_digits, previously handled correctly."
Please checkout the [F.A.Q](https://zepworks.com/deepdiff/current/faq.html) page before creating a bug ticket to make sure it is not already addressed.

**Describe the bug**
We have a test case that succeeded on prior DeepDiff (5.8.1), but fails with 6.1.0.  The traceback ends with:
[code]

**To Reproduce**
A simple test case can reproduce the failure.  It was constructed following the examples of

[2022-09-22 14:03] ethanwharris opened #351 "Delta not working when dictionary keys contain quotes"
**Describe the bug**

If a dictionary key contains a quote character (`'` or `"`) then deltas cannot be applied to it.

**To Reproduce**
[code]

Gives the following:
[code]

**Expected behavior**

[code]

**OS, DeepDiff version and Python version (please complete the following information):**
 - OS: [e.g. Ubuntu] MacOS
 - Version [e.g. 20LTS]
 - Python Version [e.g. 3.9.12] `3.9.13`
 - DeepDiff Ve

[2022-09-27 18:19] ethiy opened #352 "Type hints/stubs"
It would be really helpful to have type hints or stubs for this package to help the developer in his experience using the library*.

I have found no alternative solution, for now.

[2022-09-27 19:39] seperman commented on #352
Can you please give me an example of how type hints help the developers in using the library? I understand if they were contributing code but not very clear to me how it could improve the user experience.
Thanks,

Sep Dehpour

[2022-09-29 15:16] lpxavi commented on #272
Hi @seperman, one year later, what's happens with this feature ?
Tks

[2022-10-02 14:35] seperman commented on #272
Hi ,
This feature was added a while ago:

https://zepworks.com/deepdiff/current/exclude_paths.html#include-paths

I will close this ticket.

Sep Dehpour

[2022-10-02 19:29] jjw24 commented on #272
Fantastic, thank you.

[2022-10-10 12:13] ethiy commented on #352
I think this [article](https://realpython.com/lessons/pros-and-cons-type-hints/) synthesizes very well the issue.

[2022-10-11 07:05] seperman commented on #315
That must have been a mistake. We should make it consistent between diff and hash.
Thanks

Sep Dehpour

[2022-10-11 09:05] kad-buitea1 commented on #322
Hi,

I hope this will help.
The language in which my testcases are written is in Dutch.
So I’ll try to describe what happens.
Basis of my environment is robotframework 5 and robotframework-browser 12.4.0. Also robotframework-doctestlibrary 0.2.0.20220325161430.

There are 2 testcases in klic_viewer_print_deepdiff_suite.robot.
The first one should pass (just to check that whatever you tried works).

[2022-10-12 23:25] seperman commented on #322
Hi @Zeutschler and @kad-buitea1
This looks like a bug. DeepDiff should keep track of the "ID" of the objects it has already visited so even if there is a self reference, it should not get into the recursion. It seems like in this case there is a bug where somewhere we don't keep track of an object. But in order for me to debug this, I need to be able to reproduce it. If you look at our test cases,

[2022-10-17 13:16] walterschneider opened #353 "deepdiff 5.8.x not installable in a python3.6 environemnt"
Trying to install deepdiff using pip fails

**Description**
deepdiff 5.8.1 is declared to support python3.6, requires  ordered-set<4.2.0,>=4.1.0 which is not

**To Reproduce**

[code]

**Expected behavior**
5.8.x should depend on ordered-set<4.1.0 if possible (not using features from 4.1.x)
or
remove python3.6-tag to deploy rev. 5.7.0 to pyhton3.6 users

**OS, DeepDiff version and Python version:*

[2022-10-18 06:37] seperman commented on #353
Hello @walterschneider
Python 3.6 is deprecated and we don't support it anymore. Also DeepDiff 6.2.1 is released. It needs at least python 3.7.

[2022-10-18 06:37] #353 closed

[2022-10-19 11:58] BenjaminStuermer commented on #346
I have encountered the same issue after upgrading to 6.1.0.

[2022-10-19 18:54] ptrcnull opened #354 "Version 6.2.0 / 6.2.1 is not tagged in the git repository"
**Describe the bug**
as in title

**To Reproduce**
[code]

**Expected behavior**
git tag exists

[2022-10-21 11:31] uwefladrich opened #355 "6.2.1 breaks Deltas for dicts with dateutil.rrules"
**Describe the bug**
Since deepdiff 6.2.1, creating a `Delta(DeepDiff(...))` from dicts containing dateutil.rrule objects results in an `TypeError`. Versions 5.8.1 and prior (tested 5.6.0, 5.7.0) work.

**To Reproduce**

[code]
results in
[code]

**Expected behavior**
No error should occur and the above test case should result in:
[code]

**OS, DeepDiff version and Python version (please complete

[2022-10-21 11:39] uwefladrich commented on #355
It seems that things go wrong somewhere at the interface between `deepdiff` and `difflib` (introduced in b0a70d3). It appears that someone thinks that every iterable should have a `len()`. At least that is how I understand it at a first glance. Indeed, `dateutil.rrule.rrule` does _not_ have a `len()`. And I guess that other objects without `len()` could end up in this place as well?

[2022-10-21 11:50] uwefladrich commented on #355
`difflib.SequenceMatcher` (see [here](https://docs.python.org/3/library/difflib.html#difflib.SequenceMatcher), used [there](https://github.com/seperman/deepdiff/blob/093949f7be4f3e6fecf38a35b3a535955a8c6beb/deepdiff/diff.py#L863)) requires two _sequences_ as arguments (which necessarily have a `len()`). However, it seems that the passed arguments in this case are "only" iterables, not sequences.

[2022-10-21 12:32] uwefladrich commented on #355
Note to (at least) myself, for reference:

- iterable: `__iter__()` or `__getitem__()`
- sequence: iterable + `__len__()`

[2022-10-30 06:11] seperman commented on #354
Ok I did 6.2.1
Thanks

[2022-10-30 06:11] #354 closed

[2022-10-30 06:14] seperman commented on #355
Hi @uwefladrich
Thanks for reporting the issue. Interesting, I had never used `rrules` before.
I will look at it when I have a chance.

[2022-10-30 06:17] seperman commented on #351
Hi @ethanwharris
Thanks for reporting the issue. My guess is that it is a bug on https://github.com/seperman/deepdiff/blob/master/deepdiff/path.py without looking at the code.

Also please feel free to uninstall `deepdiff6` and install `deepdiff` so you get `6.2.1`

If you have time to look into the issue, that would be great. Thank you!

[2022-10-30 16:50] ptrcnull commented on #354
thanks!

[2022-10-31 09:54] uwefladrich commented on #355
Hi @seperman , thanks for your answer!

I agree that ``rrules`` are kind of odd, but as mentioned above, I am afraid every _iterable_ that happens not to be a _sequence_ is affected. I do not have a feeling how common this is, though.

I am willing to dig a bit further into this and contribute. I might need some advice when it comes to details of the deepdiff implementation, but lets see how far I

[2022-11-07 12:41] uwefladrich commented on #355
Some progress on this:

- The issue is not really about `Delta`, the problem is within `DeepDiff`
- I have added a test that fails with everything currently after b0a70d3ae5e279855f1ce2d7d2817a0b5f1a028c
- A rather straight forward solution is to check for non-sequences and fall back to `_diff_by_forming_pairs_and_comparing_one_by_one` for these cases

Not sure that this is the most appropriate so

[2022-11-26 19:10] keighrim opened #357 "when accessing property raises an exception"
**Describe the bug**
Deepdiff 5.8.1 added support for comparing `@property` values, but when calling a `@property` getter raises an exception (for some reason), deepdiff doesn't perform a comparison.

**To Reproduce**
[code]

**Expected behavior**
deepdiff compares exceptions from two objects and checks if they are the same exception. Or have an option to change the behavior to do so.